[2020-05-21 11:55] rrennick commented on #556
@helgatheviking Thanks for the suggestion. That would make a good addition to the documentation.

The migration works this way. Since we don't have that doc yet, two files you could look at are https://github.com/woocommerce/action-scheduler/blob/master/classes/migration/Scheduler.php and https://github.com/woocommerce/action-scheduler/blob/master/classes/migration/Runner.php

[2020-05-21 14:37] helgatheviking commented on #556
Thanks @rrennick I think I have been missing 2 parts... 1. the update task appears to launch a sub-task that does the actual DB updates in batches. and 2. unscheduling the update task when all the sub-tasks are done. I'll tinker with that today and see what I get.

[2020-05-22 14:17] helgatheviking commented on #556
@rrennick Here's a non-destructive, minimal example. I didn't _fully_ understand how to use the `Store` so some doc there would be cool, but I did figure out the gist of it.

NB: Needs error logging on to see any result:

[code]

Related to this, it could be a cool feature for AS to have some kind of `schedule_batch()` function.... if in your callback you return a boolean for some kind of completi

[2020-05-22 14:33] rrennick commented on #556
We implemented [action dependencies](https://github.com/woocommerce/woocommerce-admin/tree/master/src/Schedulers) in WooCommerce Admin to ensure the order data is imported. It's possible that could be ported to a future version of AS.

This is an interesting idea. The initial barrier for it is that `do_action` doesn't return a value but we might be able to create a `BatchAction` class that handles

[2020-05-22 14:59] helgatheviking commented on #556
I just noticed in WooCommerce's install class that the scheduled callbacks are wrapped in a before/action functions [here](https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-install.php#L223)

[code]

with the result being sent to `run_update_callback_end()` after function and being used there to re-schedule. That's realllllly close to what I was describing, except that a `bo

[2020-05-22 18:28] Gabriel-BIOS opened #557 "My WooCommerce has a fatal error, can someone help me with this error?"
Fatal error: Uncaught RuntimeException: Error saving action: Error saving action: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Unclosed quotation mark after the character string 'O:30:"ActionScheduler_SimpleSchedule":2:{s:22:"'. in C:\xampp\htdocs\BIOSGarden\wp-content\plugins\woocommerce\packages\action-scheduler\classes\migration\ActionScheduler_DBStoreMigrator.php:44 Stack trace: #0 C:

[2020-05-22 18:32] rrennick commented on #557
@mendizzz The cross section of people using MS SQL and Action Scheduler is probably quite small. You might have better luck finding someone using MS SQL & WordPress on StackExchange or similar whose familiar with that MS SQL error.

[2020-05-22 18:39] mendizzz commented on #557
Do you know how I can make a website on wordpress using the database? I've been looking for a while ...

[2020-05-22 18:56] mendizzz commented on #557
@rrennick Do you know how I can make a website on wordpress using the database? I've been looking for a while ...

[2020-05-22 19:11] rrennick commented on #557
@mendizzz I can't offer you much help there. The last version of MS Windows I worked with was 2005 Advanced Server.

[2020-05-24 09:25] phylogram opened #558 "\ActionScheduler_StoreSchema::get_table_definition() is not mutlisite compatible"
Using woocommerce action-scheduler in multisite-mode leads to following error notice and fatal php error (it is cut from nano, but I guess it shows enough information):
`[< a date >] WordPress-Datenbank-Fehler Table 'ngojobseu.wp_3_actionscheduler_actions' doesn't exist f  r Abfrage SELECT a.action_id FROM wp_3_actionscheduler_actions a WHERE a.hook='action_schedule$
[< a date >] WordPress-Datenba

[2020-05-24 09:44] #558 closed

[2020-05-24 09:45] phylogram commented on #558
Just found in https://actionscheduler.org/faq/ , that it is by choice. However some warning would be nice.

[2020-05-25 12:04] rrennick commented on #558
@phylogram Sorry to hear you had an issue in multisite.

Our unit test suite runs every change set against both single WP and multisite (eg. https://travis-ci.org/github/woocommerce/action-scheduler/builds/657160369).

[2020-05-25 14:48] phylogram commented on #558
@phylogram  Thanks – I will have a look at the tests. Maybe I find out there, what you did right and I did wrong. If it is another issue of general concern, I will let you know.

[2020-05-26 12:05] LGx0 commented on #557
`
Fatal error: Uncaught RuntimeException: Hiba Hiba Table 'b10850.wp0z_actionscheduler_actions' doesn't exist feladat mentésekkor feladat mentésekkor in /web/htdocs4/szegedicukraszdainfo/home/www/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php:44 Stack trace: #0 /web/htdocs4/szegedicukraszdainfo/home/www/wp-content/plugins/woocommerce/

[2020-05-26 12:38] rrennick commented on #557
@LGx0 That's not the same error message and is unrelated to the original issue. The issue you created a few weeks ago was #540. Please provide the feedback I requested on that issue.

[2020-05-26 18:09] rrennick commented on #555
@DevKishan I'm closing this due to lack of feedback. If you do want to follow up on this, you can still comment on the issue.

[2020-05-26 18:09] #555 closed

[2020-05-26 18:11] rrennick commented on #554
@balachandar-git I'm closing this due to lack of activity. Let us know if you have any further questions.

[2020-05-26 18:11] #554 closed

[2020-05-27 17:20] slaFFik commented on #555
To those coming to this thread from a GH/google search.

The issue is not in the WPForms plugin, but in different Action Scheduler library versions that bundled inside different plugins.

WPForms bundles AS 3.1.6 (and uses async tasks - thus registering them and displaying in a table), the plugin that was named as `sample-plugin-using-action-schedulers` above - AS 3.1.4.
All AS lib versions below

[2020-05-28 11:17] phylogram commented on #558
@rrennick I found the issue and a solution. I do not have time now to see if this is covered by your tests, but I guess you will see this in a second:

Issue: First install on multisite works well. In the second (3rd, …) install, the plugin looks up the option in the database blog-agnostic and finds there is no reason for a schema update. Unfortunately, this is for the wrong w-prefix.

My solution

[2020-05-28 11:38] rrennick commented on #558
@phylogram There is an `_options` table for each site so in normal use in multisite the a different table is checked for each site. You'll need to investigate why `get_option` is using the same set of options for all your sites.

[2020-05-28 11:42] phylogram commented on #558
@rrennick
 After uninstall and reinstall I am not able to reproduce the issue. Sorry to bother you. There must have been some other quirks on our site, though it was a fresh install. Thanks for your time!

[2020-05-28 12:39] rrennick commented on #558
@phylogram Good to hear. Thanks for the followup.

[2020-05-28 16:53] crstauf opened #564 "Improve "Scheduled Date" for async actions"
Yesterday I was providing support to a client, and took a look at the Scheduled Actions page, and saw several actions with `0000-00-00 00:00:00` in the _Scheduled Date_ column. Initially I thought something was wrong, but then recalled that particular hook was running asynchronously.

Is it objectionable to change the value of the _Scheduled Date_ column for async actions to something that is not

[2020-05-28 22:24] danieliser opened #565 "Fix inconsistencies with how as_unschedule_action works"
The `as_unschedule_action` function seems to have a few awkward qwerks in that it accepts clearing all by hook, all by group, but not both which seems inconsistent.

https://github.com/woocommerce/action-scheduler/blob/master/functions.php#L103-L121

Consider the following:

[code]

Two options:

1. Introduce a new method in abstract/ActionScheduler_Store.php

[code]

2. Modify the existing method

[2020-05-29 01:03] james-allan opened #566 "Total process for migration? Is it failsafe?"
The original issue over on WC Subscriptions: https://github.com/woocommerce/woocommerce-subscriptions/issues/3697

From @jonathan-dejong

The script works great. However it would've been super nice with a periodic "check in" output of how far along the migration process has come. I've ran it for a few hours now and it's not done but I can't tell the client when it'll be done either (for being able

[2020-05-29 05:14] thenbrent commented on #564
No objections from me. I thought I did include patches to display something like _async_ instead of a zero date, but must have missed it.

[2020-05-29 05:57] crstauf commented on #564
Possible client wasn’t using the latest version; I’ll confirm and report back.

[2020-05-29 11:10] rrennick commented on #564
The latest version still has the date time.

`async` would work for me.

[2020-05-29 17:38] rrennick commented on #565
@danieliser Thanks for reporting this. There is an open PR for addressing this #475 which should be merged next week.

[2020-05-29 20:38] danieliser commented on #565
@rrennick - I don't think that is correct. #475 is in regards to `as_unschedule_action`, my suggestion is in regards to `as_unschedule_all_actions` and allows unhooking all actions with a specific hook/group combination.

[2020-05-29 20:39] danieliser commented on #565
Happy to submit a PR as well, just wasn't sure which way would be preferred.

[2020-06-01 08:09] LGx0 commented on #557
what do i have to give?

[2020-06-01 08:10] LGx0 commented on #540
Doesn't exist, how do I create it?

[2020-06-01 16:30] crstauf opened #568 "Identify in-use data store"
Is there a non-programmatic way of determining which data store is in-use?

By non-programmatic, I mean not getting the class name of `ActionScheduler_Store::instance()`. This would be helpful to someone troubleshooting or performing an audit that doesn't have code-level access, or in a case where someone would rather not making code changes on a production environment.

There are a few options I

[2020-06-02 06:11] danieliser commented on #565
@rrennick can we reopen this given the differences above?

[2020-06-02 12:19] rrennick commented on #565
@danieliser Reopening. But we need to be aware that AS supports custom data stores and this sort of change needs to be compatible with existing custom stores.

[2020-06-02 13:48] crstauf commented on #368
For those ending up here from their WordPress Dashboard wondering what the hook name is, it is (currently) `action_scheduler/cleanup_wp_comment_logs`.

[2020-06-02 18:35] rrennick commented on #540
If you visit the Tools -> Scheduled Actions screen Action Scheduler will attempt to create the tables. If you still don't see the tables in your database, contact your hosting support to see if they can help you identify what is preventing the tables from being created.

[2020-06-02 19:44] crstauf commented on #431
@slaFFik Note that this has been resolved and will be available in [3.2.0](https://github.com/woocommerce/action-scheduler/tree/version_3_2_0).

[2020-06-02 20:45] jessLundie opened #570 "Potential GTID_MODE conflict causes database error and timeouts for scheduled actions"
Related ticket: 3004672-zen

**Issue**

Scheduled actions were not processing - timeout errors.

Site is hosted by NameCheap on their EasyWP hosting plan. Hosting support reports that `GTID_MODE` enabled by default MySQL with this plan, and cannot be disabled. They were able to resolve this by changing the MySQL engine from MyISAM to InnoDB.

**Other Information**

[code]
Hosting support team pass

[2020-06-03 13:13] raffor14c opened #571 "WooCommerce issues with e-mail marketing tools"
Hello guys,
WooCommerce is driving me mad. I cannot sync e-mail marketing plug-in (such as MailChimp or MailerLite).

At first, I tought was a MailChimp problem so I contact the support sending them the WooCommerce system status report, Fatal Error Logs and mailchimp_woocommerce logs. They reach be back saying everything looks fine form MailChimp side and the problems is WooCommerce related.

I tr

[2020-06-03 14:11] rrennick commented on #571
@raffor14c Can you explain how this is related to Action Scheduler?

[2020-06-03 14:28] rrennick commented on #570
@jessLundie Thanks for reporting this.

Given that is a simple insert statement and shouldn't be an operation broken into two internal queries probably the only way to resolve would be to update the storage engine on table create. I'll need to do some research on how that might affect performance.

[2020-06-03 18:22] crstauf commented on #549
@rrennick Submitted PR.

[2020-06-03 18:24] rrennick commented on #566
@jonathan-dejong The migration picks up where it left off.

Thanks for the suggestion. Currently the way of ball parking how long the migration will take with WP CLI is take the total number of actions / 100 then multiple that number by how long one cycle (progress bar) of migration takes on your server.

[2020-06-03 18:59] crstauf commented on #537
My thoughts:

1. Changing the format of the timestamp on WooCommerce system status would mean that WooCommerce support staff have to interpret many possible formats, and the format may not include potentially helpful values (ex: offset).

2. This makes more sense on the Scheduled Actions table, but even in that context, a readout of `Thursday, December 23rd, 2019 9:00:00 AM UTC` would take a lot m

[2020-06-03 19:28] #568 closed

[2020-06-04 06:58] danieliser commented on #565
@rrennick  - Since we can't break the method signature due to existig child classes, either a new method or simply a new helper function are the options.

I'm happy to explore either, though for compatibility a function that simply queries based on hook/group combo and bulk deletes them might be simplest/best approach. That is use existing mechanics.

[2020-06-04 10:13] AashikP commented on #519
Not sure if this should be posted in https://github.com/woocommerce/woocommerce-admin/issues/4255

Posting it here as the user in 3017746-zen is also on `MySQL 5.7.28-nmm1-log`

Further discussions in p1591264280258300-slack-woo-team-ohana

For now, I'm requesting them to temporarily install [Action Scheduler - Disable Default Queue Runner](https://github.com/woocommerce/action-scheduler-disable-d

[2020-06-04 11:57] rrennick commented on #519
@AashikP The issue where WC Admin creating the high number of actions was unrelated to this MySQL NO_ZERO_DATE issue. The issue here is investigating a situation where no actions could be created.

[2020-06-04 13:24] kroken123 commented on #482
I have the same issue, how did you solve this?

[2020-06-04 13:29] shoutcloudstudios commented on #541
This is a critical need... this amount of logfile data just brought down one of my server due to disk space. Please consider building something into the plugin to manage this.

[2020-06-04 14:08] rrennick commented on #541
@shoutcloudstudios The source issue for this was in the WooCommerce Admin version in WooCommerce 4.0. If you update to the latest version of WooCommerce you should not be seeing the large number of actions being created.

[2020-06-04 14:27] abhishek-pokhriyal commented on #541
@rrennick Not sure but I think a similar issue is with Follow-up Emails too. I upgraded to `WC 4.1.1 `and FUE to `4.9.1` and cleared all the completed FUE actions. A few days later this is how my FUE actions are looking:
![image](https://user-images.githubusercontent.com/11808845/83769273-47a08580-a69d-11ea-9cc7-ae0bd34e9f4e.png)

The rate at which the new actions are being generated is certainly

[2020-06-04 17:03] rrennick commented on #541
@abhishek-pokhriyal For Follow Up Emails contact support at https://woocommerce.com/contact-us/.

[2020-06-07 01:22] danieliser commented on #519
So I've been testing this today as I found the issue and found our test servers using `NO_ZERO_DATE` and `NO_ZERO_IN_DATE`.

- I can see 2 `auto-draft` posts that have the `0000-00-00 00:00:00` set for `post_date_gmt`. So $wpdb is able to get them in somehow.
- I can't locally run inserts locally (see below).
[code]
Results in `1292 - Incorrect datetime value: '0000-00-00 00:00:00' for column 'pos

[2020-06-07 14:27] diablodale opened #574 "wpcli `migrate` subcommand disappears after one use, help disappears, and not like `wp wc update`"
`migrate` subcommand disappears after one use, its help disappears, and it behaves differently than commands like `wp wc update`.

https://github.com/woocommerce/action-scheduler/blob/f3a13eb9b5c9b1f06db1144caa219202c27deef6/classes/abstracts/ActionScheduler.php#L169-L172

## Setup

* Woo 4.2.0 which includes Ac 3.1.6
* Also reproduces on current Ac master as linked above

## Repo

1. Install a co

[2020-06-08 08:35] rrennick commented on #519
@danieliser Thanks, I'll have a look.

[2020-06-08 08:38] rrennick commented on #574
@diablodale Thanks for the suggestion. Once to migration is complete the migrate command is no longer registered. I saw another mention of this elsewhere.

[2020-06-10 21:11] joebillings opened #576 "Multisite causes huge actionscheduler_logs table"
Hey all, this is more a general query I guess. I've set up a multisite of cloned sites for a client and in the process have made a direct copy of all the tables (excluding the ones that I know aren't needed) from main to wp_N.

While I was working on this I noticed a bunch of errors in the error log complaining of missing actionscheduler tables  so I've included them in the clone process but have

[2020-06-11 12:08] rrennick commented on #576
@joebillings Sorry to hear you're having an issue with cloning. That sounds like an issue with the cloning process and you should contact support for that plugin.

[2020-06-11 12:08] #576 closed

[2020-06-11 23:44] angular12 opened #577 "Updated woocommerce => "There has been a critical error on your website.""
Upgraded woocommerce today because there was 5gigs of error messages generated by woocommerce in a week.  The upgrade disabled the entire website. "There has been a critical error on your website." Can't even access the dashboard.

Searching I found the same errors reported from 3 months ago?!? and yet the current woocommerce update is still nuking websites? Wow.

Is it still the solution to insta

[2020-06-12 10:46] joebillings commented on #576
Hi @rrennick - I'm not using a plugin to do this. Can you let me know if the table is required or whether actionscheduler runs everything through the original tables. I noticed another issue and it seemed to suggest that the error about the missing tables was incorrect. Any help is much appreciated.

[2020-06-12 11:33] crstauf commented on #576
@joebillings What’s the version of Action Scheduler?

[2020-06-12 11:45] joebillings commented on #576
@crstauf v3.1.6 according to the woo status page.

[2020-06-12 13:02] rrennick commented on #576
If you are manually copying the site then instead of copying the tables, visit the Tools -> Scheduled Actions screen of the new site.

[2020-06-12 14:14] JulioNobre commented on #557
Today, after updating several outdated WordPress's plugins, our internal wordpress website started to behave exactly as @mendizzz  reported above.
Tracing our SQL Server database commands using Microsoft SQL Server Profiler I was able to assess that sql command LIMIT clause was causing an exception. Further digging, led me to a conclusion: commands sent database engine are based on MySQL language

[2020-06-12 14:30] joebillings commented on #576
I'm copying the tables programmatically when a new multisite is created. If I go to the Tools -> Scheduled Actions before cleaning the table of 'action ignored via WP Cron' entries (4m rows today) I get an out of memory error.

I just deleted all the "ignored" entries and I see this:

<img width="1019" alt="Screenshot 2020-06-12 at 15 22 46" src="https://user-images.githubusercontent.com/411367/84

[2020-06-12 14:37] joebillings commented on #576
Ok, I manually deleted the entries in wp_5_actionscheduler_actions and it's stopped them from running. They were all marked as complete but I guess something somewhere isn't seeing that they're complete so attempting them again and again.

[2020-06-12 14:49] joebillings commented on #576
I'll run some tests by spinning up a new multisite that isn't a clone to see what the difference is. I'm guessing there's an entry somewhere that specifies what site the background process is running on and it's still set to the main site that was cloned. When the background process code checks to see if the process is complete it's probably looking in the main site's actionscheduler table and can

[2020-06-12 15:11] rrennick commented on #557
@JulioNobre This is the repository for Action Scheduler. If your SMTP plugin is from WordPress.org, you can find a link to the support forum for the plugin on the plugin page.

[2020-06-12 15:16] rrennick commented on #576
Action Scheduler supports multisite so this wouldn't be the issue unless you have another plugin that is switching the site context in a non-standard way.

If you are copying the tables it would probably be best if the AS tables were empty.

[2020-06-12 15:38] joebillings commented on #576
Ah of course - it'll be copying the running processes at the time. I'll copy the tables and clear the data. Thanks for the tip.

[2020-06-14 09:02] slaFFik commented on #557
@rrennick This is indeed an AS lib issue, not the WP Mail SMTP plugin.

[2020-06-14 12:51] sanzeeb3 opened #578 "PHP Notice on list table"
Full Notice:

The notice appears if there's no bulk action to do. To reproduce the issue, go to the list table (/wp-admin/tools.php?page=action-scheduler) and click on the 'Apply' button.

[2020-06-15 08:31] JulioNobre commented on #557
Good norming @rrennick.

Last week I've opened a case on **WP Mail STMP** plugin support team and provided them the details of my exception.
Since then, @slaFFik analysed it and told this seems to be a **Action Scheduler** issue.
For further details, please check https://github.com/awesomemotive/WP-Mail-SMTP/issues/73

[2020-06-15 11:29] rrennick commented on #557
@JulioNobre Would you be able to submit a pull request?

[2020-06-15 15:51] JulioNobre commented on #557
After replacing **MySQL**'s **LIMIT** clausule by corresponding **SQL Server 2012** (check attached zip changeset file), tracing using **SQL Server Profiler**, I was able to assess that table **wp_actionscheduler_actions** does not exist.

Regarding to **WP ActionScheduler** specific tables, I only have the following ones:

- wp_actionscheduler_claims
- wp_actionscheduler_groups
- wp_actionschedul

[2020-06-17 05:35] sanzeeb3 opened #580 "Callee still doesnot properly validate if the action exists"
Referring to this statement:

https://github.com/woocommerce/action-scheduler/blob/c98e384c6401edde7d57d97b6d3681e34353c0db/classes/ActionScheduler_ListTable.php#L471

Failing to validate the action is resulting in the error if the canceled action is attempted to delete manually.  It seems the canceled action is deleted on the background, so if it is attempted to delete, the error appears because

[2020-06-18 09:42] LGx0 commented on #540
I can't find anything there, I'll upload and install it, but it gives the error mentioned above.

[2020-06-18 12:05] rrennick commented on #540
Which plugin are you uploading?

[2020-06-18 12:10] rrennick commented on #580
@sanzeeb3 These steps don't produce an error in my install. Can you post your WooCommerce System Status Report?

[2020-06-18 15:47] rrennick commented on #578
I don't get a notice when I follow these instructions. Can you test this with just Action Scheduler or WooCommerce active?

[2020-06-18 16:10] rrennick commented on #574
Addressed in #575

[2020-06-18 16:10] #574 closed

[2020-06-18 16:12] #564 closed

[2020-06-18 16:17] rrennick commented on #571
Closing for lack of feedback. We can re-open if needed on followup.

[2020-06-18 16:17] #571 closed

[2020-06-18 16:18] rrennick commented on #553
Addressed in #562

[2020-06-18 16:18] #553 closed

[2020-06-18 16:19] rrennick commented on #417
Addressed in #475

[2020-06-18 16:20] #417 closed

[2020-06-18 16:20] rrennick commented on #431
Addressed in #476

[2020-06-18 16:20] #431 closed

[2020-06-18 16:48] sanzeeb3 commented on #578
I missed a step to write. go to the list table, select action(s), and click on the 'Apply' button.

[2020-06-18 16:55] rrennick commented on #578
@sanzeeb3 I tried that as well before asking for clarification. Have you confirmed it happens when only AS or WC are active?

[2020-06-18 17:16] crstauf commented on #578
I just tested on `version_3_2_0` with only Action Scheduler active, and received the error.

[code]

[2020-06-18 19:16] rrennick commented on #578
@crstauf Thanks for the confirmation.

Sorry, I tried choosing from the dropdown. I do see the notice when selecting actions but not an action to apply.

[2020-06-18 19:19] #578 closed

[2020-06-19 05:02] sanzeeb3 commented on #580
@rrennick, actually I don't have WooCommerce installed. but that error is obvious when you attempt to delete the action that does not exist anymore. So, to reproduce: stay on 'All', cancel a pending action, the same action appears with 'cancelled' status, wait for a minute (I don't know exactly when cancelled action gets automatically deleted on the background), delete that (or all) actions.

[2020-06-22 11:34] strarsis opened #583 "[docs] Where to set timeout?"
The default timeout is 300 seconds (by Action Scheduler).
The VHost supports much longer timeouts,
how can I change that timeout to something higher, e.g. 600 seconds?
It may also be a good idea to add this to the documentation.

Why not set the Action Scheduler timeout to PHP max execution time?
[code]

[2020-06-22 11:45] rrennick commented on #580
Canceled actions are purged 30 days after their schedule date. Do you have a filter set up for them to be removed right away?

[2020-06-22 11:50] rrennick commented on #583
Some hosting environments are set up where a resource limiting process runs on the server and the PHP execution time setting isn't reliable.

See https://actionscheduler.org/perf/

[2020-06-22 11:50] #583 closed

[2020-06-22 13:00] strarsis commented on #583
After increasing the timeout, some tasks still time out with the following reason:
[code]
Was the timeout too high and the task runner PHP script terminated without being able to store the soft time out?

[2020-06-22 13:13] rrennick commented on #583
@strarsis That's most likely the reason.

[2020-06-22 22:13] joebillings commented on #576
FYI - I found the cause of the issue. The constraints on the duplicate wp_wp_download_log table weren't being created because the duplicate wp_32_woocommerce_downloadable_product_permissions table hadn't yet been created. I can now confirm that when the constraints are in place the scheduler behaves as expected. Just in case that helps anyone else :)

[2020-06-23 05:25] sanzeeb3 commented on #580
It seems that it isn't happening. Canceled actions are being removed after 30 seconds or so (or even immediately). I don't have any filter setup for that. I also checked with only AC active where I canceled a pending `action_scheduler/migration_hook` action and delete after a few seconds. Even with that, it might be logical to check if action exists because, after 30 days when you are visiting the

[2020-06-23 11:54] rrennick commented on #576
@joebillings Thanks for the follow up.

[2020-06-23 11:56] rrennick commented on #580
Action Scheduler does remove the `action_scheduler/migration_hook` action when the migration is complete.

[2020-06-23 12:46] sanzeeb3 commented on #580
I mean the issue is for all canceled actions, not completed. `action_scheduler/migration_hook` is only for an example. if you cancel this and attempt to delete after some time, you'll see a fatal error.

[2020-06-23 15:55] rrennick commented on #580
Can you check your `wp_options` table for a `action_scheduler_migration_status` setting?

[2020-06-24 03:21] sanzeeb3 commented on #580
yeah, `action_scheduler_migration_status` is complete. but that doesn't justify anything. I mean this issue for every canceled status. You can reproduce the issue on every install. I repeat the steps. Stay in 'All', 'Cancel a pending action', 'wait for a few time', 'delete that(or all)' action. I've not used any filter.

This isn't happening. Canceled actions are removed after a few seconds (not d

[2020-06-24 12:15] rrennick commented on #580
@sanzeeb3 I tested with the following

- create a new test action pending for tomorrow
- went to the last page of All actions
- canceled the action
- waited approximately 15 minutes
- checked just that canceled action
- deleted through the bulk actions

No errors on screen or in the error log and the action was deleted.

[2020-06-24 15:19] sanzeeb3 commented on #580
@rrennick oh. For context, I'm creating a recurring action if that is any exception, with the following.

[code]
Please let me know if there's anything wrong with that. I'll debug the whole issue later.

[2020-06-24 16:21] rrennick commented on #580
@sanzeeb3 I tried with a recurring action and had the same result. Have you tried this in an install with only Action Scheduler active?

[2020-06-24 17:33] sanzeeb3 commented on #580
yes, I tried with a fresh WP install with only Action Scheduler, and that code snippet active. Actually, I see this issue on every other install as well. I'll get details about the issue later. Thanks!

[2020-06-25 07:07] sanzeeb3 commented on #580
@rrennick

It seems canceled and completed actions are purged 30 days after the modified date, and not scheduled date [see here](https://github.com/woocommerce/action-scheduler/blob/master/classes/ActionScheduler_QueueCleaner.php#L44). The cutoff date (30 days) is compared with the last_attempt_gmt. The completed actions have the last_attempt_gmt, but canceled actions don't (https://a.supportally.

[2020-06-25 12:46] rrennick commented on #580
@sanzeeb3 Thank you for tracking that down.

[2020-06-25 15:10] strarsis opened #584 "Dependent actions"
How is the Action Scheduler handling task dependencies?
Will the actions executed in order (when not forced in CLI)?
I have to run three kinds of actions, the first actions fetch WordPress items,
the third action should then correlate the fetched items (as taxonomy term, product attribute, featured image, etc.).
However, I have to run two full action runs because apparently the order/dependencies

[2020-06-25 15:18] crstauf commented on #584
@strarsis I believe #205 answers your question.

So long as you schedule them in the proper order, AS should maintain that order when executing.

[2020-06-25 15:34] strarsis commented on #584
@crstauf: So the group that can be specified is used for better managing the scheduled actions, but has no influence on the execution order?

[2020-06-25 16:06] crstauf commented on #584
@strarsis That is my understanding.

The most functional use of groups I'm aware of is running CLI runners for specific groups: keeping your actions in the same group would ensure they ran in the correct order.

|Hook|Group|Time|
|---|---|---|
|hook_a|group_a|17:00|
|hook_b|group_a|17:00|

With that example if you ran `wp action-scheduler run --group="group_a"`, `hook_a` would run before `hook_b`.

[2020-06-25 16:08] strarsis commented on #584
And when just the actions are run without any group specified, then only the order of the actions will matter?

[2020-06-25 16:09] crstauf commented on #584
@strarsis Yes, first by scheduled date/time, and secondly by scheduled action ID.

[2020-06-25 16:13] strarsis commented on #584
@crstauf: When a scheduled action handler itself schedules new actions, would these actions inherit its priority and run right after the handler action?

[2020-06-25 16:38] crstauf commented on #584
@strarsis Based on what you describe in OP, here's a similar situation I'm dealing with, that I think is similar to yours and will hopefully be helpful:

1. Get an array of content IDs
1. Get the content for each ID
1. Publish the new content

I've not started this yet (so it's unproven), but here's what I'm planning to do:

[code]

There's lots more to actually do (validation, maybe implement cou

[2020-06-25 16:48] strarsis commented on #584
Enqueue them as async actions? Can these also be enqueued as something different? 🐱

[2020-06-25 16:53] crstauf commented on #584
@strarsis Can you please provide more detail? At this point, perhaps you should describe in more detail what it is you are trying to do, or start experimenting and see what works and what doesn't.

[2020-06-25 16:55] strarsis commented on #584
@crstauf:

So scheduled actions without a date/time are called "async actions" and scheduled actions with a date/time in the past/future are considered "scheduled actions"?

[2020-06-25 16:58] rrennick commented on #549
Addressed in #572

[2020-06-25 16:58] #549 closed

[2020-06-25 16:58] rrennick commented on #540
Closing for lack of feedback.

[2020-06-25 16:58] #540 closed

[2020-06-25 17:01] crstauf commented on #584
Technically they're not scheduled, they're enqueued.

Yes.

[2020-06-25 17:25] strarsis commented on #584
Thanks for the explanation!

The goal:
An API has two endpoints and offers two lists of entities.
Entity A has a field with an ID of entity B.
First, both entities have to be fetched from the API (and modeled as post/term/etc.) and
then both have to be linked/dereferenced, e.g. by assigning the post to the term.
So first both tasks for fetching the entities have to be completed, only then the thir

[2020-06-25 17:35] crstauf commented on #584
You're welcome! 🙇

[2020-06-25 17:38] crstauf commented on #394
This issue is closed (see @rrennick's comment: https://github.com/woocommerce/action-scheduler/pull/507#issuecomment-649536142).

[2020-06-29 07:20] abhishek-pokhriyal commented on #368
@crstauf So, I can run the following command to clear the comments?

[code]

[2020-06-29 12:30] rrennick commented on #584
@strarsis For that type of dependency you can schedule the second action at the end of the first one as an async action.

[2020-06-29 13:13] strarsis commented on #584
@rrennick: Could you give me an example so I can be sure that I really use that approach? :)

[2020-06-29 13:44] rrennick commented on #584
[code]

[2020-06-30 08:00] corsonr commented on #537
good point @crstauf

[2020-07-01 07:52] madeincosmos opened #585 "Action schedule in database contains non-UTF characters, errors when editing the action manually"
### Reported in
3095470-zen

### What I expected
To manually edit an existing action in site database.

### What happened instead
The schedule field contains some non-UTF characters which don't save properly when I update the record:

[code]

![Screenshot](https://d.pr/i/CdZtQy+)
Screenshot: https://d.pr/i/CdZtQy

Whenever I save such action, it no longer shows on the Scheduled Actions list in WP

[2020-07-01 11:52] rrennick commented on #585
@madeincosmos Those are `null` characters. When PHP serializes an object it uses nulls as delimiters. Serialized objects with embedded nulls cannot be editing manually in phpMyAdmin.

[2020-07-01 11:52] #585 closed

[2020-07-02 12:22] strarsis commented on #584
So there is this call structure:
[code]
So the first hook creates a sub hook. That sub hook should run before the second hook! Is this possible?

[2020-07-02 13:11] crstauf commented on #584
@strarsis It would depend on the schedule times.

[2020-07-02 13:14] crstauf commented on #584
@strarsis It’s possible, but not dependable. The runner claims actions to run, so if the first and second action are claimed, even though the async actions have an earlier time, they’ve not yet been claimed, so the second action would like run before the async actions.

[2020-07-02 14:04] strarsis commented on #584
@crstauf: Any elegant solution to this? It is nice that action handlers can spawn own actions, now I need to chain them.
Example: An API offers a list of taxonomies and a list of posts and a third endpoint for a post-taxonomy mapping.
The WordPress plugin fetches the taxonomies and the posts in two separate tasks,
then for each post a separate action is spawned to fetch the post-taxonomy mapping f

[2020-07-02 14:26] crstauf commented on #584
@strarsis Something like this I think should work.

1. Get taxonomies
2. Get posts
2b. Get post's taxonomy IDs
3. Assign taxonomies

[code]

[2020-07-02 14:26] rrennick commented on #584
@strarsis @crstauf Feel free to continue the discussion. I'm going to close this as it's not an issue that would be addressed by making a PR.

[2020-07-02 14:26] #584 closed

[2020-07-06 11:47] inceptionsoftware opened #586 "Action scheduler not running in background"
Hello,

We have a woocommerce based auction plugin using which admin can add auction products to their woocommerce (WC) site.

As you might know that an auction product basically simulates the auction process we have in real auction houses. Below is a brief use-case which our plugin helps to simulate:

Admin adds an auction product with start and end date/time.
Users register to place their bids.

[2020-07-06 15:08] crstauf commented on #586
@inceptionsoftware Are you familiar with how WP Cron works?

https://developer.wordpress.org/plugins/cron/

[2020-07-06 15:09] inceptionsoftware commented on #586
-- Please reply above this line --

Hello Woocommerce/action-Scheduler,

Thanks for reaching out to the Ultimate Auction Pro team (UAPro). You
are the reason we exist and our team is going to do everything we can
to help you. :-)

NOTE: We are experiencing a very unique & unprecedented situation due
to the Novel Coronavirus (COVID -19) outbreak in our country and the
whole world. In wake of this p

[2020-07-08 12:45] capuderg commented on #577
Hi!

We are using Action Scheduler in our plugin [WP Mail SMTP](https://wordpress.org/plugins/wp-mail-smtp/) and some of our users have experienced this fatal error as well. Here is a screenshot of the stack trace:
![as-error](https://user-images.githubusercontent.com/9714134/86918701-56101000-c127-11ea-9f7d-657577fdedd5.png)

This error comes up when the DB can't create the needed DB tables (for

[2020-07-08 16:41] rrennick commented on #580
Addressed in #582

[2020-07-08 16:41] #580 closed

[2020-07-08 17:42] rrennick commented on #586
@inceptionsoftware Action Scheduler includes a [WP CLI command](https://actionscheduler.org/wp-cli/) for use in sites with a large number of scheduled actions or sites where WP Cron is disabled / unreliable. If you install [WP CLI](https://wp-cli.org/) on your server then you can set up a server cron job to run action scheduler on a reliable schedule.

[2020-07-08 17:42] #586 closed

[2020-07-13 14:00] jsfry opened #587 "MySQL NO_ZERO_DATE prevents table creation"
**Edit to add:** This is a followup issue to #517 where the `_actions` table doesn't get created due to the `NO_ZERO_DATE` being set in the MySQL configuration in version 5.7.

WordPress version 5.4.2
Current theme: BizPlus Pro (version 1.0.3)
Current plugin: Action Scheduler (version 3.1.6)
PHP version 7.4.5
mysql 8.0.20
WC 3.9.2 & 4.3.0
AS 3.1.6

This started a couple days ago when my website th

[2020-07-14 13:08] rrennick commented on #587
Hi @jsfry, Could you run the following SQL command in your database admin tool (eg. phpMyAdmin)

[code]

Note that `${charset_collate}` needs to be replaced with the charset & collate values from you other WP tables. That's the statement that AS uses to create the table so if there is an error message please let us know what it is.

[2020-07-14 23:44] jsfry commented on #587
Thanks @rrennick for getting back to me - much appreciated.  I've done what you asked and here's the error which was returned (did it on the command line - I suppose that's the same as phpmyadmin):

ERROR 1067 (42000): Invalid default value for 'scheduled_date_gmt'

Any further help would be much appreciated in order to get my woocommerce back up and running.

Thanks,
Jeff

[2020-07-14 23:47] jsfry commented on #587
Btw just so you know and so you can check it (I'm no expert at mysql) ,  I sourced this file on the command line of mysql after saying "use <db>" where <db> is the name of my wordpress db.

CREATE TABLE wp_actionscheduler_actions (
				        action_id bigint(20) unsigned NOT NULL auto_increment,
				        hook varchar(191) NOT NULL,
				        status varchar(20) NOT NULL,
				        schedule

[2020-07-15 18:07] Demuri opened #588 "Action Scheduler seems not working"
Since about July 6 exposed some problems which seems to be related to scheduler. Analytics doesn't import (or even delete) data, unpaid orders doesn't change their status etc. I found a lot of pending actions, after lot of experiments and manual run analytcs data became available, but i have no idea now how much useful actions I deleted in scheduler during experiments.

So actually it looks like a

[2020-07-16 12:33] rrennick commented on #587
@jsfry Thanks for the follow up. You should be able to create the table with

[code]

I'm going to update the description of the issue to add an explanation for the error. Can you let us know if the other three action scheduler tables get created okay once this one is in place?

[2020-07-16 22:53] jsfry commented on #587
Thanks for further advice.  The response from mysql was: Query OK, 0 rows affected, 4 warnings (0.14 sec).

I will proceed to run the plugin now to see if I can get the latest WC running and get back to you.

[2020-07-17 11:24] jsfry commented on #587
The Action Scheduler plugin installed fine.  As I mentioned the other 3 (claims, groups, and logs) were already there before the fix above went in for the actions table.  So, next I clicked on Tools -> Scheduled Actions  and it did its thing.  Then I updated WC to the latest version and it started to update  the WC database.  The only slightly concerning thing in it all was that 20/21 of the datab

[2020-07-17 15:27] salcode opened #589 "Add function_exists( 'add_action' ) check to initialization file"
This is the same issue as #303, which was resolved with #304 however while the PR was merged into `master` it appears it was never merged into the [version_3_0_0](https://github.com/woocommerce/action-scheduler/tree/version_3_0_0) branch and eventually the `version_3_0_0` branch was merged into `master` overwriting the fix (I believe this happened in 52bd355 as the fix exists in the parent commit

[2020-07-17 17:22] xaviercshp opened #590 "any way to limit 1 async concurrent action on specific actions?"
sorry if this isn't the place to ask questions

[2020-07-17 17:30] rrennick commented on #590
You can post future support questions at https://wordpress.org/support/plugin/action-scheduler/.

The async runner only runs one action at a time. Can you clarify what you are seeing/looking to do?

[2020-07-17 17:36] xaviercshp commented on #590
@rrennick thanks a lot sorry about that. if the `as_enqueue_async_action` will run one concurrent action at a time then im having a different issue, thanks.

[2020-07-17 18:20] oempire opened #630 "comment count / pending / trash incorrect - _transient_as_comment_count"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [ x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [ x] I have s

[2020-07-17 21:24] rrennick commented on #590
`as_enqueue_async_action` doesn't run actions. It adds them to the pending action list with an 'as soon as possible' schedule.

[2020-07-23 03:43] Webxopt opened #592 "Database BlowOut!"
Hi, is there anyway to limit the storage that this system takes up? At the moment my database has wp_actionsheduler_actions.sql at 1.26GB and wp_actionscheduler_logs.sql at 1.43GB. This is causing chaos with my backup system which is in turn bringing the site to an almost total standstill.
Cheers

[2020-07-23 10:00] lkraav commented on #592
See https://github.com/woocommerce/woocommerce/issues/26818#issuecomment-646568726

[2020-07-23 11:25] rrennick commented on #592
Another reference when we worked through purging off the actions created by the above bug https://github.com/woocommerce/action-scheduler/issues/541

[2020-07-23 11:25] #592 closed

[2020-07-23 23:14] Webxopt commented on #592
These don't seem like great fixes! Is there anything else in the works.

[2020-07-24 11:29] rrennick commented on #592
You can do this with the filter `action_scheduler_retention_period`. The number passed through the filter is in seconds.

The actions were created by another plugin vs being created by a bug in action scheduler.

[2020-07-25 05:46] kumarec opened #593 "Action Scheduler Crashing Wordpress"
I have installed the latest plugin and it breaks my WordPress site. I have enabled the WordPress Debug here's the debug errors

`WordPress database error: [Table 'cd.wp_actionscheduler_actions' doesn't exist]
SELECT a.action_id FROM wp_actionscheduler_actions a WHERE a.hook='action_scheduler/migration_hook' AND a.status='in-progress' ORDER BY scheduled_date_gmt DESC LIMIT 1

WordPress database err

[2020-07-27 04:28] oempire commented on #368
id like to know this aswell

[2020-07-27 11:55] rrennick commented on #593
Please see https://github.com/woocommerce/action-scheduler/issues/577#issuecomment-655496284. Closing this issue as a duplicate.

[2020-07-27 11:55] #593 closed

[2020-07-27 15:44] jonasrafael commented on #587
thanks @rrennick works like a charm!

[2020-07-27 15:45] rrennick commented on #587
@jonasrafael Thanks for letting us know :)

[2020-07-27 15:48] rrennick commented on #587
As far as I know the NO_ZERO_DATE issue is specific to MySQL 5.7. If going to the dashboard screen creates the table then it was something else that prevented the table from being created.

[2020-07-27 17:02] kumarec commented on #577
Any updates on this issue?

[2020-07-27 17:09] rrennick commented on #577
Could the \Action_Scheduler\Migration\Scheduler or \Action_Scheduler\Migration\Controller class first check if the tables are ready, before saving an action?

That's solution is not practical. If every plugin that had a custom table checked for the table's existence before using it most sites would be extremely slow.

@kumarec I apologize. In the other issue I intended to give you a link to https:

[2020-07-28 14:44] jozeflambrecht opened #594 "Size of database is going up exponentially every day"
WooCommerce: Version 4.3.1
WordPress: 5.4.2

![image](https://user-images.githubusercontent.com/11506957/88680601-ad6a2600-d0be-11ea-9593-a8300ed5384f.png)
![image](https://user-images.githubusercontent.com/11506957/88682574-d095d500-d0c0-11ea-940b-99c567c13777.png)

I only have a couple of orders (less than 100) and a couple of customers. However the size of my database is going up exponentially

[2020-07-28 14:58] rrennick commented on #594
No. If You have WooCommerce installed can you post your System Status Report?

[2020-07-28 15:19] jozeflambrecht commented on #594
I found this article and just removed some records.. Site is fast again..
https://wpbeaches.com/removing-scheduled-actions-woocommerce-action-scheduler/

Here is my report (after I did the steps in the article above).

`
### WordPress Environment ###

WordPress address (URL): https://www.*****.com
Site address (URL): https://www.*****.com
WC Version: 4.3.1
REST API Version: ✔ 1.0.10
WC Blocks Vers

[2020-07-28 15:27] jozeflambrecht commented on #594
I think it is an issue with the Bookings plugin.
![image](https://user-images.githubusercontent.com/11506957/88686627-456b0e00-d0c5-11ea-8f49-0de122207854.png)

[2020-07-28 15:38] rrennick commented on #594
The latest version is 1.15.23. There was an issue with the Google Calendar functionality recently so updating Bookings would be the first thing to do.

[2020-07-28 15:47] #594 closed

[2020-07-28 15:48] jozeflambrecht commented on #594
thanks! updating bookings was the solution

[2020-07-29 06:38] capuderg commented on #577
@rrennick yeah, I agree that checking DB tables on each load would be too much...

I've taken a deeper look at this issue and I could reproduce it by revoking all permissions and granting only `SELECT,INSERT,UPDATE,DELETE` for the MySQL DB user used in the `wp-config.php` of my WP test site.

I've installed a fresh copy of WP with the DB user having all permissions/privileges. Then I executed thes

[2020-07-29 13:12] rrennick commented on #577
No plugin would be able to create tables with those permissions.

[2020-07-29 13:16] rrennick commented on #577
This is probably something we should address. However, we'd need to check for other instances where the exception isn't caught.

[2020-07-29 13:38] slaFFik commented on #577
Correct. But there is a valid scenario:
All the development and plugins activations (and thus DB tables creation) is done on a special STAGING server, and then migrated to a PROD server where MySQL user does not have non-essential capabilities. Creating tables regularly is needed only on WP Multisite installations (another beast of its own) and when plugins are activated/configured on a site. If n

[2020-07-29 15:03] rrennick commented on #577
Agreed. I've seen this type of thing in the past. But for the scenario we are discussing, the AS tables should be created in staging to be migrated over.

[2020-07-29 15:12] capuderg commented on #577
These are just steps on how you can make this issue reproducable. The minority of AS users that experience this issue are probably on some special configurations or are blocked by some other MySQL restrictions, like #587, ...

But yeah, catching the exception (discussed above) would resolve the fatal error and letting the user know what the error is in some way or another would be beneficial, so t

[2020-07-29 15:37] rrennick commented on #577
I forgot to mention that there is already a notice there. The AS admin screen checks to see if all the tables are present.

[2020-07-31 22:35] dan-lutd opened #595 "Can I use as_get_scheduled_action args with a subset of the args"
Using  as_get_scheduled_action wroks with the following args and returns the expected object
`$search_args = array(`
`	'hook'   => 'lutd_deposit_payments_auto_payment' ,`
`	'group'  => 'lutd_deposit_payments_auto_pay',`
`	'status' =>  ActionScheduler_Store::STATUS_PENDING, `
`	'args'   => array( `
`		'order_id' => '106174',`
`	       'payment' => 2,`
`		'customer_id' => $customer_id `
`	)`
`);`
`$

[2020-07-31 23:03] crstauf commented on #595
@dan-lutd I think #563 may be what you're hoping for.

[2020-08-03 13:41] dan-lutd commented on #595
@crstauf that #563 answers my question. It would allow me partial match query.

[2020-08-03 14:35] abubuhammad opened #597 "Please need help with Action scheduler issue"
I moved my domain from one host to a GoDaddy domain, since then I keep getting critical error with my site sandcanada.ca, quoting this error: wp-content/plugins/woocommerce/packages/action-scheduler/classes/data-stores/ActionScheduler_DBStore.php. Error message: Uncaught RuntimeException: Error saving action: Duplicate entry '0' for key 'PRIMARY' in

[2020-08-03 14:51] capuderg commented on #577
Yes, if I'm not mistaken, there are two notices:
- Action Scheduler migration in progress. The list of scheduled actions may be incomplete.
- It appears one or more database tables were missing. Attempting to re-create the missing table(s).

In this specific case (OP error), these two notices are not accurate. The migration is not running and there is no attempt to re-create the missing tables sin

[2020-08-03 16:16] abubuhammad commented on #597
Ok

[2020-08-04 08:24] Alberavid opened #598 "Serious problem with Woocomerce activation with Actionscheduler."
Hello I ask them for urgent help, have a problem when I activate Woocomerce, automatically it gives me the error that I show them in Wordpress and have to go away like Wordpress recovery.

I have tried to install Actionscheduler plugin that exists in Github and gives me the same error.

I have deactivated all the plugins and have erased WP Optimize, pro if he was the causer.

Please can they help

[2020-08-04 12:11] rrennick commented on #577
AS attempts to create the tables as part of the flow for adding that notice to the dashboard.

The migration is "in progress" but not progressing due to the lack of the table(s).

[2020-08-04 12:36] rrennick commented on #597
Hi @abubuhammad that's only the first part of the error message. Could you provide the rest of the message?

[2020-08-04 12:40] rrennick commented on #598
@Alberavid Please try the instructions in https://github.com/woocommerce/action-scheduler/issues/587#issuecomment-658168773. Replace the `wp_` in the table name with `FRJFDft5_`.

[2020-08-05 07:44] elidelusa opened #599 "Suggest Page Title: Scheduled Actions by WooCommerce"
Hi, I'm a WP developer. I would like to suggest that it's better to change the Page Title of this WP Submenu in Tools to avoid confusion, what plugin implemented it.

Page Title Suggest: **Scheduled Actions by WooCommerce**

By having the 'WooCommerce', developer would know that Woocommerce plugin implemented it.

[2020-08-05 12:05] rrennick commented on #599
@elidelusa Thanks for the suggestion.

Action Scheduler can be installed as a standalone plugin. It is also used as a scheduling library in non-WooCommerce plugins. In both cases, the scheduled actions are not by WooCommerce.

If you have WooCommerce installed, the Scheduled Actions screen is also available in WooCommerce -> Status -> Scheduled Actions.

[2020-08-05 12:05] #599 closed

[2020-08-09 18:39] crstauf opened #600 "Admin list table screen options do not persist"
Toggling a column's visibility does not persist upon page loads.

[2020-08-09 18:39] crstauf opened #601 "Add list table screen option for actions shown per page"

[2020-08-09 19:25] crstauf commented on #600
Clarification: the state of the checkbox persists, but the state does not correctly impact the list table.

[2020-08-11 00:17] juliaamosova commented on #600
Hi @crstauf,

Thanks for raising the issue. Can you please provide the steps to reproduce the issue? Unless I am missing something very obvious here on how to reproduce.

[2020-08-11 00:24] crstauf commented on #600
@Aljullu Within WordPress admin:

1. Tools > Scheduled Actions
1. Toggle the Screen Options drawer in the upper-right of the screen
1. Uncheck Log checkbox (note the Log column disappears)
1. Reload the page (note the Log column is visible)
1. Toggle the Screen Options drawer (note the Log checkbox is unchecked)

The Log column's visibility should match the checked state of the Log checkbox.

[2020-08-11 00:32] crstauf commented on #600
@juliaamosova Within WordPress admin:

1. Tools > Scheduled Actions
1. Toggle the Screen Options drawer in the upper-right of the screen
1. Uncheck Log checkbox (note the Log column disappears)
1. Reload the page (note the Log column is visible)
1. Toggle the Screen Options drawer (note the Log checkbox is unchecked)

The Log column's visibility should match the checked state of the Log checkbox.

[2020-08-11 01:30] juliaamosova commented on #601
Hi @crstauf,

Thanks for opening this feature request. I understand that this is in regards to adding an option to `Tools/Scheduled Actions/Screen Options`:

![screen_options](https://user-images.githubusercontent.com/19143190/89843678-6ad92c80-db47-11ea-9b47-a4ce50b44fb6.jpg)

Can you please clarify what option do you have in mind for adding here? Are you referring to adding pagination similar to

[2020-08-11 01:38] juliaamosova commented on #590
Looks like this thread is resolved so closing it as a part of this repository's maintenance. Feel free to comment here again in case we missed something @xaviercshp and we'd take another look.

[2020-08-11 01:38] #590 closed

[2020-08-11 05:07] crstauf commented on #601
@juliaamosova Yes, an input box that adjusts the number of actions shown per page in the list table.

[2020-08-11 11:54] rrennick commented on #601
The screen options are there but it's missing the `Save` button that you normally find in the screen options.

[2020-08-11 14:11] crstauf commented on #601
@rrennick On my installation of AS, there is no input field for the "Number of items per page" (also seen in @juliaamosova's screenshots).

[2020-08-14 03:53] thenbrent commented on #290
Noting that this came up as something needed in p6q7sZ-7uK-p2 comments.

[2020-08-14 11:44] rrennick commented on #290
Maybe we could add it to https://github.com/rrennick/as-logging-queue-runner first to get a sense of what things we might expect.

[2020-08-17 17:53] danieliser commented on #587
@rrennick We are seeing a lot of these with our user base (Popup Maker).

I can't reasonably ask all of these users to run custom queries like this, so what are the actual options for fixing this in the code base correctly?

I compared your code that worked for him:
- you added specific character encoding to the text based fields.
- removed `NOT NULL` from the datetime fields.
- replaced the `DEFA

[2020-08-17 18:10] rrennick commented on #587
The code I provided above is a copy from the previous comment so that it matched the charset/collation. Those can be changed to match any of the charset/collation combinations supported by WP and the current MySQL install.

Those aren't necessary for any of the Action Scheduler schema.

Changing the schema is easy. The barrier at this point is transitioning existing tables to a declaration that is

[2020-08-17 22:10] danieliser commented on #587
@rrennick Other than potential for empty dates to be saved, is there some regression this could cause? I'm not seeing it, but I'm not deep into all the use cases.

I'm assuming that since the data doesn't actually get changed, there really isn't a migration neccessary. No field types were changed, only the default values and whether allowed to be null or not.

We run many DB migrations but I've ne

[2020-08-18 11:13] rrennick commented on #587
Action Scheduler doesn't rely on the default value for the date fields. The fields were modelled on the `wp_posts` table in WP. WP turns off the two configuration settings that cause this issue when connecting to the DB. It's not clear why this does not happen with the core table but does with the AS table.

[2020-08-18 18:41] wpinventory opened #603 "Tables do not write"
After activating this plugin per the documentation here:

https://wpmailsmtp.com/docs/how-to-troubleshoot-action-scheduler-issues-wp-mail-smtp-2-1-1/

I get the following Fatal error because it will not create the table if it does not exist.

Fatal error: Uncaught RuntimeException: Error saving action: Error saving action: Table 'resta064_sg.wp_j4m14t1mrm_actionscheduler_actions' doesn't exist in

[2020-08-18 18:42] rrennick commented on #603
Try installing Action Scheduler directly through the plugin installer to see if it creates the tables.

[2020-08-18 18:50] wpinventory commented on #603
I uploaded the ZIP I download via the Plugins page "Add New" and uploaded.
Any ideas?

On Tue, Aug 18, 2020 at 12:42 PM Ron Rennick <notifications@github.com>
wrote:

[2020-08-18 18:52] rrennick commented on #603
Can you get the error message from your server logs indicating why the tables aren't created?

[2020-08-18 19:00] wpinventory commented on #603
Attached is the php error log.  Rather long, but scroll all the way to the bottom please.

https://www.dropbox.com/s/j8g8izza5kzabti/php_errorlog?dl=0

[2020-08-18 19:09] rrennick commented on #603
@Ceaco That doesn't have the error message for creating the table.

Please try the instructions in #587 (comment). Replace the `wp_` in the table name with `wp_j4m14t1mrm_`.

[2020-08-18 19:10] rrennick commented on #598
Closing as duplicate of #587.

[2020-08-18 19:10] #598 closed

[2020-08-18 19:26] wpinventory commented on #603
@rrennick

That is what I was going to do next.  Just run the script from the MySQL side.  I guess that will have to do.  Thanks for your help.

[2020-08-18 19:40] danieliser commented on #587
@rrennick - Agree with you there, so I spent some time digging into WP core, and unless your tables are being created outside of the existing global WPDB connection I can't see how this is possible UNLESS their MySQL is not allowing WP to change modes: https://github.com/WordPress/WordPress/blob/d936f2c9591893597ff3fee145225251c5482e8d/wp-includes/wp-db.php#L864-L872

Now that said, something that

[2020-08-18 19:43] danieliser commented on #603
@wpinventory @rrennick - See my most recent comment on #587.

I'm starting to wonder if this table isn't actually erroring during install, but rather failing to ever get processed in the first place and marked as installed.

Is there potential that this query doesn't ever get run but the others do? If the one just before it failed after sending query to MySQL it could cause that no?

[2020-08-18 19:46] rrennick commented on #587
Right. I believe that is the issue.

I've been able to reproduce the error locally. Adding and removing that setting determine whether AS successfully creates the table or not.

[2020-08-18 19:49] danieliser commented on #603
@wpinventory - From your logs you have quite a few issues you need to check into. Lots of table doesn't exist errors in there, even for wp_options core tables, so that is a bigger concern than this plugin.

Also saw errors indicating your DB is dropping or overloaded from time to time.

Lots of errors from a couple specific plugins that could be at play as well.

Might be worth trying to clean up

[2020-08-18 19:56] rrennick commented on #603
No. It's the first table created.

[2020-08-18 20:05] danieliser commented on #587
@rrennick - Correct I could duplicate it when I go into MySQL directly and run the table create queries. I ran into this exact same issue when writing a recent update to our analytics. But running the same queries through WPDB didn't throw the errors. I didn't get issues with NO_ZERO_DATE through $wpdb.

That said in my case it failed with generic errors in "your query after ..., check the docs fo

[2020-08-18 20:07] rrennick commented on #587
Thanks, I'll have a look at that.

[2020-08-18 20:09] danieliser commented on #587
@rrennick To be clear, I'm confident the code is well written, but my gut says that with no errors for the failed creation of the table, those are either being eaten by WP error logging some how while letting others through, or the entire query simply never gets processed for some reason on these sites.

[2020-08-18 20:12] danieliser commented on #587
That said I did just randomly stumble upon this potential workaround, which if we can confirm somehow that it does work for these users would be easy enough:  https://dev.to/anraiki/comment/i3gb

[2020-08-18 20:16] wpinventory commented on #603
@danieliser @rrennick

Thanks for both of your help.  I am working on the logs and DB errors as we speak.  However, I do see the options table (in cPanel right now).  I'm going to strip the file contents and re-upload and get fresh data and work back from there.

[2020-08-19 10:44] rrennick commented on #587
@danieliser Nice find, thank you.

[2020-08-20 17:14] rrennick commented on #587
There has to be some other configuration parameter required to reproduce this:

[code]

[2020-08-20 17:42] danieliser commented on #587
I will say I NEVER saw issues with `NO_ZERO_DATE` errors when my queries were run through `$wpdb`.

What I saw was more generalized errors from the position before or after the `default '0000-` section of the query. Only when I tried to run the same queries in MySQL did I see those specific issues which led me to simply change to another field type in our case. Not sure that is viable here though,

[2020-08-28 23:55] chathu020 opened #605 "Action scheduler run in wp-cli"
I am having a about 1000tasks which must run in concurrently and repeat in every 2minutes. ( at each task it calls a external api ->get the data ->process data->call another api ). So I am planning to use action-scheduler. My problem is how can I use wp-cli, Sorry I am lack of knowledge on wp-cli. What I am familiar is I can add as_schedule_recurring_action() in each time a task is created in my p

[2020-08-30 11:20] alex66210 commented on #576
Hi,

I have the same issue andI do not understand how did you fix it.
I recently migrated my website to another hosting domain. After this migration, every time an action is created in action_scheduler_actions, the action_sheduler_logs table is bloating...

Thanks for you reply,

[2020-08-30 16:40] alex66210 commented on #576
Instead of woocommerce_update_marketplace_suggestions, the action is action_scheduler/migration_hook
Rest is exactly same as above...

[2020-09-01 03:35] danielbitzer commented on #600
I've also just encountered this issue.

[2020-09-01 16:41] strarsis opened #606 "Composer package type / install as library"
When installing the `action-scheduler` composer package, it is installed as a WordPress plugin, not as a library.
Would it make more sense to define the type of this package as a "library" instead of a "wordpress-plugin"?
Or can the type be overridden when requiring the `action-scheduler` package in `composer.json`?

[2020-09-02 02:29] electrobank opened #607 "get_action_scheduler_scheduled_actions not working properly"
When calling this with the default OBJECT return type, each object variable is 'protected' and can't be accessed. I can print_f the object but if I try to access any variable it won't let me. When requesting a ARRAY_A return format, it returns an array of empty arrays.

[2020-09-02 07:58] merizindge2050 opened #609 "Woocommerce analytics not working any more. Action Scheduler Putting every task on Pending."
`After the recent update of Woocommerce all of my analytics stopped working. and even Action Scheduler putting every task on pending. i think its not running. i am unable to see the dashboard analytics for my orders. and i am also unable to see past orders of a customer. because of this issue
### WordPress Environment ###

WordPress address (URL): https://www.magicwandcompany.com
Site address (URL

[2020-09-02 14:32] yashg8706 opened #608 "WP mail SMTP Email test"
Hi,

I'm getting the following message for email test
"There has been a critical error on your website. Please check your site admin email inbox for instructions.

Learn more about debugging in WordPress."

Please help.

Thank you

[2020-09-04 20:05] juliaamosova commented on #608
Hi @yashg8706,

Thanks for raising the issue! Is your request related to Action Scheduler in particular or WooCommerce in general? It is not clear what have you been trying to accomplish or the steps you took that lead you to that error.

[2020-09-04 20:07] jaredatch commented on #608
@yashg8706 if you have an error log to provide that help.

WP Mail SMTP does include Action Scheduler, but it's not used for sending emails, including test emails.

[2020-09-04 20:34] yashg8706 commented on #608
Hi, the error comes when the email test on WP mail SMTP

[2020-09-04 23:13] aseelashraf opened #611 "CRITICAL Uncaught RuntimeException: Error saving action: Unable to save action."
im trying to access woocommerce in my Wordpress admin but I get this error
.. i tried several ways to solve this but no luck ..
PLEASE HELP ME
I tried to install action scheduler didn't work
I tried to downgrade/update woocommerce didn't work..

[code]

[2020-09-05 18:58] strarsis commented on #606
Addendum: Using `composer` to install `action-scheduler` as dependency of an existing WordPress plugin resulted in git repository corruption of that requiring, custom plugin. Installing the custom plugin via `composer`, too, results in the resulting plugin folder being occupied by the original contents of the `action-scheduler` plugin. Aldo the git history seems to be different afterwards.

[2020-09-07 09:52] savrip opened #610 "WordPress database error: [Table 'user_domain.wp_actionscheduler_actions' doesn't exist]"
I'm having some issues, which I have researched in other threads, but I'm not coming up with a solution.  I have seen the plugin that is suppose to add the tables back, but that also is running into an error.  I thought I would start back at WooCommerce and see if there was a way to manually add the tables back.  Here is the errors generated by debug.log.  The table was undoubtedly removed by WP-O

[2020-09-08 12:15] rrennick commented on #605
Most WP CLI commands have `help`. You can access the action scheduler help with `wp help action-scheduler`. Your hosting documentation should have information on setting up server cron jobs in your environment.

[2020-09-08 12:15] #605 closed

[2020-09-08 12:19] rrennick commented on #576
@alex66210 The issue you are having isn't related to the issue in the description. Can you create a new issue and include your WooCommerce system status report?

[2020-09-08 12:30] rrennick commented on #606
Action Scheduler is a standalone WordPress plugin: https://wordpress.org/plugins/action-scheduler/. If you have a composer setup that is your entire WP project, there is no difference between it active standalone or used as an embedded library (eg. WC).

[2020-09-08 12:30] #606 closed

[2020-09-09 13:06] rrennick commented on #609
I have transferred this issue to the repository where Action Scheduler is maintained.

@merizindge2050 Can you answer the following for the fresh website:

- Is only WooCommerce active with Storefront or a default theme active?
- Does the site have any front end or dashboard traffic?
- If it's a test site, can you schedule a blog post and have it automatically update to published once the schedule

[2020-09-10 06:06] alex66210 commented on #576
Ok I am going to do it thanks.

[2020-09-10 06:17] alex66210 opened #613 "Issue with action_scheduler tables"
Hi,

I did a migration of my website 1 month and half ago.

I started to notice my action_schedulers tables were getting huge. When an action is in the action_scheduler table, the action-scheduler logs starts to run crazy...

At first, it was many times during the day. Now, after reinstalling woocommerce, cleaning database and deactivating woocommerce admin, I've got the issue once a week or twice

[2020-09-10 11:56] savrip commented on #610
Thanks.  The guy that runs the server is on vacation this week, but when he returns he will try adding back the tables missing and see if that does the trick.  I have no idea if there are any additional steps, but I'm depending on WooCommerce to finish working on a convention site so we can kick it off and start selling tickets.  Worst case I told him to reset the WP install and I'll Import the sa

[2020-09-10 12:06] rrennick opened #614 "Remove underscores from PHP filenames"
The underscores are interfering with some code loaders: pMz3w-bWp-p2

For classes named `ActionScheduler_ClassName` changing the name to `ActionSchedulerClassName` will still be quite readable.

The files in the `/lib/`folder should have an appropriate note at the top documenting the file name change.

[2020-09-10 12:49] rrennick commented on #610
@savrip If you visit Tools -> Scheduled Actions, Action Scheduler will attempt to recreate the tables.

[2020-09-10 13:12] webfarus opened #615 "Lib crashing website"
Hi
At WP website webfarus.com when activating action scheduller WorPress plugin it crashes my website.
I was seting up WP Mail SMTP and then I had to unistall all plugin files from Cpanel to get access to my website back again.
Installing Action Scheduller WP plugin by alone also leads to website crash.
I am also having trouble with image alt tags.. they are not showing properly... can it be relat

[2020-09-10 13:28] rrennick commented on #615
@webfarus That error log has fatal errors from several plugins. Can you find the error messages related to Action Scheduler and post them here in a comment?

[2020-09-10 13:45] webfarus commented on #615
Last error log lines are Action Schedule..

#1 [internal function]: Kirki_Autoload->autoload('Kirki_Field_Sli...')
#2 [internal function]: spl_autoloa[25-Aug-2020 19:14:48 UTC] Erro na base de dados do WordPress Table 'webfarus_webneco.wp2020_actionscheduler_actions' doesn't exist na query SELECT a.action_id FROM wp2020_actionscheduler_actions a WHERE a.hook='action_scheduler/migration_hook' AND a

[2020-09-10 14:11] rrennick commented on #615
The first error message is from another plugin. Are you seeing the same fatal error on the site where you only have Action Scheduler active? If so, can you check to see whether the WordPress database user has permissions to create tables?

[2020-09-10 14:32] webfarus commented on #615
It does. I did checked
No, i am using about 10 plugins

[2020-09-10 15:42] rrennick commented on #615
You'll need to do conflict testing to determine if it's an issue with Action Scheduler or a conflict with another plugin.

[2020-09-12 19:48] spennyforhire commented on #610
Hey Team, Just tried updating from Woocommerce 3.9.2 to 4.5.1 but it crashed my staging site.

Here is the error stack I currently have in my errorlog file. Hope this helps contribute to a resolve.
`
### WordPress Environment ###

WC Version: 3.9.2
WP Version: 5.5.1
WP Memory Limit: 512 MB
WP Cron: ✔
Language: en

### Server Environment ###

Server Info: LiteSpeed
PHP Version: 7.2.32
PHP Post Max

[2020-09-13 09:57] efel80 commented on #587
Hi Daniel and Rrennik. I just run into the problem described here (and in other posts, but i think this is the right one).

 I'm not an expert or a programmer, just a prosumer of wordpress/woocommerce from years on live sites used by thousands.

I'm trying to  understand how to resolve this problem and help who encounter this issue.
Hope this can help you to understand. We own some ecommerce on li

[2020-09-14 11:49] paniy commented on #610
solve the problem

[2020-09-14 11:50] paniy commented on #610
solve the problem

[2020-09-15 17:48] rrennick commented on #611
Closing as a duplicate of #587

[2020-09-15 17:48] #611 closed

[2020-09-15 17:49] rrennick commented on #610
Closing as a duplicate of #587

[2020-09-15 17:49] #610 closed

[2020-09-15 17:49] rrennick commented on #603
Closing as a duplicate of #587

[2020-09-15 17:49] #603 closed

[2020-09-15 17:52] rrennick commented on #613
@alex66210 We have seen this happening on some sites where MySQL is running out of resources to run queries. Can you check your server logs to see if there are any errors for MySQL?

[2020-09-15 17:56] rrennick commented on #537
I'll close this with a won't fix.

[2020-09-15 17:56] #537 closed

[2020-09-15 20:05] alex66210 commented on #613
Hi,
Where Can I check that ?

[2020-09-16 09:33] alex66210 commented on #613
Hi again,
This is a part of my file for server logs (frontal web) for september :
203.119.193.126 - - [31/Aug/2020:01:01:49 +0200] "GET / HTTP/1.1" 301 - "http://toutpourmasante.fr" "Mozilla/5.0 (Linux; Android 6.0.1; SM-N9100 Build/LRX22C) AppleWebKit/601.1.46 (KHTML, like Gecko) Mobile/13G35 Tx(CUNTAO/5.3.2) WindVane/8.1.0 750x1334"
109.234.162.202 - - [31/Aug/2020:01:05:47 +0200] "POST /wp-cron

[2020-09-16 09:34] alex66210 commented on #613
Here is my latest web server logs messages

[Thu Sep 10 07:19:49.643032 2020] [access_compat:error] [pid 16619:tid 46943491626752] [client 77.234.43.134:0] AH01797: client denied by server configuration: /home/aual0677/public_html/wp-content/uploads/xlplugins/
[Thu Sep 10 07:19:49.639636 2020] [access_compat:error] [pid 16619:tid 46943491626752] [client 77.234.43.134:0] AH01797: client denied by s

[2020-09-16 09:34] alex66210 commented on #613
I hope it can help !
Thanks

[2020-09-16 12:01] rrennick commented on #613
@alex66210 Sorry, I should have been more specific. Those are access logs. You would need to look for errors in error logs. Do you have access to the error log for MySQL? The location of log files depends on your server configuration.

[2020-09-16 12:28] alex66210 commented on #613
@rrennick Yes, I asked my hosting company and they told me this :

3 types of error possible :

- Errors on Frontal web (this is the first post I sent to you)

- Errors on Apache (the second post)

- Errors PHP (I don't have this part).

So I don't know exactly what do you need ?

Thanks

[2020-09-16 13:12] rrennick commented on #613
Ask your hosing company about errors related to MySQL running out of resources.

[2020-09-16 13:30] harryrbrown commented on #609
In my case, this issue went away after disabling the plugin "Hide WooCommerce Categories On Shop Page", although I appreciate this doesn't really help @merizindge2050 .

[2020-09-16 16:31] #551 closed

[2020-09-16 19:29] ObliviousHarmony opened #616 "Usage - Load Order link broken in docs"
In the https://github.com/woocommerce/action-scheduler/blob/master/docs/api.md#api-function-availability section there is a link that takes you to a 404 page instead of the correct file.

[2020-09-17 05:20] alex66210 commented on #613
Yes done.
No error related to MySQL...

[2020-09-17 15:38] rrennick commented on #255
CLI subcommands for `add`, `cancel`, `delete` would be great additions. Some additions to the items listed in the description:

- async actions
- cron schedules
- recurring schedule (in addition to the proposed schedule X of Y every Z)
- group field
- I'd make schedule a single field. WP CLI works with spaces in field names when the parameter is single quoted.

`--args=` would be handled as json a

[2020-09-17 16:23] rrennick commented on #265
A quick note that `WP_CLI::add_command( 'test', 'WPCLI_Test' );` registers `wp test` vs `wp action-scheduler test`. `run` and `migrate` are subcommands.

I've been writing WP CLI commands for ~ 8 years and `migrate` is my first instance of using a separate class for a subcommand. [WooCommerce](https://github.com/woocommerce/woocommerce/tree/master/includes/cli) uses a separate class for the `updat

[2020-09-18 14:04] rrennick opened #619 "PHP 8 Compatibility"
PHP 8 is due for release in November 2020. We'll need to confirm compatibility on or before the release date.

**Related pull requests:**

- [x] https://github.com/woocommerce/action-scheduler/pull/626 - Fix unit tests infrastructure and adapt tests to PHP 8
- [x] https://github.com/woocommerce/action-scheduler/pull/632 - Set the PHP version to 7.1 in composer.json for PHP 8 compatibility

Checked

[2020-09-23 02:47] danielbitzer opened #623 "Async actions make scheduled actions view very difficult to use"
Async actions are scheduled for the datetime `0000-00-00 00:00:00` and it appears that the **Scheduled Actions** table is sorted by **Scheduled date**. When debugging scheduled actions or generally working with them it's important to be able view actions by date. The problem is that async actions can't be sorted by date in the scheduled actions view.

![](https://d.pr/i/j0wP5h+)

One possible (alb

[2020-09-23 05:28] thenbrent commented on #623
The reason we didn't do that initially was to make sure async actions always came ahead of scheduled actions. We could achieve the same thing by using the Unix epoch time though.

With all the zero date issues that have come up, perhaps that's what async actions should use for their scheduled date. I personally wish I did that initially to save folks the hassles of those zero date issues.

[2020-09-23 12:52] rrennick commented on #623
@danielbitzer A possible solution would be to update the scheduled date to the current time when the action completed.

[2020-09-23 17:57] crstauf commented on #623
Related #567 (only mentioning for cross-referencing and future-reference, not a solution to the sorting problem).

[2020-09-24 01:05] danielbitzer commented on #623
That makes sense. With AutomateWoo batch processing I'm wanting to schedule actions to run immediately but they don't need to take priority over any other actions so I think we'll just schedule them for 1 second ago.

I'm not aware of the zero date issues but one possible solution could be marking time-sensitive actions as **high priority**. Those actions could be run before all others. In the cas

[2020-09-24 10:21] efel80 commented on #587
I see but don't understand sorry if is a common problem fixed or not.

[2020-09-24 12:09] rrennick commented on #623
We could add the Last Attempt date as a column.

[2020-09-28 16:53] crstauf commented on #265
Pause/resume would pause or resume the processing of scheduled actions. I can see this being of value when performing a bulk operation of some sort and you don't want actions being processed.

[2020-09-28 17:44] rrennick commented on #265
Agreed. We'd need to think about how to implement when there is a current terminal process is busy running actions.

[2020-10-08 18:23] strarsis opened #624 "Unserialize DateTime instances"
Passing an argument with a DateTime instance to an action handler results in that DateTime instance being passed serialized as array instead of a DateTime instance.

Alternatively, Action Scheduler library could offer a filter for serialization/deserialization customizations.

[2020-10-08 19:03] rrennick commented on #624
@strarsis Arguments are `json_encoded` for storage in the database. The way to implement an alternate method of serialization is through a custom data store.

If it were allowed through a filter then disabling a plugin that had implemented that filter would make the `$args` stored in the database inaccessible.

[2020-10-08 19:03] #624 closed

[2020-10-08 19:14] strarsis commented on #624
OK, I will deserialize the DateTime fields in the handler function ([`DateTime::__set_state()`](https://www.php.net/manual/en/datetime.set-state.php)).

[2020-10-08 23:26] DaGenius commented on #486
Please help. I keep getting this error on my woocommerce site "There has been a critical error on your website."

When I checked the error log, here's what I found
`[08-Oct-2020 23:23:35 UTC] WordPress database error Incorrect table definition; there can be only one auto column and it must be defined as a key for query ALTER TABLE wp_xobh_wc_customer_lookup CHANGE COLUMN `customer_id` customer_id

[2020-10-11 10:58] beesalsht opened #625 "Uncaught RuntimeException: Error saving action: Error saving action"
Whenever I try to activate this plugin it throws the following error and crashes my website. Same while trying to install woocommerce plugin. Any help??

An error of type E_ERROR was caused in line 44 of the file /home/u704112749/domains/beyondhimalayas.com/public_html/1602400311293/wp-content/plugins/action-scheduler-3.1.6/classes/migration/ActionScheduler_DBStoreMigrator.php. Error message: Unca

[2020-10-12 20:21] balazsmts commented on #625
We're having the same issue on a number of sites. When we try to activate the standalone Action Scheduler plugin on the site, we see this error:

Looking around on the web, we can see that the same error has been reported many times in the recent months (related to WooCommerce and other plugins) but we found no definitive solution.

We use the Action Scheduler in the new version of [our plugin tha

[2020-10-12 21:12] surajv opened #631 "Fatal error: Uncaught RuntimeException: Error saving action: Error saving action"
**When activating WooCommerce on specific websites, it is throwing a fatal error, making websites inaccessible.**

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
The following fatal error is

[2020-10-15 01:11] AkramiPro commented on #625
i have the same issue . any solution?

[2020-10-15 13:34] peterfabian opened #627 "Test Action Scheduler with Subscriptions for PHP 8"
Reach out to folks from Lambda to test together.

[2020-10-19 16:13] roykho commented on #625
Hi @beesalsht,

So I am unable to replicate your issue. This is what I see when I activate the standalone plugin ![](https://d.pr/i/P83O6d+)

Could you perhaps give us some information on your hosting environment? Such as PHP version, database client..etc?

[2020-10-19 16:33] roykho commented on #614
I would suggest we stick to the WP standards here and use hyphens.

[2020-10-19 16:34] roykho commented on #595
Closing in favor of https://github.com/woocommerce/action-scheduler/pull/563

[2020-10-19 16:34] #595 closed

[2020-10-19 16:43] roykho commented on #588
Hi @Demuri

Thanks for reporting. Could you please check your PHP error log and let us know if you see anything relating to Action Scheduler there? If so, could you please paste that information here?

Thanks!

[2020-10-19 16:48] roykho commented on #589
Closed via https://github.com/woocommerce/action-scheduler/commit/d512300dcd7818e647a37a7994bc01e825e14007

[2020-10-19 16:48] #589 closed

[2020-10-20 11:35] rrennick commented on #614
@roykho I did that in the PR but didn't update the issue description.

[2020-10-20 12:47] roykho commented on #565
Hi @danieliser

I would agree. Feel free to submit a PR for this. Thanks!

[2020-10-20 20:12] strarsis commented on #619
Also when using the WP CLI:
[code]

[2020-10-22 08:38] Demuri commented on #588
@code2prog , @roykho Sorry for delayed reply. The problem was that main Sction Scheduler job was somegow deleted from wp cron. I re-created it manually. Didn't find the reason but after that fix everything works fine.

[2020-10-22 13:00] roykho commented on #588
Thanks @Demuri for the follow up! Glad you've got it figured out. I will be closing this issue now.

[2020-10-22 13:00] #588 closed

[2020-10-23 02:53] roykho commented on #630
Hi @oempire,

So I also cannot reproduce this. Can you please provide any additional information such as how many total counts are showing and how many actually counts?

Thanks!

[2020-10-23 02:59] oempire commented on #630
Heres an example i just emptied comment trash and it still shows as https://www.dropbox.com/s/745rqif5a03zilw/2020-10-23_13-58-02.png?dl=0

Shows 1 is in there but there isnt

[2020-10-23 03:02] roykho commented on #631
Hi @surajv,

Can you please check your database and see if the table `mydbname.myprefix_actionscheduler_actions` exists?

Thanks!

[2020-10-23 03:04] roykho commented on #630
Is it a specific comment type you're deleting?

[2020-10-23 03:07] oempire commented on #630
Standard post comments

[2020-10-23 03:13] roykho commented on #630
Do you have some type of cache on your site either as a plugin or installed on your host?

[2020-10-23 03:37] oempire commented on #630
Dedicated server, no server side cache no memcached etc

Its odd that if i delete that transient it refreshes. The only thing we would have woo/actionsheduler related would be we utilize standard woocommerce reviews (which are just comments for products?)

But these count anomalies are just standard

[2020-10-23 07:49] Mysterikkrimkss opened #633 "actionscheduler_actions doesn't exist in data base"
Hi, i have probleme with my woocommerce after the update.

Une erreur de type E_ERROR a été causée dans la ligne 44 du fichier /home/moncoachen/www2/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php. Message d’erreur : Uncaught RuntimeException: Erreur lors de l’enregistrement de l’action : Erreur lors de l’enregistrement de l’action : T

[2020-10-23 12:46] surajv commented on #631
Hi Roy,

In most of the single installations, all the tables were present, but for some reason, value for this option `schema-ActionScheduler_StoreSchema` was not updating to the latest AS version, so we asked our users to use this onetime code:

`add_action( 'init', function() { delete_option( 'schema-ActionScheduler_StoreSchema' ); } );`

And it resolved the issue.

Please note, all of these sin

[2020-10-23 13:03] Mysterikkrimkss commented on #633
Any help? please  @peterfabian

[2020-10-23 13:06] rrennick commented on #633
@Mysterikkrimkss See https://github.com/woocommerce/action-scheduler/issues/587#issuecomment-658168773

[2020-10-23 14:53] roykho commented on #630
Ok so you mentioned after deleting the transient it corrects itself. How long after will the problem arise again?

[2020-10-23 15:10] roykho commented on #631
Thanks for the additional information. Do you happen to know what version is stated in the options table for `schema-ActionScheduler_StoreSchema` on the sites that had this problem?

[2020-10-26 09:38] Mysterikkrimkss commented on #633
@rrennick THANK SO MUCH !!

[2020-10-26 09:38] #633 closed

[2020-10-26 11:54] rrennick commented on #633
@Mysterikkrimkss Thanks for the follow up.

[2020-10-26 15:55] kamadoandino opened #635 "Critical ERROR_Woocommerce and Wordpress 4.6.1"
Hi everyone.

I have a problem in my wordpress page, with woocommerce plugin.

Show this when i enter to wordpress:

Se ha producido un error del tipo E_ERROR en la línea 143 del archivo /var/www/wp-content/plugins/woocommerce/packages/action-scheduler/classes/abstracts/ActionScheduler.php. Mensaje de error: Uncaught Error: Class 'ActionScheduler_DataController' not found in /var/www/wp-content/pl

[2020-10-27 14:38] madeincosmos opened #634 "Double check action scheduled date in case they're processing too early"
We've had a few reports of database errors causing actions to be processed ahead of the schedule. This happens when the database server's disk is full:

[code]

As far as I understand, if an error like this comes up when looking for scheduled actions that are due for processing, the server sometimes sends back intermediate results (i.e. all rows, or all rows that are pending regardless of their sc

[2020-10-28 05:18] thenbrent commented on #634
An alternative solution, and/or additional safeguard, would be to halt execution of AS when the disk if full and the database can't write. There's going to be additional issue in that situation that would be good to prevent.

[2020-10-28 21:45] rrennick commented on #635
@kamadoandino that looks like you have an incomplete copy of the WooCommerce plugin. Can you re-install it?

[2020-10-29 17:05] de-integratie-specialisten opened #636 "Not executing?"
Hi,

I'm using as_enqueue_async_action to execute my function. No errors and the job/task is add to the table wp_actionscheduler_actions but my function never executes, 'status' is indicating 'pending'.

What could be the cause of this?

Row from wp_actionscheduler_actions:

[code]

[2020-10-29 17:37] de-integratie-specialisten commented on #636
I am able to run it manually, from http://localhost:8081/wp-admin/admin.php?page=wc-status&tab=action-scheduler. Clicking 'Run' for a pending task works properly; my function is called and status changes to 'Complete'.

[2020-10-29 19:14] rwngallego commented on #636
Maybe this is related: https://github.com/docker-library/wordpress/issues/531

[2020-10-29 23:49] de-integratie-specialisten commented on #636
That seems to be (part of) the problem. Changing the port setting to 80:80 *seems* to run the task/job; it's status gets set to 'Complete'. However, the code's doesn't seem to run. Or it errors out for some reason.

All seems to be docker-related. The wordpress docker image somehow doesn't show the error_log so I don't have a clue what's going on :(

Before, with the previous port setup, and manua

[2020-10-30 00:02] rwngallego commented on #636
You can run `docker logs CONTAINER_ID`, all the wordpress logs are forwarded to `stdout/stderr`

[2020-10-30 00:10] de-integratie-specialisten commented on #636
`docker logs -f CONTAINER_ID >/dev/null` does show `stderr`. Yet this function:

function mrc_send_message(int $messageType, string $msisdn, string $message) {
	error_log('mrc_send_message');
}

Doesn't log anything. No other errors, just nothing in the error_log.

[2020-10-30 01:04] de-integratie-specialisten commented on #636
Even triggering a divide by zero in my function gives no errors :(

Can't figure it out.

[2020-10-30 01:27] de-integratie-specialisten commented on #636
It's returning in wp-includes/plugin.php, in function do_action_ref_array:

`	if ( ! isset( $wp_filter[ $tag ] ) ) {
		if ( isset( $wp_filter['all'] ) ) {
			array_pop( $wp_current_filter );
		}
		return; // ##  <-- returns here, not executing the action.
	}
`
That's somewhere around line 539 (have been editing a bit in the file for debugging but it should be around there).

[2020-10-30 14:18] de-integratie-specialisten commented on #636
I stripped my plugin so it only enqueues the job like below. I can see the task being properly loaded, all looks good. Yet it still returns in `do_action_ref_array` before it gets executed, apparently because my task is not in the `$wp_filter` array.

So why does all this not work for me but apparently for loads of others, it does?

[code]

[2020-10-30 14:43] staticblue38 opened #637 "Callback not always called (erratic behaviour)"
Hi,

I've tried to use the action-scheduler library in a plugin I'm creating. The action is scheduled, then performed just fine (as indicated by its status in the dashboard actions table). The problem is that the callback is called sometimes, but not each time, it's very unpredictable. I realize this isn't happening to everyone, so it must be something with my setup. This is making me go crazy bec

[2020-10-30 14:57] crstauf commented on #637
The first thing that comes to mind is that the callback registration occurs conditionally or later in the load process such that it is not always registered when the action runs.

Simple way to test: create an mu-plugin that registers a callback on the scheduled action hook that outputs to a file, and see the callback is executed consistently with the action.

[2020-10-30 15:52] de-integratie-specialisten commented on #636
Ok. Solved. You have to do an add_action in your plugin with a label (not sure if this is the correct name) that points to your function and is THAT as an argument to as_enqueue_async_action. NOT the actual function name.

This works:

[code]

[2020-10-31 19:16] de-integratie-specialisten commented on #636
Maybe the documentation for as_enqueue_async_action could be made clearer on this? Just a suggestion.

[2020-11-02 12:50] rrennick commented on #636
@de-integratie-specialisten the documentation for the `as_*` functions is https://actionscheduler.org/api/.

[2020-11-02 15:20] bambootb opened #638 "Set schedule action Timezone"
Hi, I would like to know how to set a timezone on schedule action at the moment it set as default +0000 which isn't practical for me to check or see when it will be execute on my timezone which is GMT+7.

Can anyone please show me the way to set this, thank you so much.

![image](https://user-images.githubusercontent.com/25810154/97885140-92f8b600-1d59-11eb-882b-32b82461316e.jpeg)

Best,
T

[2020-11-02 16:06] crstauf commented on #638
This has been discussed previously and labeled as `wontfix`: https://github.com/woocommerce/action-scheduler/issues/537#issuecomment-638397130.

The Scheduled Date value has a relative readout which works regardless of your timezone. At the time of your screenshot, the `terawallet_auto_credit` action would run in 23 hours and 29 minutes.

[2020-11-03 15:15] staticblue38 commented on #637
Thanks for your reply. It seems you are quite right: I tried your suggestion of registering the callback inside a mu-plugin, and the callback is executed every time. This makes me wonder how I can achieve the same result without the mu-plugin? I feel like I am following the instructions from the "usage" page correctly (https://actionscheduler.org/usage), but maybe I am not?

Inside my main plugin

[2020-11-03 15:38] crstauf commented on #637
Okay great!

Your code sample all looks right, so the next question is when is that file being included?

[2020-11-03 16:20] staticblue38 commented on #637
Cool, thanks!

The file is the main file of my plugin, so I'm thinking it's included when the WordPress plugins are loaded. Is that not OK?

[2020-11-03 16:28] crstauf commented on #637
Hmmm, that should be fine.

If I get time today I'll create a sample plugin in an effort to match your use-case to see if I can recreate the problem.

[2020-11-03 18:15] staticblue38 commented on #637
that would definitely be helpful, thanks!

[2020-11-05 14:36] oempire commented on #630
seems to be immediate - i have a site in staging i can show f you have somewhere for me to email details?

[2020-11-06 09:19] slaFFik commented on #530
We are getting those deadlocks quite frequently (almost daily).
We have only 7k items in Scheduled Actions admin area table. We do not use high volume plugin or those filters to modify default AS behavior.

<details>

[code]
</details>

We use WooCommerce 4.6.1.

[2020-11-06 13:03] rrennick commented on #530
@slaFFik Have you tried adding the index in #535?

[2020-11-06 14:01] slaFFik commented on #530
No, we haven't tried that. We will apply that fix early next week and I will report back with the results.
Thank you.

[2020-11-09 22:10] bhubbard opened #639 "Question: Best Hook to Use"
Hi woo team,

I want to build a quick integration for action-scheduler and slack. Would like a quick way to see action-schedular activity in a slack channel. What would be the best hook or hooks to use?

[2020-11-12 09:36] oshrib opened #640 "Searching for idea how to use action-scheduler with my case"
Hi
I have woocommerce website with 3,000 products.

I have function that changes automatically the products prices if they are not equal to my competitors (i scrapping external website that have all the prices of my competitors).

I need this function to run once per 4 hours.
This function includes While loop.

As the external site not allowed more than 6 enters per 1 minute, i must to limit my wh

[2020-11-12 09:58] oshrib commented on #640
Maybe to use the action-scheduler with while loop without the
'posts_per_page' => 5
Just using sleep(10) function, to sleep after each run of the loop for 10 seconds... what will bring me to run through 5-6 products per 1 minute?

[2020-11-12 14:08] peterfabian commented on #627
Hi @Konamiman, have you had a chance to look into this one? If not, should we just close this one and leave this for subscriptions team to open any issues in AS when needed?

[2020-11-12 15:50] SevenAcreFarm commented on #91
We would like to support this enhancement.

We have experienced an issue wherein pending actions are scheduled, but blocked from running by a stuck process. Since the system seems to be designed such that only one action can be ran at a time, any issues causing a stuck action holds up /every other action/ thereafter. This seems like a major bug.

To add insult to injury, there are no warnings, ema

[2020-11-12 22:11] lukecav opened #641 "WP-CLI command support to create missing AS related DB tables"
There should be a way to force missing Action Scheduler DB tables from WP-CLI.

https://actionscheduler.org/wp-cli/

[2020-11-12 23:50] MehbubRashid opened #642 "Sending large number of emails"
Hi, i have 10,000 unique id saved in my database...i have a function which can make a curl request to an api with a unique id and the api returns the email address for that unique id.then i use wp_mail to send an email..if i want to process the whole 10000 unique id and send email to them in background, what should be my approach?

How much email i should process in per action execution?

I though

[2020-11-13 07:34] Konamiman commented on #627
Hi, no, sorry. I agree that we could handoff this to the Subscriptions team, and provide them any help they might eventually need.

[2020-11-18 16:49] alexmigf opened #643 "Unable to query for multiple status with DBStore"
Currently I'm unable to query actions using `DBStore` for multiple status. I'm building a list table for a plugin with `failed` and `complete` status and I'm unable to do this with one query.

Do you want me to open a Pull Request that addresses this?

Let me know your thoughts.

[2020-11-19 10:19] lkraav commented on #643
Have you identified where in AS source this gets blocked?

[2020-11-19 10:28] alexmigf commented on #643
I believe it's here https://github.com/woocommerce/action-scheduler/blob/c899c34a06a987c5143218672c6c9e544c73fed4/classes/data-stores/ActionScheduler_DBStore.php#L313-L316

[2020-11-20 09:01] AashikP commented on #634
Another report in 3495533-zen

[2020-11-21 13:34] XedinUnknown commented on #464
**TL;DR**
This hacky way of loading the library is making normal usage of it much more complicated. Please, is there a way to go around this? If not, could it be made optional?

**Details**
Which version of a package to use is not the concern of that package itself. It is the concern of the consumer of that package. I see 2 main use-cases for how AS can be used:

1. As part of WooCommerce itself.

[2020-11-23 07:48] rrennick commented on #464
@XedinUnknown No, there isn't a way around it. I explained the reason in detail in #471. Action Scheduler is included as a library in dozens of plugins. An install can only have one instance of AS functionally active. Redeclaring functions or classes triggers fatal errors.

That UI is in Action Scheduler.

The base assumption this relies on is that all installs update their plugins as soon as ther

[2020-11-23 11:00] XedinUnknown commented on #464
Shouldn't be a re-declaration if relying on autoloading.

How so? IMHO, it only implies that, from a certain point in time, everyone will have AS 3.0+.

Does this mean that with AS 3.0+ it's possible to use the scheduler earlier, like on `plugins_loaded`?

Ok, but the API can break in the future too.

[2020-11-23 15:18] roykho commented on #639
Hi there,

Thanks for your question but unfortunately this is an area to submit reproducible bugs and not a place to ask for extensibility questions. However to point you in the right direction, try searching through the codebase for `do_action` hooks. This will list all the hooks available in which you can use.

I hope that helps.

[2020-11-23 15:18] #639 closed

[2020-11-23 19:41] roykho commented on #597
Closing this due to inactivity.

[2020-11-23 19:41] #597 closed

[2020-11-23 20:20] roykho commented on #637
Hi @staticblue38 - so I did some tests on my local setup and was not able to replicate the issue you're seeing. Please note that we're not able to help with implementations here. However if you're still experiencing this with Action Scheduler core, please reply back with documented detail steps to reproduce the issue consistently and we'll re-open this.

[2020-11-23 20:20] #637 closed

[2020-11-23 20:22] roykho commented on #636
Closing this as it is resolved.

[2020-11-23 20:22] #636 closed

[2020-11-23 20:31] roykho commented on #638
Closing this as it has been discussed in #537

[2020-11-23 20:31] #638 closed

[2020-11-23 20:35] roykho commented on #640
Hi @oshrib - unfortunately we do not support implementations here. This is a place to submit reproducible bugs. Please try submitting your question here https://wordpress.org/support/plugin/action-scheduler Thanks!

[2020-11-23 20:35] #640 closed

[2020-11-23 20:40] roykho commented on #642
Hi @MehbubRashid - Unfortunately we do not support implementations here. This is a place for submitting reproducible bugs that requires developer attention. You can however try your question here https://wordpress.org/support/plugin/action-scheduler Thanks for your understanding.

[2020-11-23 20:40] #642 closed

[2020-11-25 14:06] #627 closed

[2020-11-25 14:58] roykho commented on #641
That or have logic in place to just create the tables before anything runs.

[2020-11-25 15:00] roykho commented on #643
Hey @alexmigf - Thanks for reporting. Yes please feel free to submit a PR and we'll take a look.

[2020-12-05 21:48] Roger120200 opened #644 "Wp Cron not running"

[2020-12-05 21:52] Roger120200 commented on #644
WP Cron |   | ✕ WP Cron does not appear to be running. This function is heavily relied upon by AutomateWoo. Please contact your hosting provider to resolve the issue.
-- | -- | --

The REST API is one way WordPress, and other applications, communicate with the server. One example is the block editor screen, which relies on this to display, and save, your posts and pages.

The REST API request fail

[2020-12-07 11:01] madeincosmos opened #645 "Review and maybe optimize performance of `as_next_scheduled_action`"
According to developers of Facebook for WooCommerce, there's a performance problem with the function `as_next_scheduled_action` on large sites. When the scheduled actions table reaches 500,000 records, processing this function takes more than 4s on average.

In this particular case, Facebook for WooCommerce schedules a feed regeneration job every 15 minutes, so a large number of records is not unu

[2020-12-07 17:43] madeincosmos commented on #634
One more possible case of the same problem here:

https://wordpress.org/support/topic/mailchimp-and-woocommerce-subscriptions/

Subscription renewals started suddenly processing ahead of time after the Mailchimp plugin created a large number of scheduled actions. 1 action per 1 order shouldn't normally take that much disk space, so either the database was already at its disk space limits, or there

[2020-12-07 18:10] rrennick commented on #634
Worth noting is there is a difference between MySQL running out of temporary disk space (this issue) and MySQL running out of space in the database. If a site is out of "permanent" database space it would be having errors throughout WP.

[2020-12-08 14:30] rrennick commented on #614
Addressed in #617

[2020-12-08 14:30] #614 closed

[2020-12-08 14:33] rrennick commented on #609
Closing this issue due to lack of feedback.

[2020-12-08 14:33] #609 closed

[2020-12-10 11:26] peterfabian commented on #619
Both items have been merged now, do you think we can close it, @rrennick ?

[2020-12-10 12:44] rrennick commented on #619
Sure @peterfabian

[2020-12-10 12:44] #619 closed

[2020-12-11 02:18] thenbrent opened #646 "Explain in logs that timeouts are for an unknown error and/or rename timeouts"
Action Scheduler will mark an action as failed when it has been processing for 5 minutes. The reason behind this is that if the action has been _in-progress_ for 5 minutes, some kind of undetectable, unrecoverable error has likely occurred. It's rare an action needs that long, and even more a server would allow a PHP process to run for that long processing an action.

Action Scheduler calls this a

[2020-12-11 11:11] vdwijngaert opened #647 "WC Emails can't be sent with async requests"
I'm running into an issue where emails that are triggered using an async request (as opposed to WP-CLI) don't get triggered. This happens in some of my emails getting sent, while others don't.

As far as I can see, the action hook runs alright, but it seems that on async requests, this happens before the `woocommerce_email_classes` filter is called (you're only supposed to init your WC_Mail classe

[2020-12-11 11:21] vdwijngaert commented on #647
I see things like `WC_Background_Mailer` and `WC_Mails::queue_transactional` exist, so I should probably look into using those...

Anyhow, I found this solves my problem:

[code]

[2020-12-15 13:29] surajv commented on #631
Hi @roykho, sorry for the late reply, it was like 3.0.1607082479

[2020-12-16 15:56] olnerpsm commented on #587
Hi everyone, I am getting the same issue with my WooCommerce plugin. Anything past 3.9.3 just resolves in a fatal error.

WordPress version 5.6
Current theme: Flatsome Child (version 3.13)
PHP version 7.3.25

Error Details
=============
An error of type E_ERROR was caused in line 44 of the file /public_html/wp-content/plugins/woocommerce/packages/action-scheduler/classes/migration/ActionScheduler_

[2020-12-21 15:24] rrennick commented on #587
@olnerpsm `${some-string}` is a PHP interpolated string which PHP replaces. `${utf8mb4_utf8mb4_unicode_ci}` should be `utf8mb4_unicode_ci`.

[2020-12-21 20:10] danieliser commented on #587
@rrennick Has there been any movement on this issue in general? Has a determination been made as to the ultimate cause, potential fixes etc? Or is the only workaround to have tables generated manually somehow?

[2020-12-21 20:32] rrennick commented on #587
@danieliser The PR to address the issue is waiting for review. Because it involves a schema change it planned to go into a major release.

[2020-12-22 00:18] danieliser commented on #587
@rrennick - Hmm, good news and bad news I guess. What is the timeline for v4 then given that seems to be the target?

[2020-12-22 12:52] olegabr opened #648 "WP_CLI is checked with defined. isset should be used instead"
[code]
https://www.php.net/manual/en/function.defined.php

https://github.com/woocommerce/action-scheduler/blob/c899c34a06a987c5143218672c6c9e544c73fed4/classes/WP_CLI/Migration_Command.php#L31
https://github.com/woocommerce/action-scheduler/blob/c899c34a06a987c5143218672c6c9e544c73fed4/classes/WP_CLI/ProgressBar.php#L45
https://github.com/woocommerce/action-scheduler/blob/c899c34a06a987c514321867

[2020-12-22 13:08] olegabr commented on #648
found it: https://wordpress.stackexchange.com/a/226163/137915
But the constant defined on line 4: https://github.com/wp-cli/wp-cli/blob/71626710db27d5202e4df063c5b664fd5eb6615c/php/wp-cli.php#L4 is replaced with class definition included on line 16: https://github.com/wp-cli/wp-cli/blob/71626710db27d5202e4df063c5b664fd5eb6615c/php/wp-cli.php#L16:

Class defined in a global namespace: https://githu

[2020-12-22 13:41] rrennick commented on #648
@olegabr I'm closing this issue as you will see the same checks and usage in any plugin that adds a WP CLI command.

To briefly answer your question: in PHP the usage of constants and classnames do not overlap. Based on usage, PHP determines whether `WP_CLI` refers to the class or the constant.

[2020-12-22 13:41] #648 closed

[2020-12-22 13:42] rrennick commented on #587
It will be 3.2.0. We hope to have it included in WooCommerce 5.0.

[2020-12-22 17:54] danieliser commented on #587
@rrennick Ahh, wouldn't that be a `minor` version then, or were you referring to WooCommerce 5 as the `major` version change?

[2020-12-22 18:10] rrennick commented on #587
Action Scheduler follows the WordPress versioning scheme (X.X.0 is a major version) vs WooCommerce.

[2021-01-11 23:29] jonathansadowski opened #650 "Spike: Research the best way to detect when MySQL is out of temporary space"
There's a suggestion that #634 could be solved if we added a check to see if MySQL is out of temporary space.

Desired outcome of this spike: proposal for a way to detect MySQL has exhausted its temporary space and an understanding of whether or not we could apply that detection toward solving #634.

[2021-01-12 21:32] roykho commented on #644
Hi @Roger120200

While our goal is to address all the issues reported in this repository, GitHub should be treated as a place to report confirmed bugs only.
​
The type of issue you submitted looks like a support request. Due to the number of bug reports being submitted, we are prioritizing work on them and are not able to attend to support questions.
​
The best place to get help further is in the

[2021-01-12 21:32] #644 closed

[2021-01-19 08:01] adevade commented on #548
For future solution seekers:

As per [this reply in the WordPress support forum](https://wordpress.org/support/topic/error-on-update-to-1-5-9-5-from-1-5-8-2/#post-12577788) I _emptied_ the following option fields in the database: `schema-ActionScheduler_StoreSchema`, `schema-ActionScheduler_LoggerSchema` and `action_scheduler_migration_status`.

After that the hook ran once again and then it final

[2021-01-20 06:39] Kubitomakita opened #652 "The shutdown action is conflicting with other plugins"
Hi, when the `action_scheduled_run_queue` event is running in WP Cron, I noticed that no other actions hooked to `shutdown` runs, doesn't matter what priority they are registered with.

Easy way to replicate:

[code]

When the `custom_cron_event` runs without the `action_scheduled_run_queue`, it correctly runs the `shutdown` action.

[2021-01-20 14:30] rrennick commented on #652
@Kubitomakita WordPress cron only runs one event/hook on each cron run. No two cron events are going to run at the same time. If I have misunderstood the issue you are describing can you please provide all the information needed to reproduce the issue.

[2021-01-20 18:33] Kubitomakita commented on #652
Thanks for the reply @rrennick!

You are wrong about the cron. It [loops over all the due events](https://github.com/WordPress/WordPress/blob/master/wp-cron.php#L112) and executes the action one by one.

Steps to reproduce:
1. Install Action Scheduler as a plugin or another plugin that is using it, we tested with WooCommerce and RankMath SEO
2. Create a new custom event with the `custom_cron_event

[2021-01-21 10:36] Konamiman opened #653 "Check the existence of the actions table before attempting a migration (or at the appropriate place)"
Context: https://github.com/woocommerce/woocommerce/issues/25997, https://github.com/woocommerce/woocommerce/issues/25895, https://github.com/woocommerce/action-scheduler/issues/587

While the actions table shouldn't disappear in the first place, it would be a good idea to add a check for the table existence for robustness. Maybe checking before any access to the table would be overkill (and hurt

[2021-01-21 14:38] rrennick commented on #652
@Kubitomakita I created the following cron schedule
<img width="1551" alt="Screen Shot 2021-01-21 at 10 28 57 AM" src="https://user-images.githubusercontent.com/343847/105364480-9589df80-5bd3-11eb-954a-be0cfb98e115.png">

Added the following code to a test plugin:

[code]

I closed all connections to the site and waited until both the queue runner and `my_cron_event` would be pending. Repeated tha

[2021-01-21 14:38] #652 closed

[2021-01-26 16:46] gavin310 opened #654 "How to force async action to process immediately?"
In `init` I'm calling `as_enqueue_async_action` and adding the action handler below it:

[code]

The problem is that the action isn't fired until I perform some action, like refreshing the page or when admin ajax starts polling. I know this is related to how WP Cron works, but is it possible to have the Action Scheduler being processing the action right away?

On another note, are there any Action

[2021-01-26 17:31] crstauf commented on #654
@gavin310 You could trigger a request to WP Cron immediately after enqueuing the async action using [`spawn_cron()`](https://developer.wordpress.org/reference/functions/spawn_cron/).

[2021-01-26 17:38] crstauf commented on #654
You could also use [`as_get_scheduled_actions()`](https://github.com/woocommerce/action-scheduler/blob/master/functions.php#L219) to retrieve your action's object, and then run the object's [`execute()`](https://github.com/woocommerce/action-scheduler/blob/master/classes/actions/ActionScheduler_Action.php#L21) function, though this wouldn't occur in a separate HTTP request, so would slow down the

[2021-01-26 18:45] gavin310 commented on #654
Thanks @crstauf that's a good idea. I'll experiment with `spawn_cron()`. I definitely don't want to use anything that will process the action in the same request, since I'll be doing PDF generation and one action could take over a minute to complete. Thanks again!

[2021-01-26 23:54] crstauf commented on #654
Welcome! 🙇

[2021-01-28 06:08] gavin310 commented on #654
Hey @crstauf,

I'm not able to get `spawn_cron` to begin processing the job right away. I'm hoping there's something wrong with my code rather than `spawn_cron` not being able to do what I want. Would you mind glancing at this quickly and seeing if there's something wrong?

From some answers on StackOverflow it seems `spawn_cron` should do what I want, at least with WP Cron, but maybe it doesn't w

[2021-01-28 07:57] gavin310 commented on #204
It would really help to include in the example how to pass $args. From trial and error I've gathered that the args array should contain one key, and that keys value is what will be passed. Other key=>value pairs will be ignored. Why not just pass the entire $args array?

[2021-01-28 08:00] gavin310 commented on #654
@crstauf Actually what I'm thinking now is that maybe `spawn_cron` _is_ working, but when they say it sends a request to start processing cron jobs, it doesn't mean it'll handle them immediately.

[2021-01-28 08:44] gavin310 commented on #654
Alright, I decided to give https://github.com/deliciousbrains/wp-background-processing a try and that's actually handling my async processes immediately, so I'm going to go with that. I wanted to use Action Scheduler because it seems like it'll be well-maintained long into the future, but I need immediate processing :)

[2021-02-03 15:50] Kubitomakita commented on #652
I just wanted to confirm that you're right, the problem is not with Action Scheduler. All the actions in a given cron batch are executing as well as the shutdown action on the end.

[2021-02-04 11:28] samimakela opened #655 "Schedule for 3.2.0?"
We're experiencing a significant amount of database deadlocks, which are discussed https://github.com/woocommerce/action-scheduler/issues/530 and addressed in https://github.com/woocommerce/action-scheduler/pull/535

Is there any estimation on when 3.2.0 will be released?

The deadlocks are currently filling up our error log. It seems that we are not the only ones experiencing issues with this one

[2021-02-12 03:54] jonathansadowski commented on #634
Note: We discussed splitting this into two parts. This issue will serve to put a check in place to make sure that the actions we're trying to process are valid (as the title of this issue currently suggests). We've create da separate issue with a spike to investigate the underlying issue in https://github.com/woocommerce/action-scheduler/issues/650

[2021-02-12 08:58] RadhaRamasamy84 opened #656 "Php 7.4 compatibility issue"
Hi,

I am using version 'dev-release-225-amends' of this plugin (prospress/action-scheduler) . Php 7.4 compatibility check reports an error
' INI directive 'safe_mode' is deprecated since PHP 5.3 and removed since PHP 5.4' in '/classes/ActionScheduler_Compatibility.php' line 95. Is it safe to upgrade to 7.4 with this error? or do you have any plans to update the plugin to be php 7.4 compatible?

C

[2021-02-13 08:25] gavin310 commented on #250
I tried adding a job set to `time()` and it still takes on average between 10-20 seconds for the job to run. Is this how it should function, or am I doing something wrong? Is it possible to have the job start immediately or closer to 1 or 2 seconds?

[2021-02-16 06:30] shopishopzar opened #657 "DB update going on 6 hours. over 5000 completed actions so far."
'update_callback' => 'wc_update_500_fix_product_review_count'
'update_callback' => 'wc_update_500_db_version'

These two have run over and over for 6 hours since woocommerce suggested db update.

How long does this carry on for?

[2021-02-16 08:13] vedanshujain commented on #657
It depends on number of products you have (there should be 1 action per 10 products), its intentionally slow to not put too much load on the website.
This is a backfill update and is relatively safe, so website will function normally while this going on.

[2021-02-16 14:55] peterfabian commented on #530
Hi @slaFFik , were you able to resolve your problem with the fix in the PR #535 ?

[2021-02-18 18:33] 84em opened #658 "Low cardinality on wp_actionscheduler_actions table"
There's an index on the status column with a cardinality of 3.  It's my understanding low cardinality indexes can affect mysql performance negatively.  Curious if this has been addressed before, and/or benchmarks run?

[2021-02-19 09:32] samimakela opened #659 "Modifying schema via custom plugin"
While we wait for 3.2.0 to be released, we'd like to explore the option of updating the DB schema via a custom plugin. How would you recommend we do this?

Essentially we'd like to achieve the same end result as in https://github.com/woocommerce/action-scheduler/pull/535

[2021-02-20 07:27] amberhinds opened #660 "Security Issues in ActionScheduler_Abstract_ListTable.php"
Hello!

We've included Action Scheduler in one of our plugins (thank you!) and while doing security audits on our plugin, identified problems related to Action Scheduler.

We ran the plugin through [WP Engine's linting test](https://github.com/wpengine/wpengine-coding-standards/) which helps identify best practices and potential problems. For this process, we are using [PHP Codesniffer](https://tr

[2021-02-20 07:34] amberhinds commented on #656
Hi Radha,

We're using Action Scheduler in one of our plugins and it works fine on 7.4. You can safely upgrade your PHP and not have any problems with Action Scheduler.

WooCommerce team, I've also identified this warning while running tests with PHP Code Sniffer and would appreciate an update on if there are any plans to remove the deprecation?

Thanks.

[2021-02-20 07:36] amberhinds opened #661 "Security Issues in ActionScheduler_wpPostStore.php"
Hello!

We've included Action Scheduler in one of our plugins (thank you!) and while doing security audits on our plugin, identified problems related to Action Scheduler.

We ran the plugin through [WP Engine's linting test](https://github.com/wpengine/wpengine-coding-standards/) which helps identify best practices and potential problems. For this process, we are using [PHP Codesniffer](https://tr

[2021-02-20 07:38] amberhinds opened #662 "Security issues in"
Hello!

We've included Action Scheduler in one of our plugins (thank you!) and while doing security audits on our plugin, identified problems related to Action Scheduler.

We ran the plugin through [WP Engine's linting test](https://github.com/wpengine/wpengine-coding-standards/) which helps identify best practices and potential problems. For this process, we are using [PHP Codesniffer](https://tr

[2021-02-20 07:40] amberhinds opened #663 "PHPCS Issues in ActionScheduler_DBStore.php"
Hello!

We've included Action Scheduler in one of our plugins (thank you!) and while doing security audits on our plugin, identified problems related to Action Scheduler.

We ran the plugin through [WP Engine's linting test](https://github.com/wpengine/wpengine-coding-standards/) which helps identify best practices and potential problems. For this process, we are using [PHP Codesniffer](https://tr

[2021-02-20 07:42] amberhinds opened #664 "Security Issue in Controller.php"
Hello!

We've included Action Scheduler in one of our plugins (thank you!) and while doing security audits on our plugin, identified problems related to Action Scheduler.

We ran the plugin through [WP Engine's linting test](https://github.com/wpengine/wpengine-coding-standards/) which helps identify best practices and potential problems. For this process, we are using [PHP Codesniffer](https://tr

[2021-02-20 07:44] amberhinds opened #665 "Security Issues in ActionScheduler_wcSystemStatus.php"
Hello!

We've included Action Scheduler in one of our plugins (thank you!) and while doing security audits on our plugin, identified problems related to Action Scheduler.

We ran the plugin through [WP Engine's linting test](https://github.com/wpengine/wpengine-coding-standards/) which helps identify best practices and potential problems. For this process, we are using [PHP Codesniffer](https://tr

[2021-02-20 07:45] amberhinds opened #666 "Security Issue in ActionScheduler_Schedule_Deprecated.php"
Hello!

We've included Action Scheduler in one of our plugins (thank you!) and while doing security audits on our plugin, identified problems related to Action Scheduler.

We ran the plugin through [WP Engine's linting test](https://github.com/wpengine/wpengine-coding-standards/) which helps identify best practices and potential problems. For this process, we are using [PHP Codesniffer](https://tr

[2021-02-22 13:22] rrennick commented on #656
@RadhaRamasamy84 @amberhinds You can download the latest version of Action Scheduler from [WordPress.org](https://wordpress.org/plugins/action-scheduler/) or the [release page](https://github.com/woocommerce/action-scheduler/releases/tag/3.1.6). We won't be doing any new releases of AS 2.X.

[2021-02-22 16:05] amberhinds commented on #656
@rrennick Thanks for the quick response.  We have version 3.1.6  installed and this deprecation is still present.

[2021-02-23 08:52] Surbma commented on #421
+1 for this feature. As a WC user, would like to see a button on the admin area to "Purge all" failed actions. I have 91671 failed actions right now and it lists 10 actions per page. So the current "bulk" delete method is useless in my case.

The oldest action is from 2019-08-14.

A filter will also do the job for me to set an interval to delete them automatically.

Thank you!

[2021-03-01 22:44] barryhughes commented on #666
Hello @amberhinds—thanks for reporting this!

:memo: As a friendly note for the future, I'd ask first of all that you report any other security issues via [HackerOne](https://hackerone.com/automattic/). This is our preferred way to handle possible security issues (and I'll make a note to update our _readme_ file to make this clearer, as I don't think we currently cover this).

In this case specifi

[2021-03-01 22:52] barryhughes commented on #665
Hello again @amberhinds—thanks for reporting this!

:memo: As a friendly note for the future, I'd ask first of all that you report any other security issues via [HackerOne](https://hackerone.com/automattic/). This is our preferred way to handle possible security issues (and I'll make a note to update our _readme_ file to make this clearer, as I don't think we currently cover this).

Running throug

[2021-03-01 23:00] barryhughes commented on #664
Hi @amberhinds—thanks for this!

:memo: As a friendly note for the future, I'd ask first of all that you report any other security issues via [HackerOne](https://hackerone.com/automattic/). This is our preferred way to handle possible security issues (and I'll make a note to update our _readme_ file to make this clearer, as I don't think we currently cover this).

So to the specific issue, I agree

[2021-03-01 23:17] barryhughes commented on #663
HI @amberhinds—thanks for reporting this!

:memo: As a friendly note for the future, I'd ask first of all that you report any other security issues via [HackerOne](https://hackerone.com/automattic/). This is our preferred way to handle possible security issues (and I'll make a note to update our _readme_ file to make this clearer, as I don't think we currently cover this).

In most of these cases

[2021-03-01 23:22] barryhughes commented on #662
HI @amberhinds—thanks for reporting this!

:memo: As a friendly note for the future, I'd ask first of all that you report any other security issues via [HackerOne](https://hackerone.com/automattic/). This is our preferred way to handle possible security issues (and I'll make a note to update our _readme_ file to make this clearer, as I don't think we currently cover this).

In most of these cases

[2021-03-01 23:25] barryhughes commented on #661
HI @amberhinds—thanks for reporting this!

:memo: As a friendly note for the future, I'd ask first of all that you report any other security issues via [HackerOne](https://hackerone.com/automattic/). This is our preferred way to handle possible security issues (and I'll make a note to update our _readme_ file to make this clearer, as I don't think we currently cover this).

In most of these cases

[2021-03-01 23:41] barryhughes commented on #660
HI @amberhinds—thanks for reporting this!

:memo: As a friendly note for the future, I'd ask first of all that you report any other security issues via [HackerOne](https://hackerone.com/automattic/). This is our preferred way to handle possible security issues (and I'll make a note to update our _readme_ file to make this clearer, as I don't think we currently cover this).

So there a lot of warni

[2021-03-01 23:53] barryhughes commented on #659
HI @samimakela,

GitHub is primarily a place to report bugs and we can't generally help with custom coding tasks (which this essentially would be, though of course we appreciate the motivations for wanting to do this).

Some possibilities you could explore:

1. Installing Action Scheduler as a standalone plugin and either checking out a commit that contains this fix or else, to reduce the number o

[2021-03-01 23:53] #659 closed

[2021-03-02 00:07] barryhughes commented on #657
Hopefully you are all set here, @shopishopzar — but do let us know if you are still experiencing this. Otherwise, we'll go ahead and close this in a few days time. Remember too that there are often better avenues than GitHub for seeking support, especially if you are using Action Scheduler in the context of WooCommerce:

- Review [WooCommerce Self-Service Guide](https://docs.woocommerce.com/docume

[2021-03-02 00:26] barryhughes commented on #656
Hi @amberhinds and @RadhaRamasamy84—thanks for flagging this!

Despite the linter warnings (ie, the warnings emitted by either the PHP 7.4 compatibility tester or by PHPCS) I don't think this will cause a problem in practice, even if the code in question executes.

That said, in WooCommerce itself we have effectively the same code, but a [PHPCS ignore rule has been applied](https://github.com/wooc

[2021-03-02 00:53] barryhughes commented on #654
Glad you found a solution that works for you :-)

I'll go ahead and close this issue.

[2021-03-02 00:53] #654 closed

[2021-03-02 15:38] NiekeRoos opened #669 "Action Scheduler with external cronjob"
Hello,

I'm relatively new to this, so forgive me if this isn't the right place to pose my question.

We're using Action Scheduler together with Woocommerce Subscriptions to automatically generate subscription renewals. We would like to do this with an external cronjob instead of WP Cron. However, disabling WP Cron stops the action_scheduler_run_queue from executing pending renewal order requests.

[2021-03-03 00:50] barryhughes commented on #658
Hi @84em,

So I'll start by noting that when we migrated from storing scheduled actions in the post table to the current schema, we observed an improvement of around 70%.

However...if I'm understanding your question correctly, you're specifically asking if we've benchmarked performance in terms of defining the `actionsheduler_actions.status` column as an index (vs not as an index), is that correc

[2021-03-03 07:33] iamsayan opened #670 "Automatic Migration to Action Scheduler from Native WP Cron"
I have written a plugin to automatically Migrate all WordPress Existing and future Cron Events to the Action Scheduler Library on WordPress version >=5.1.0. So, I just want to share my work. Hope it will help others.

Here is the GitHub Link: https://github.com/iamsayan/migrate-wp-cron-to-action-scheduler
And WordPress.org Link: https://wordpress.org/plugins/migrate-wp-cron-to-action-scheduler/

T

[2021-03-03 11:44] 84em commented on #658
Hi Barry,

Thanks for the follow-up.  I haven't benched marked yet.

I reached out as I'm dealing with a very busy Woo Subscriptions site that relies heavily on Action Scheduler.  Lots of stuff runs through Action Scheduler from a variety of high load plugins.

We had been experiencing a lot of MySQL Deadlocks on the actions table.  Hundreds, sometimes thousands, every day.  They all looked like t

[2021-03-03 17:05] #634 closed

[2021-03-03 19:06] barryhughes commented on #658
That is a useful note, thank you @84em :+1:

[2021-03-04 04:01] samimakela commented on #530
We've also been looking into these deadlocks at our end when working with a busy WooCommerce Subscription site as well. I've been following this issue and the Pull Request #535 and I'm wondering, that was the root cause of the issue ever unambiguously identified?

We've been seeing this issue **only** when running concurrent batches. We have used Action Scheduler High Volume plugin for this.

Addi

[2021-03-04 18:46] aheckler commented on #669
3773031-zen as well. @mdmoore had one yesterday also.

[2021-03-04 20:32] cwhockey31 opened #672 "High traffic/transactional E-commerce site"
Hi - I've been using Action Scheduler for about 6 months and it's helped a lot by spreading transactions and scheduled actions out so they're not all happening at once and crashing the site.  However, I need them to happen faster...  When we have 3000 subscription payments come through in one day, the scheduled actions are backed up over 24 hours to run the payments and any other scheduled actions

[2021-03-05 11:45] lkraav commented on #672
Absolutely, CLI cron is a must. It's mostly as simple as:

[code]

I have `/dev/null` redirect commented out, ready to be commented back in, in case of any ugly high-volume cron notification spam bug temporarily occurs.

[2021-03-11 12:49] ovidiul commented on #672
Looking at this [doc](https://actionscheduler.org/perf/#increasing-initialisation-rate-of-runners) on increasing the rate of runners, it would be ideal if that could be done without a backend HTTP call, this needs to take into account that the CLI containers could run separately from the website itself, and to also take into consideration, for instance, the use of this plugin https://github.com/Au

[2021-03-14 13:28] leewillis77 opened #675 "Exception thrown on duplicate calls to cancel_action"
Occasionally, it's possible that cancel_action() can be triggered on an action that is already cancelled. In my case this was happening through a race condition between two calls to `bulk_cancel_actions()`.

`bulk_cancel_actions()` generates a list of actions to be cancelled, and then works through them calling `cancel_action()` on each in turn. If this returns a reasonable amount of items, it's p

[2021-03-17 13:33] ovidiul commented on #669
Option 3. might work best, use WP CLI to first list the available scheduled actions like

[code]

you should see the `action_scheduler_run_queue` there, then launch it with

[code]

This [comment](https://github.com/woocommerce/action-scheduler/issues/672#issuecomment-791368243) might help.

[2021-03-17 13:55] ovidiul commented on #557
It could be that the SQL Server 2012 edition does not like the actions table created query, could you try and manually run the query below:

[code]

and confirm if it works or the errors received?

[2021-03-24 14:15] peterfabian commented on #530
I'll try to sum up my findings while I continue working on this. Hope it would provide a bit of valuable info to people participating in this thread.

I've generated 1.32M actions and I'm still at roughly 1.2M pending ones, the actions keep running.

I haven't seen any deadlocks, but I'm seeing transaction aborts, very slow processing, and high CPU utilization (100%+) coming from the mysqld.

Lots

[2021-03-24 21:15] glagonikas commented on #530
Hi @peterfabian good job with the investigation on this.

It's been quite a while since we first reported this issue, so we no longer have the my.ini settings, but i don't think they will be much different to our current ones.

Our setup at the time, consisted of one database server (64GB RAM i think) with the latest MariaDB and many web servers (32GB RAM) with Nginx behind a Load Balancer. At the

[2021-03-24 21:36] #664 closed

[2021-03-25 10:16] peterfabian commented on #530
As for UPDATE, things a bit more complex here. I'm evaluating the SELECT subquery to make sure the selection of rows to be updated is quick: `SELECT action_id, attempts, scheduled_date_gmt FROM wp_actionscheduler_actions  WHERE claim_id = 0 AND scheduled_date_gmt <= '2021-03-24 15:34:20' AND status='pending' ORDER BY attempts ASC, scheduled_date_gmt ASC, action_id ASC LIMIT 25;`

## Optimization 1

[2021-03-25 10:29] codetot opened #677 "wp_actionscheduler_logs rows increase 300 rows every second! (Huge 90 million rows)"
**My system:**

[code]

## My problem

- Can't access `wp-admin/admin.php?page=wc-status&tab=action-scheduler` and it will cause an error.

Allowed memory size of 268435456 bytes exhausted (tried to allocate 16777224 bytes) in /home/runcloud/webapps/xxx/wp-includes/wp-db.php on line 2023

- The table wp_actionscheduler_logs increase too fast, every second will create around 300 rows (just refresh

[2021-03-25 10:47] glagonikas commented on #530
@peterfabian if you can, it would be great to run your tests on a multi-server (one db and one app server) environment to see if you get different results.

I suspect it might and if so, it will be good to remember in the future when testing performance-related improvements.

[2021-03-25 18:42] peterfabian commented on #530
In my local testing on MariaDB with 5 CLI runners I was able to go from ±65 actions per minute before the change to ±1800 actions after the changes in #678 and #680. I will test it tomorrow on local MySQL server and then on setup with separate HTTP and DB server. In the meantime, feel free to test these PRs.

[2021-03-26 15:18] peterfabian commented on #530
I'm happy to report back that the test on wp.com was successful. I've imported the 1.3M actions into the database and did the comparison below:

### Original AS 3.1.6

I let the AS run for 20 minutes with 1 wp-cli worker, I haven't tried more because I was already getting large number of deadlocks:
- Actions done: 90
- Deadlocks reported: 76
- "Lock wait timeout exceeded" reported: 13

### New cha

[2021-03-26 15:23] peterfabian commented on #530
I'd also like to note that perhaps there's a possibility to improve `\ActionScheduler_DBStore::find_action`, as it's used quite widely and it also sorts by the scheduled_date_gmt, but that's perhaps outside of scope for this one now.

[2021-03-26 16:00] glagonikas commented on #530
That's great work @peterfabian! I'm glad you went deep into this and came up with solid changes.

It's also great that you confirmed my suspicions that having a separate DB server [in some cases/scenarios] can cause completely different behaviour than you'd get on local/single server.

[2021-03-27 05:40] samimakela commented on #530
@peterfabian and @glagonikas I'm super glad to see this investigated further. Great work @peterfabian with the performance optimisation.

To my understanding the optimisation in #678 and #680 will, in addition to improved performance, reduce the **likelihood** of deadlocks, but it won't **eliminate** it completely. Adding the index as would (as explained in my earlier comment). @peterfabian what's

[2021-03-27 13:31] peterfabian commented on #530
Hi @samimakela , I'm not really an expert on MySQL, so happy to learn and update my mental model, but I don't think you can actually **eliminate** the deadlocks completely if you have 2 queries asking to update the same rows which could end up waiting for each other. Based on some more reading I've done now, my understanding is that the only way to avoid deadlocks would be to create a covered inde

[2021-03-28 06:07] samimakela commented on #530
@peterfabian thanks for taking the time to answer.

The underlying issue in my opinion is that whenever actions are claimed the **whole table** is locked until the query is complete. This is stated in the InnoDB documentation.

If there is another batch already running, the [execution logging ](https://github.com/woocommerce/action-scheduler/blob/447d2f2578edf2aa1804218fa37508761607bf22/classes/da

[2021-03-28 11:23] glagonikas commented on #530
I'm not sure why the EXPLAIN @peterfabian gets on the default query doesn't pick the index and requires a nudge. In our case, once the index is added, the default query starts using it straight-away, which is why I proposed this as a quick fix.

Our output is identical to @samimakela (just a different index name), so `ref` is null, `rows` is 1 and `Extra` doesn't have "using where;" which all make

[2021-03-29 06:57] samimakela commented on #530
One more thought. Adding the index should also speed up the query itself as reported by @glagonikas earlier.

Since it seems, that the index did not work correctly during the tests made by @peterfabian, also the results regarding the query performance can't be relied on.

I know I'm sounding like a broken record at this point, but I strongly feel that it would be important to revisit the issue and

[2021-04-01 17:13] eduardoarandah opened #682 "How to make wordpress action-scheduler run only with wp-cli and not on wp-admin?"
## Problem

Scheduled action times out on wp-admin, killing it

`unexpected shutdown: PHP Fatal error Maximum execution time of 60 seconds exceeded in /xxx/wp-includes/class-wp-image-editor-gd.php `

## Description

I've a scheduled job that takes longer than `max_execution_time` for php-fpm

This is no problem when running via wp-cli because it's execution time is much longer:

`wp action-schedul

[2021-04-01 17:29] rrennick commented on #682
@eduardoarandah Sorry to hear you are having an issue with it. You can disable the cron and async runner by installing https://github.com/woocommerce/action-scheduler-disable-default-runner.

[2021-04-01 17:29] #682 closed

[2021-04-01 18:40] imcodingideas opened #683 "Composer install has wp-content folder in theme"
When you install this with composer it installs in my theme a wp-content folder with lib and other things..

Why?

Anyone use sage theme?

[2021-04-02 00:06] eduardoarandah commented on #682
Thanks @rrennick !

If you got here searching for the answer, that plugin mentioned has this code, which can be included in your `functions.php` file

[code]

[2021-04-02 05:17] sanzeeb3 commented on #683
That's the default path: `theme/wp-content/woocommerce/action-scheduler`, I'm not sure where is that coming from. But in your theme's composer.json you can use:

[code]

which adds AS to `theme/vender/woocommerce/action-scheduler`, assuming you already have `composer/installers` required.

[2021-04-02 19:05] eduardoarandah commented on #683
@sanzeeb3 I did it and it installed fine, inside `vendor/woocommerce/action-scheduler`

[code]

Next problem is, functions aren't recognized when running the server

`Call to undefined function as_next_scheduled_action()`

- Tried this: `\as_next_scheduled_action()`
- Tried `composer dump-autoload`

Whats weird is that intelephense language server recognizes the function alright:

![image](https:/

[2021-04-05 08:42] jaschaio opened #684 "Job stuck in progress"
Occasionally a job keeps stuck in progress. Which is unfortuante as I only run one job at max. So once the job is stuck, no further actions are being executed:

![image](https://user-images.githubusercontent.com/11058666/113555651-912e6980-95fb-11eb-9080-802727741ffb.png)

If I delete the `in progress` job everything starts working again as expected.

But even if I would increase the number of sim

[2021-04-05 12:28] sanzeeb3 commented on #683
@eduardoarandah composer.json won't be included in the package - you don't need that either. The function `as_next_scheduled_action()` isn't being recognized is a different problem. `\as_next_scheduled_action()` is only required when your file is namespaced. So, what is the full error message you're getting, and do you have the same problem when the function is called from elsewhere such as functi

[2021-04-05 20:43] eduardoarandah commented on #683
@sanzeeb3 thanks for your help!

Here's how to reproduce:

In the theme (I'm using roots/sage https://github.com/roots/sage)

Added to composer.json section:

[code]

then:

[code]

check it's there:

[code]

Move to your public folder and load wordpress in repl php

[code]

Check functions exist:

[code]

Is this helpful?

[2021-04-06 06:37] #677 closed

[2021-04-06 08:34] imcodingideas commented on #683
@ObliviousHarmony any ideas?

[2021-04-06 14:53] contemplate commented on #530
I want to thank all those working on this thread.  We have 25k+ actions on our large server and were having Deadlock issues all the time which was affecting our site performance.  I added the index and we haven't had one deadlock since.  Look forward to the further improvements suggested here to Action Scheduler.

[2021-04-06 22:37] ObliviousHarmony commented on #675
Howdy @leewillis77,

Thank you for your report, as well as your interest in raising a PR to solve it. I'm not sure I like the idea of adding another database query here, given the performance goals of ActionScheduler.

I would be curious to learn more about what circumstance this bug occurs under for you. It looks like the `ActionScheduler_DBStore` itself [doesn't actually call `cancel_action` dur

[2021-04-09 08:25] leewillis77 commented on #675
You're right here. My analysis of the cause was off here - I blame my editor picking up the wrong class instance ;)

There's definitely a situation where this can happen though, although annoyingly I'm no longer seeing the error appear in my logs, and I'm struggling to reproduce the fault. I'll close this for now, and if it rears its head again I'll do a better job of nailing it down and open a fr

[2021-04-09 08:25] #675 closed

[2021-04-09 13:37] abuyoyo opened #685 "Make current subsubsub link clickable"
ie. When on the Pending status-page - The "**Pending**" item is not a link. It should be a link.
That's how WordPress does it. That's how all plugins do it.

[2021-04-09 17:58] crstauf opened #686 "How to search for async actions"
For `as_next_scheduled_action()` and `as_get_scheduled_actions()`, how is it specified to only search for async actions?

[2021-04-09 18:03] crstauf commented on #686
Recommend this be added to the documentation for easy, future reference.

[2021-04-13 17:57] barryhughes commented on #530
Re being a broken record ... not at all: what you're drawing attention to is important.

Specifically in relation to the work [done over here (to add a new index)](https://github.com/woocommerce/action-scheduler/pull/535), I think it's worth us considering this as a further (and significant) incremental improvement, but it probably will not be the 'last word' on the matter and, likely, we are goin

[2021-04-16 02:09] jonschr opened #687 "Searching for and unscheduling tasks when $args are unknown"
Is it possible to simply unschedule *all* upcoming actions on a particular hook, even if the $args are unknown? I ask this because I'm generating the $args based on some settings, and then when the settings change, I'm sometimes not able to unschedule recurring actions in time, which results in zombie recurring actions that just ... continue on.

It would be much simpler to clear the decks, so to

[2021-04-16 02:14] crstauf commented on #687
`as_get_scheduled_actions()` should allow you to query actions by hook and not match by arguments. From there you'd have all the info needed to unscheduled the action.

[2021-04-16 21:01] ObliviousHarmony commented on #683
Sorry for the wait @imcodingideas!

We have this [Usage Guide](https://actionscheduler.org/usage/) that covers how to use this package in the two main contexts we support. This package does not make use of Composer autoloading and must be included to be used.

[2021-04-16 21:01] #683 closed

[2021-04-19 13:42] rrennick commented on #687
[`as_unschedule_all_actions`](https://github.com/woocommerce/action-scheduler/blob/master/functions.php#L130) doesn't require that you match the `$args` if you provide a `hook` or `group`.

[code]

[2021-04-19 17:54] jonschr commented on #687
Facepalming all over the place right now.

I tested this exact thing months ago when I started writing my code, and I must have typoed or something, because it didn't work. This will greatly simplify things, thank you!

[2021-04-19 18:11] #687 closed

[2021-04-21 12:07] glagonikas commented on #530
Just an update on this, we recently got AutomateWoo and this has pushed our actions to over 1m. Roughly 900k come from AW (!).

During a large promo, where hundreds of customers were browsing and purchasing, we saw the deadlocks again... 😭

So it seems that having the index helps a lot, but as @peterfabian said, it won't eliminate the deadlocks in all scenarios.

We've had similar (and even more)

[2021-04-21 13:55] barryhughes commented on #530
Thanks for the update, @glagonikas — out of interest, have you had an opportunity to try [this related change](https://github.com/woocommerce/action-scheduler/pull/680)? I'm currently reviewing that alongside the new index PR, and *so far* (but I still have more testing to do) the former seems to have the greater impact in terms of reducing deadlocks.

[2021-04-21 15:37] glagonikas commented on #530
hi @barryhughes i tried the code you sent me, but some deadlocks still happen. Traffic has died down however so it's not a like-for-like comparison

[2021-04-21 18:55] barryhughes commented on #530
Thanks for taking it for a spin—this is all useful feedback :+1:

[2021-04-21 19:46] crstauf commented on #530
This is easily the most interesting, thorough, and exciting issue I've ever read. Thanks to everyone. 🤔 😂 💯

[2021-04-22 04:57] samimakela commented on #530
@glagonikas could you run EXPLAIN on the [query claiming the actions](https://github.com/woocommerce/action-scheduler/blob/586f7d10410b23b84108627bce4730018665a448/classes/data-stores/ActionScheduler_DBStore.php#L642)?

On a quick glimpse it seems that the entire table is locked. As long as the claim actions query locks the entire table the possibility of deadlocks exits. In my opinion the only wa

[2021-04-22 06:42] glagonikas commented on #530
Hi @samimakela

The explain is as follows
[code]

There's even an index for all three conditions (`claim_id, status, scheduled_date_gmt`) but doesn't seem to help, however, Ii'm not sure if having `status` first would help this index.

<details>

</details>

[2021-04-22 10:27] samimakela commented on #530
@glagonikas have you added any other "extra" indexes on top of the composite index combining the claim_id, status, scheduled_date_gmt?

If I'm not mistaken the query seems to have used an index containing only the status and scheduled_date_gmt, which should not exist.

[2021-04-22 10:43] glagonikas commented on #530
@samimakela yes, we've added more indexes depending on what was necessary at the time. Those would have come from slow queries in slow.log or NewRelic

[2021-04-22 10:49] samimakela commented on #530
@glagonikas any chance you could try this out with only one composite index (claim_id, status, scheduled_date_gmt)?

I'm not sure why the optimiser seems to have picked a different index, but unless the chosen index matches *fully* with the WHERE clause of the query all the rows will be locked, which opens a window for deadlocks.

[2021-04-22 10:59] glagonikas commented on #530
I've removed the index `status and scheduled_date_gmt` and the `EXPLAIN` now uses the other composite index as below.

[code]

This didn't make any difference and deadlocks keep cropping up...

[2021-05-07 14:26] Luc45 opened #690 "Dropping Action Scheduler tables?"
Howdy,

We decided to test Action Scheduler on our plugin, so we loaded the Action Scheduler, which created the tables on our user's sites as expected.

However, after one or two releases, we decided to remove it from our plugin due to internal reasons. We would like to know if there's a recommended approach for removing the leftover tables created by Action Scheduler, without conflicting with oth

[2021-05-07 14:29] Luc45 commented on #690
I thought about doing something like this minimalist example:

[code]

[2021-05-07 18:47] Nemi5150 opened #691 "async actions triggered with wp-cron don't call function"
I have some code that queue's an async action to send off an email. It calls a function called `send_notice()`. When I schedule an action by calling `as_enqueue_async_action` and it triggers, if I see a log entry at `WooCommerce->Status->Scheduled Actions` with `action complete via Async Request` then all is good and the function is called.

However, if the action gets called by `action complete v

[2021-05-07 19:15] Nemi5150 commented on #691
Not sure what is going on. I am getting some weird behavior from this, but I restarted my server and things appear to be working as of right now. I will reopen if I still have issues.

[2021-05-13 17:06] ghdfamily opened #694 "wpforms_admin_notifications_update FAILED !!! Woocommerce problem !!! bug"
Yesterday I was updating my wordpress website and once I tried to update woocommerce This Happened:
<img width="1472" alt="Screen Shot 2021-05-12 at 5 54 22 PM" src="https://user-images.githubusercontent.com/84146878/118159849-8c738700-b3eb-11eb-9604-b36d8e1c6706.png">

Then everything was to sloww and I got these errors in my cPanel:
<img width="400" alt="Screen Shot 2021-05-12 at 5 59 20 PM" src

[2021-05-14 02:13] jperson19468 opened #695 "Action-scheduler crashes wordpress website"
( I need this to be able to use wpforms )
When I try to activate action-scheduler I get the following message:
Error message:
There has been a critical error on this website. Please check your site admin email inbox for instructions.

Learn more about troubleshooting WordPress.
I am hosting on godaddy
I am running WordPress 5.7.1 running The WP Business Child theme
PHP version 7.4.11

**Error Log:

[2021-05-18 19:51] rossjcoop opened #697 "Scheduling actions via loop, only the first action successfully executes the function"
I am essentially looping and generating scheduled actions. That is all fine and dandy. The first action runs fine, then when the next and subsequent scheduled actions run, it marks it complete but it doesn't actually call the function it is hooked to. It almost seems to 'lose' the action. I am not getting any errors in my logs.

My code in a nutshell:

[code]

I will admit I am a bit of a novice w

[2021-05-18 21:26] rossjcoop commented on #697
I tested my 'nutshell' code and the scheduled actions all work as they should. 🤦  I'll post an update if I figure out what I am doing wrong and close this.

[2021-05-19 20:42] Nemi5150 opened #698 "Scheduling just one recurring action makes more than one"
On the Usage page there is an example of how to "schedule a function to run at midnight if it is not already scheduled". See here
https://actionscheduler.org/usage/

I have used this example to create an action that runs every minute, and only one gets scheduled. However, every once in a while I check on the scheduled actions and there are two of those running. My guess is that there must be a rac

[2021-05-20 18:49] jessLundie opened #699 "Deleting subsite on multisite triggers table doesn't exist error"
Report on the forums here: https://wordpress.org/support/topic/action-scheduler-fatal-error/

**Steps Taken**

1. Go to Network Admin > Sites
2. Go to one of my subsites (doesn’t matter which one). Click DELETE
3. Click CONFIRM
4. Error message comes up with the white “wordpress has encountered a critical error message”

We've confirmed that the SQL user has all permissions assigned.

Thanks so mu

[2021-05-24 16:26] rossjcoop commented on #697
I believe what happened with the code above was the lifecycle of this object ended after the first loop so the action/function disappeared and Action Scheduler couldn't find it anymore. Perhaps, there should be an error for this. But, in the end, not a bug, just a faulty web developer.

[2021-05-24 16:26] #697 closed

[2021-05-26 13:21] alexanderkotev opened #700 "Action scheduler overloads server"
I received a message from the hosting provider that my site will be shut down because of server overloading. When I investigated the issue I found that error which is logged in the errors log on the server:

`[26-May-2021 11:20:11 UTC] WordPress database error Table 'threec719_sim.wp_actionscheduler_logs' doesn't exist for query SHOW FULL COLUMNS FROM `wp_actionscheduler_logs` made by do_action('w

[2021-05-30 18:29] ravisoni6262 opened #701 "Please replace 404 link with new link"
Hello,
I was reading through this page [FQA](https://actionscheduler.org/faq/ )and found one link which is pointing on Github 404.

https://github.com/woocommerce/action-scheduler/blob/master/classes/ActionScheduler_WPCLI_QueueRunner.php

[2021-06-01 04:58] chris-vas commented on #699
I'm facing the same issue.

[2021-06-01 20:36] dummys opened #704 "Error in action scheduler line 675 how to debug ?"
Hi, we have the following error in our woocommerce:
I don't know if it's related, but one of our product went out of stock for customer, but we still have many items to sell. We don't know why the product get out of stock suddenly, it's not the first time we have this. It happend time to times and I don't know what trigger it ...

[code]
System report:
[code]

[2021-06-01 21:17] barryhughes commented on #530
Closing this issue: we'll see how the [new index](https://github.com/woocommerce/action-scheduler/pull/696) impacts this issue 'in the wild' via the next AS release. If there are still ongoing problems for a sizeable cross-section of the community we can re-evaluate via a fresh issue and perhaps re-examine some of the other approaches discussed earlier on.

[2021-06-03 14:35] JVDL-1 commented on #704
Hey @dummys,

I've got exactly the same error on our site, did you find a solution already? Also wondering how to debug it.

Thank you.

[2021-06-03 18:53] dummys commented on #704
for now I have no fucking idea to be honest. I still try to understand. But I think people from woocommerce are not ready to help ...

[2021-06-04 15:56] barryhughes commented on #700
Hi @alexanderkotev,

The error suggests that the `wp_actionscheduler_logs` table was deleted (and, if so, it's not surprising that the error log is filling with complaints about that problem). To remedy this, while logged into the admin environment, try navigating to **Tools → Scheduled Actions** ... it will hopefully detect that the log table is missing and you'll see a message like this:

![as-t

[2021-06-04 16:09] barryhughes commented on #704
📝 For my own ref: _"Impossible de demander des actions. Erreur de la base de données."_ == _"Unable to claim actions. Database error."_

---

@dummys it's hard to know what exactly caused this, but your Action Scheduler tables don't look like they are particularly full so I don't think this is a problem being caused by an avalanche of scheduled actions, or anything like that:

[code]

How often ar

[2021-06-04 16:13] barryhughes commented on #701
Thanks, @ravisoni6262 ... you're right, it probably should [point here](https://github.com/woocommerce/action-scheduler/blob/master/classes/WP_CLI/ActionScheduler_WPCLI_QueueRunner.php) instead. Will look into addressing this :+1:

[2021-06-04 16:53] barryhughes commented on #690
Hi @Luc45,

That's a really interesting question...but I'm afraid we don't have any recommended approaches for handling this, or not that I know of.

Probably the very best practice is for individual site operators to clean this up, once they are satisfied that those tables are no longer in use by any of their remaining plugins; but I'm assuming in your particular case you don't directly control t

[2021-06-04 17:26] barryhughes commented on #684
Adding an option to specify a cut-off or max allowed execution time sounds like something we could explore, ie:

[code]

However, will flag for discussion as there's quite a few things to consider here. Issues with the approach I sketched out:

* How can we reliably know if task execution stalled out and died, or if in fact it is still in progress?
* Can we guarantee being able to end task executi

[2021-06-04 17:36] barryhughes commented on #655
Hi @samimakela—apologies for the late response here. [3.2.0](https://github.com/woocommerce/action-scheduler/releases/tag/3.2.0) has now been released and you can [grab it from wordpress.org](https://downloads.wordpress.org/plugin/action-scheduler.3.2.0.zip), or even directly from GitHub if you prefer.

[2021-06-04 17:36] #655 closed

[2021-06-04 17:41] barryhughes commented on #647
That seems like a reasonable solution.

I'll go ahead and close this, though, because we have some workarounds noted above (thanks!), plus it seems less like an issue with Action Scheduler itself, and more a matter of something that the callback logic needs to be aware of and handle as needed.

[2021-06-04 17:41] #647 closed

[2021-06-04 18:01] barryhughes commented on #695
@jperson19468 apologies for the delayed response. Looking at the table prefix, I'm curious: are you running this within a multisite environment?

(If so, we may wish to address along with #699.)

[2021-06-04 18:09] barryhughes commented on #685
Hi @abuyoyo—nice observation, I'm sure we can make that change.

Out of curiosity, is the reason you want this simply to provide an alternative way of refreshing the page when you're looking at the list of pending actions?

[2021-06-04 18:16] barryhughes commented on #694
Hi @ghdfamily—sorry to hear that :-(

It looks like a few different things are afoot but I'll note that the scheduled action listed in the screenshot you shared does not appear to relate to the WooCommerce update specifically, or even to WooCommerce at all: the prefix (`wpforms_`) suggests a forms plugin.

Since I don't think there is a problem with Action Scheduler itself, I'll go ahead and close

[2021-06-04 18:16] #694 closed

[2021-06-04 18:19] barryhughes commented on #669
In addition to the options in the last comment, [per the docs](https://actionscheduler.org/wp-cli/)—which also include details of various flags and options you can specify—it is possible to execute the following:

`wp action-scheduler run`

You can do this manually, or add it to crontab as required. Hope that helps!

[2021-06-04 18:19] #669 closed

[2021-06-04 18:40] barryhughes commented on #686
Hi @crstauf,

This isn't directly supported by `as_get_scheduled_actions()` but you could possible use a strategy looking something like this:

[code]

May I ask, what's the reason you want to do this (just to inform our picture of how the library is being used)?

[2021-06-04 18:57] barryhughes commented on #557
Going to go ahead and close this one.

I realize SQL Server is something that a number of people wish to use with WordPress (hence efforts [like Project Nami)](https://projectnami.org/), but WordPress itself does **not** directly support it—officially, it only supports MySQL and MariaDB—and, of course, Action Scheduler in turn is built for WordPress.

[2021-06-04 18:57] #557 closed

[2021-06-04 19:02] barryhughes commented on #635
Closing (lack of feedback/seems like the plugin was perhaps not installed correctly).

[2021-06-04 19:02] #635 closed

[2021-06-04 19:05] jperson19468 commented on #695
No single site

On Fri, Jun 4, 2021 at 2:01 PM Barry Hughes ***@***.***>
wrote:

--

*Thank YouJerome Greene**Senior*

* Developer AnalystPhone 610.495.1457LinkedIn Profile
<http://www.linkedin.com/in/jeromegreene>Twitter
<https://twitter.com/jpersonnospin>*
<http://www.linkedin.com/in/jeromegreene>

[2021-06-04 19:07] crstauf commented on #686
@barryhughes I'm using Action Scheduler to get items from an API.

On each page load, a check runs to see if there's a scheduled refresh action; if there's not, then an async action is enqueued (because it's unknown when the last refresh was) and an action is scheduled for the future; both async and scheduled actions have the same hook name (`refresh_items`).

It is possible that there may be an a

[2021-06-04 19:18] barryhughes commented on #600
https://user-images.githubusercontent.com/3594411/120851745-1d8ed700-c52e-11eb-8c53-1d555cca663b.mov

Can confirm... seems like we need to add some logic in one of our ListTable classes to inspect `get_hidden_columns()` (possibly).

[2021-06-04 19:30] barryhughes commented on #686
Gotcha.

Is testing the fetched actions, to see if the schedule type is `ActionScheduler_NullSchedule` (as in my example) a viable solution for you?

My initial thinking is that approach, and/or simple strategies like using naming conventions, are probably sufficient—but I'd be interested in your feedback (we're open to adding new functionality, but we also have to be judicious as each item we add

[2021-06-04 19:34] barryhughes commented on #695
Thanks for clarifying.

Are you able to create a brand new site, without any other plugins, and verify if you experience the same thing? I'm curious if the problem is hosting-related/environmental in nature, or if in fact the issue stems from a conflict with another plugin (or your theme).

[These docs](https://docs.woocommerce.com/document/how-to-test-for-conflicts/) (though written for WooCommer

[2021-06-04 19:37] barryhughes commented on #695
💡 ...Also, just as a friendly reminder, do remember that GitHub should be treated as a place to report confirmed bugs only. Right now, this feels more like a support request (which may or may not reveal a bug once proper troubleshooting is done).

[2021-06-04 19:39] #657 closed

[2021-06-04 19:43] crstauf commented on #686
Ah sorry for not responding to your example. I'll give that a try and let you know.

[2021-06-04 19:43] barryhughes commented on #670
Thank you for sharing 😺

[2021-06-04 19:43] #670 closed

[2021-06-04 20:06] crstauf commented on #686
@barryhughes Yes, your approach does work. It's certainly not as ideal as `as_get_scheduled_actions()` and `as_next_scheduled_action()` handling out of the box, but it does appear to work.

[2021-06-04 20:24] barryhughes commented on #615
Closing (lack of activity/not enough info to proceed).

[2021-06-04 20:24] #615 closed

[2021-06-04 20:29] jperson19468 commented on #695
Are you able to create a brand new site, without any other plugins, and
verify if you experience the same thing? I'm curious if the problem is
hosting-related/environmental in nature, or if in fact the issue stems from
a conflict with another plugin (or your theme).

These docs
<https://docs.woocommerce.com/document/how-to-test-for-conflicts/> (though
written for WooCommerce) explain how to test f

[2021-06-04 20:30] barryhughes commented on #608
Going to close (lack of activity/not enough information to proceed).

Please do feel free to create a fresh issue, though, if you still need assistance and believe this is a bug in Action Scheduler. As above, more details such as error log entries would definitely be helpful.

Beyond that, if you only see this problem when using Action Scheduler via WP Mail SMTP, it may also be worth reaching out

[2021-06-04 20:30] #608 closed

[2021-06-04 20:52] barryhughes commented on #686
Great! I agree it perhaps isn't as 'neat' as native support of some kind might be, _but,_ I'm also a little unsure just how often this sort of thing might be required. I'll apply our `votes needed` workflow, though, as it may have more traction that I realize.

[2021-06-04 20:56] crstauf commented on #686
@barryhughes What kind of maintenance cost do you see with supporting this? Shouldn't it be as simple as implementing your code into the relevant functions, and then done? I really can't see where maintenance would be needed on a change like this.

[2021-06-04 20:56] crstauf commented on #686
@barryhughes What kind of maintenance cost do you see with supporting this? Shouldn't it be as simple as implementing your code into the relevant functions, and then done? I really can't see where maintenance would be needed on a change like this.

[2021-06-04 21:16] barryhughes commented on #695
OK—but again, just to be clear: on a new, *clean* installation (ie, not merely an existing installation where you have subsequently deactivated and deleted other plugins such as WP Forms) do you still experience this same issue when you install and activate Action Scheduler by itself?

Just to explain why I'm repeating this point: so far I can't replicate the problem you have described, and the so

[2021-06-04 21:29] barryhughes commented on #686
Well, we could consider that, but my initial instinct is that although it works well enough at a certain scale, it's not suitable for inclusion in Action Scheduler itself—because the approach I shared relies on iterating across a result set from within PHP.

A different approach would be to form a query that looks for the serialized form of the `ActionScheduler_NullSchedule` object...but that does

[2021-06-04 21:36] barryhughes commented on #658
Noting #535 was merged in. I'm going to go ahead and close this issue, let me know if for any reason it should be re-opened.

[2021-06-04 21:36] #658 closed

[2021-06-05 01:12] jperson19468 commented on #695
I have tried to install Action Scheduler by itself without wp forms
I can install but can't activate
What order do you want me to run the sql?
After I do and install or after I activate ?

On Fri, Jun 4, 2021 at 5:16 PM Barry Hughes ***@***.***>
wrote:

--

*Thank YouJerome Greene**Senior*

* Developer AnalystPhone 610.495.1457LinkedIn Profile
<http://www.linkedin.com/in/jeromegreene>Twitter
<http

[2021-06-07 08:35] oceanvantage opened #708 "Problems adding action"
Hi
I'm running a plugin called Scrapes. Since May 9th, despite no code changes, the plugin has been unable to queue an action.

Has there been any changes in Action Scheduler since may 9th? What can cause action schedule to prevent a plugin from adding a scheduled action?

Thanks in advance.

[2021-06-07 14:06] #701 closed

[2021-06-07 18:46] barryhughes commented on #695
What stops you from activating/is there an error message you can share?

Same order as written, please.

You would run those queries on the site where you are experiencing the problem.

[2021-06-07 19:00] rrennick commented on #690
If other plugins are using AS then you don't want to remove the tables. That's why AS doesn't remove them as part of its own deactivation/uninstall.

However, you can create actions with your own unique group. Then on uninstall or your use case, you can remove all the actions in that group. [See `as_unschedule_all_actions`](https://actionscheduler.org/api/)

[2021-06-07 19:58] jperson19468 commented on #695
What stops you from activating/is there an error message you can share?
Error message:
There has been a critical error on this website. Please check your site
admin email inbox for instructions.

After I do and install or after I activate ?

You would run those queries on the site where you are experiencing the
problem.

You misunderstand

Do I run the queries after I do the install of  *action-sc

[2021-06-07 22:49] barryhughes commented on #695
Great—so what I'm trying to get to here is the specific error message. Did you receive that email and did it contain a more specific error? If it did, can you copy it here?

Gotcha ... so please run them on the site where you are experiencing the problem: you do not need to activate Action Scheduler first of all.

I'm sorry to ask this again, but it's important. Are you doing this specific test fr

[2021-06-07 23:06] #690 closed

[2021-06-08 03:26] barryhughes commented on #708
Hi!

You can effectively see our release history by [looking at this list of tags](https://github.com/woocommerce/action-scheduler/tags). In the future, we'll also update the changelog you can [find over here](https://wordpress.org/plugins/action-scheduler/#developers).

I don't have any particular knowledge of 'Scrapes', but am I right in thinking it includes Action Scheduler? If so, it would be

[2021-06-08 03:28] crstauf commented on #690
The check for any actions with a different group from your actions seems the best method to cleanup the tables, though certainly not perfect.

Probably best to leave this to the site's developer to determine and cleanup.

[2021-06-08 05:09] jperson19468 commented on #695
Great—so what I'm trying to get to here is the specific error message. Did
you receive that email and did it contain a more specific error? If it did,
can you copy it here?
Only error message I received was " Error message:
There has been a critical error on this website. Please check your site
admin email inbox for instructions."
However this is what was sent to me in and email
"Subject: [Philade

[2021-06-08 16:31] barryhughes commented on #699
📝 This appears to occur when WooCommerce (and presumably other plugins that bundle Action Scheduler) is **network activated**. If it is activated on one or more single sites (which are subsequently deleted) it does not seem to occur.

[2021-06-08 16:34] MaryMuse commented on #699
That seems to be a bug then. I'll deactivate it network wide, then reactivate locally this afternoon and will report the results. Thanks for the update.

[2021-06-08 17:39] MaryMuse commented on #699
Click path:
1) Go to Admin > Plugins > Network Deactivate WooCommerce
2) return to main site. (ID=1), WooCommerce still shows active (but with the option to deactivate)
3) Go to Admin > sites > tried to delete a site. ERROR:
Fatal error: Uncaught RuntimeException: Error saving action: Error saving action: Table 'eponafirefly_wp300.wpej_6_actionscheduler_actions' doesn't exist in /home/eponafirefly

[2021-06-08 17:54] jperson19468 commented on #695
I will update you when I get a chance to work on this

On Tue, Jun 8, 2021 at 8:38 AM Barry Hughes ***@***.***>
wrote:

--

*Thank YouJerome Greene**Senior*

* Developer AnalystPhone 610.495.1457LinkedIn Profile
<http://www.linkedin.com/in/jeromegreene>Twitter
<https://twitter.com/jpersonnospin>*
<http://www.linkedin.com/in/jeromegreene>

[2021-06-08 18:35] barryhughes commented on #699
This may actually be specific to WooCommerce and specifically the [WC Admin](https://github.com/woocommerce/woocommerce-admin/) module's use of Action Scheduler, rather than a general issue in Action Scheduler itself.

To that end, I've logged [WC Admin #7141](https://github.com/woocommerce/woocommerce-admin/issues/7141) so we can follow up from there.

[2021-06-08 18:35] #699 closed

[2021-06-08 19:20] barryhughes commented on #672
Hi @ovidiul ... you should be able to process multiple batches concurrently, but it does require some setup work. Set the max this way (let's suppose you want upto 5 batches to be processed concurrently):

[code]

You can then trigger multiple runners. If you want to kick off five queue runners, for instance, you could do this (zsh-style):

[code]

In relation to adding this or something similar t

[2021-06-09 00:01] barryhughes commented on #331
With the work done in [PR #383](https://github.com/woocommerce/action-scheduler/pull/383) seems like this can be closed (and we can follow-up in further issues if we want to take it further, such as integrating with GH Actions or similar)—feel free to re-open if I'm mistaken!

[2021-06-09 00:01] #331 closed

[2021-06-09 06:09] #616 closed

[2021-06-09 16:19] Gmulti opened #711 "WordPress database error Table"
Hello,

We use the library for our WP Umbrella plugin (https://wordpress.org/plugins/wp-health/) and we updated yesterday with your latest release.
However, we are receiving support with an error that we don't understand and can't fix:

[code]

Could you tell us more about what to do or what our client should do?

[2021-06-09 19:11] #600 closed

[2021-06-09 20:59] dummys commented on #704
We see it like every 2 or 3 days. I don't know if it's related, but we suffer from weird bug where variable product get out of stock, but in fact, there is lot remaining... It happend without any action I guess. I'm still trying to understand where is the cuprit, that's why I look everywhere.

[2021-06-09 23:16] optimizegeek commented on #711
I own the website in question where the error above was quoted from, and the database table is not missing, and in fact I see some entries from back in May this year when I navigate to "tools >> scheduled actions"

No mention on that screen about missing table (this was first time I ever seen that screen as well).

This is a new (to me) problem as I never have had any errors like this previously.

[2021-06-10 07:02] Gmulti commented on #711
Thanks a lot for the additional information @optimizegeek

For some it happens seamlessly but for others everything seems to be blocked and they would not be able to update the plugin.

We use the latest version **3.2.0** that we have just updated.

@barryhughes  don't hesitate to tell us if we are using it in the wrong way. You can download the plugin here : https://wordpress.org/plugins/wp-healt

[2021-06-10 08:09] JVDL-1 commented on #704
@dummys I've managed to fix the issue on our side, but I noticed we got deadlocks on the database which caused the issue. I've updated the action scheduler to the newest version (3.2.0) by installing the plugin from the WordPress library which I believe helped to fix the issue on our side, but i'm not fully sure because we also did some other things. So maybe it's worth trying, but please check th

[2021-06-10 13:50] barryhughes commented on #711
This may just be the result of information being sourced from different locations, however: in the screenshot two comments above, which I understand is from the same site as the initial error that was posted, it looks like the database prefix ends with `v9_` or perhaps `w9_` (though I can't be certain because of how it's cropped)...although in the opening notes the prefix seemed to be `wpkj_`.

If

[2021-06-10 15:42] optimizegeek commented on #711
I have multiple sites (for testing only) on the same cPanel. The error message actually was for the top level domain but the screenshot is for the site in question. I get the same error on all the sites. I do have one site that does not have that database table, but as it doesn't have WooCommerce I can't get to "tools > action scheduler"

Does that only show up when WooCommerce is activated on the

[2021-06-10 15:56] optimizegeek commented on #711
I think the issue is solved now with a patch from WP Umbrella.

I installed the patch and it did not crash the site like previously, and I was able to get into tools > scheduled actions
On the site with the missing table, it went through normal process of detecting the issue and correcting it:
![Scheduled Actions ‹ OP Kevin — WordPress - Google Chrome 2021-06-10 at 10 49 15 AM](https://user-images

[2021-06-10 16:03] barryhughes commented on #711
Yes, the `Tools → Scheduled Actions` screen should show up regardless of whether WooCommerce is active or not. If you don't see it then possibilities include a conflict of some kind with another plugin (or even your theme), or the user you logged in with may not have the required permissions.

Sounds good!

Just as the error notes, it's important to keep the size of the args passed to the schedule

[2021-06-10 16:05] barryhughes commented on #684
Worth noting that our docs state:

It would seem in these cases that isn't happening.

[2021-06-14 04:49] ovidiul commented on #672
That would work @barryhughes, just thinking, if we are to add multiple cron events to run this automatically in parallel, will that introduce any issues with concurrency runners?

[2021-06-14 20:24] barryhughes commented on #672
Well, supposing we allow upto 5 claims to be processed concurrently. _Ideally,_ when a new queue runner starts:

* If it detects that 5 claims are already in the midst of being processed, it will bail out.
* If there are no unclaimed pending actions it will also bail out.

So with this strategy (where you launch 5 new queue runners every minute, via cron) you have the potential to kick-off 5 new c

[2021-06-15 14:50] #711 closed

[2021-06-15 14:56] barryhughes commented on #704
True: 3.2.0 should reduce the risk of deadlocks in many cases (though doesn't entirely eliminate the potential for them to happen). As a next step—working with your hosting provider as needed—I'd suggest ensuring you can access the MySQL logs and, next time you notice the _"Impossible de demander des actions"_ error, check and see if there is a corresponding MySQL error.

* If the error relates to

[2021-06-15 15:56] rogercoathup commented on #530
Confirming we were also seeing the problem intermittently across our sites.  Have deployed the patch today and not seen any further deadlocks -- will keep observing.

[2021-06-15 17:29] barryhughes commented on #698
Thanks for flagging this, @Nemi5150.

Yes, that seems like a real possibility. For example, simplifying a little, when an action is picked up for processing things shake out as follows:

* Action is fetched
* Corresponding record is updated to reflect that it is now in progress
* Action executes
* Status is updated to 'complete' (or 'failed', etc) as appropriate
* If it was a recurring action, the

[2021-06-16 06:59] ovidiul commented on #672
Hi @barryhughes thanks for the clarifications, that indeed helps, I will try to run with that next time.

[2021-06-16 14:53] #672 closed

[2021-06-16 15:11] barryhughes commented on #645
@madeincosmos I was looking at [PR 688](https://github.com/woocommerce/action-scheduler/pull/688/) and curious if you feel that would effectively resolve this?

It introduces a new function named `as_has_scheduled_action()` that in many cases—such as testing to see if a recurring action has been setup during `init`—can be used as a faster alternative to `as_next_scheduled_action()`.

Some other hi

[2021-06-17 00:04] barryhughes opened #714 "ActionScheduler can be declared twice (causing fatal)"
## Problem

If two plugins both include Action Scheduler (but different versions) and if one uses the standard approach of including Action Scheduler from top-level code in the main plugin file, and the other uses the alternative approach of doing this during `plugins_loaded:-10` then we end up with a fatal error:

`Cannot declare class ActionScheduler, because the name is already in use`

## Step

[2021-06-17 09:41] Niblu opened #716 "Function not executing"
I have a plugin with a file called async.php that contains this:

[code]

I run the file with URL or CLI and everything works fine, the "insert_test_action' is visible under scheduled actions tab, it says pending, then completed, either via cron, via admin panel or from clicking run. So I see the action and get status complete, but the code inside the test_action() doesn't get executed. I tried er

[2021-06-17 13:27] ravisoni6262 commented on #212
As per your example, I did set an interval of 5 seconds and expected to update the DB value in each 5 seconds, but it is not true. it is updating DB value only after 60 seconds which is the default run schedule for AS.

[2021-06-17 17:28] barryhughes opened #717 "Improve tests involving timestamp comparison (and reduce sporadic CI failures)"
We have various tests that check if two timestamps match. [Example here.](https://github.com/woocommerce/action-scheduler/blob/3.2.0/tests/phpunit/jobstore/ActionScheduler_DBStore_Test.php#L414) However, especially in Travis CI, there is potential for a discrepancy to arise (which usually doesn't exceed 1s).

This is a problem in practice because, it feels like, almost every 2nd PR has a bunch of

[2021-06-17 23:22] barryhughes commented on #716
Hi @Niblu! Can you speak a little more as to where this code lives (for instance, is it your main plugin file)? It essentially looks fine but, for the callback to execute, you need to ensure it is loaded whenever Action Scheduler starts processing scheduled actions.

Most often, that is accomplished by including it within the main body of your plugin code (so that it is available on every request)

[2021-06-18 00:00] barryhughes commented on #684
@jascahio—

Sorry for the delay here. Per my last note this should already be taken care of and, circling back to this, I find I cannot replicate.

When the queue runner starts (this is true both when executed over HTTP, and via CLI) it runs a cleanup process. By default, any tasks that are 'stuck' (that is, they have been `in-progress` for more than 5 minutes) are updated to a status of `failed`.

[2021-06-18 13:16] barryhughes commented on #631
Closing (as essentially the same thing is captured in #653).

[2021-06-18 13:16] #631 closed

[2021-06-18 13:21] barryhughes commented on #613
A lot of time has elapsed since the last comment, so I will go ahead and close. Please let me know if this problem is ongoing, though—we can easily re-open (or just create a new issue referencing this one).

[2021-06-18 13:21] #613 closed

[2021-06-18 13:48] davedoesthings opened #718 "Issue with DB tables causing stalled sync / empty list table"
I'm having an issue on a client site where we use AS as part of a document syncing solution. I'll state early on that this is on a multi-site, and I recognise that AS isn't built for MS per se, **however**, the sub-sites do not use AS; all the actions run on the root site `1` using the `wp_*` tables. Generally speaking, AS is holding up wonderfully!

We've had a handful of occurences where AS is e

[2021-06-18 15:09] barryhughes commented on #718
Hi @davedoesthings,

That's an interesting scenario. I'll start by saying this is not at all common, to the best of my knowledge.

Action Scheduler does delete actions as part of a clean-up process [(see here)](https://github.com/woocommerce/action-scheduler/blob/3.2.0/classes/ActionScheduler_QueueCleaner.php#L32-L72) but there are fairly tight constraints around that: for instance, by default, on

[2021-06-18 15:26] barryhughes commented on #650
Some relevant docs/articles:

- [MySQL Docs ▸ How MySQL Handles a Full Disk](https://dev.mysql.com/doc/refman/8.0/en/full-disk.html)
- [Cyberciti ▸ MySQL Error 28 and Solution](https://www.cyberciti.biz/faq/mysql-error-28-and-solution/)

Possibly we can detect this specific error (whether that's through exception handling, or by inspecting `$wpdb->last_error`, or some other approach) and then we c

[2021-06-18 16:05] davedoesthings commented on #718
hi @barryhughes thanks for the reply!

To the best of my recollection, every time this has happened, the database tables were populated as you would expect, including the `wp_actionscheduler_actions` table with a couple of entries, but it has been a few weeks since this last happened, and I don't have any screenshots/DB dumps to hand, so I can't be definitive with regards to that table.

The next

[2021-06-18 16:13] barryhughes commented on #718
Thanks for this info—agreed, I think we need more detail on the MySQL side. If it is possible to grab that info next time this occurs, that could be helpful. Also:

It could also be interesting to see a (suitably redacted) snapshot of some kind, assuming it is only a few rows. I'd be interested for instance in seeing the values of the `scheduled_date`, `status` and `claim` columns for the rows tha

[2021-06-18 18:07] #714 closed

[2021-06-18 23:06] hidalgutzu opened #720 "This happens when wanting to delete a site: Fatal error: Uncaught RuntimeException:"
WORDPRESS/WOOCOMMERCE MULTISITE

HELP !!... This happens when wanting to delete a site:

Fatal error: Uncaught RuntimeException: Error al guardar la acción: Table 'bkitmxmy_873hfuwie.ajz5makw_2_actionscheduler_actions' doesn't exist in /home/bkitmxmy/public_html/libs/plugins/woocommerce/packages/action-scheduler/classes/data-stores/ActionScheduler_DBStore.php:75 Stack trace: #0 /home/bkitmxmy/publ

[2021-06-21 18:49] barryhughes commented on #720
Hi @hidalgutzu,

This sounds like it might be the same problem as reported in #699 _("Deleting subsite on multisite triggers table doesn't exist error")_ which may be solved by [WC Admin PR #7214](https://github.com/woocommerce/woocommerce-admin/pull/7214).

Since a solution is in the works I'll go ahead and close this issue, but let me know if you disagree.

[2021-06-21 18:49] #720 closed

[2021-06-21 20:53] barryhughes commented on #708
Since it's been a couple of weeks without an update (and there isn't enough information to do anything more, just yet) I'm going to go ahead and close this.

[2021-06-21 20:53] #708 closed

[2021-06-21 20:55] barryhughes commented on #700
It's been over a couple of weeks without an update, so I'll go ahead and close this. Reach out if you disagree/have more information as requested.

[2021-06-21 20:55] #700 closed

[2021-06-22 07:18] jaschaio commented on #684
Hey @barryhughes, thanks for getting back to me. I haven't seen this happening again – which is odd because as far as I remember I haven't updated `action-scheduler` since I opened this issue, e.G. it is still running on `v3.1.6`.

Did the cleanup process you described got added recently or was it already present in `3.1.6`?

[2021-06-22 16:07] barryhughes commented on #684
@jaschaio: yep, queue cleaning isn't new—it can be traced back in the history [about 7 years](https://github.com/woocommerce/action-scheduler/commit/743121a9ce24a27efcbacf02ec73a56b1f68c785). In terms of recent changes, there haven't been any that I'm aware of in relation to this sub-system: what you see in 3.1.6 is identical to what we have in 3.2.1.

Well, that's a good sign.

Is it possible tha

[2021-06-22 16:07] #684 closed

[2021-06-22 17:44] barryhughes commented on #630
Looks like we lost sight of this one, apologies!

This seems like it relates to the use of Action Scheduler's comment-based logging implementation, which is no longer the default. Though—and this is what I did for testing purposes—it can be enabled with the following snippet:

[code]

Since we've consistently been unable to replicate on our side, and since the relevant body of code is no longer en

[2021-06-22 17:44] #630 closed

[2021-06-23 18:42] barryhughes commented on #645
Closing per the above.

[2021-06-23 18:42] #645 closed

[2021-06-23 19:45] barryhughes commented on #625
Closing in favour of #653.

(The trace suggests this was a problem with missing tables, encountered during the post table ↔ custom table migration.)

[2021-06-23 19:45] #625 closed

[2021-06-24 07:38] #656 closed

[2021-06-24 15:32] barryhughes opened #723 "Update minimum requirements"
Currently we support PHP 5.3/WP 4.7, but on review we feel we can safely adopt PHP 5.6/WP 5.2 as our new minimums:

* This will provide a little more freedom to use slightly more modern functionality (and will reduce our backwards compatibility burden to some extent).
* If there are environments in which Action Scheduler is being used but where updating WP or PHP to meet these new minimums is not

[2021-06-24 17:56] barryhughes commented on #577
Closing: this issue is one year old and has mostly been dormant for the the last 10 months, or thereabouts. It also seems to relate to a problem associated with the data store migration (triggered by 3.0.0) which most users have now moved past.

Those things considered, at this point in time it's probably best we focus on other areas (though, we can definitely apply learnings from this experience

[2021-06-24 17:56] #577 closed

[2021-06-24 18:00] barryhughes commented on #566
Closing (for essentially the same reasons [noted here](https://github.com/woocommerce/action-scheduler/issues/577#issuecomment-867839971)—and, similarly, can apply this idea if we make a comparable change in the future).

[2021-06-24 18:00] #566 closed

[2021-06-24 18:01] #704 closed

[2021-06-24 18:35] angular12 commented on #577
I haven't updated my wordpress software in over a year while waiting for
this bug to be resolved.

You have closed the issue, does this mean I can update my wordpress plugins
without the wordpress installation failing completely?

Loren Hall
Founder & CEO
InSites Web Services
www.insiteswebservices.com
866-OPT-RANK / 503-515-6389

[image: https://www.google.com/partners/agency?id=7809898542]
<http

[2021-06-24 21:40] barryhughes commented on #577
@angular12—thanks for reaching out: that is a useful update for us.

Every case is different, but if for example the previous failure occured because of a lack of MySQL permissions (ie, Action Scheduler could not create the required tables) and if that has not changed since then, it's likely the same problem will occur again.

Also—and I should have linked to this in my last reply, apologies for n

[2021-06-25 06:03] olegabr opened #724 "Call to undefined function as_next_scheduled_action"
When https://wordpress.org/plugins/ether-and-erc20-tokens-woocommerce-payment-gateway/ plugin is activated, product edit page crashes with error:

[code]

The action scheduler is installed with a composer. Both 3.2.0 and 3.1.6 versions tested with same result.

The scheduler activation is done in the main plugin file with code:

[code]

This code worked about a month ago.
[ether-and-erc20-tokens-w

[2021-06-25 14:43] barryhughes commented on #724
@olegabr—I'm not immediately able to replicate this problem.

Can you provide a set of steps to replicate, starting with a fresh WordPress installationw where WooCommerce and the other plugin are both activated (and, please clarify what you mean by 'plugin edit page').

Thanks!

[2021-06-25 18:43] barryhughes commented on #653
It sounds like some users [are still in need of this](https://github.com/woocommerce/action-scheduler/issues/577#issuecomment-867865784) in respect of the `wpPostStore` → `DBStore` migration.

[2021-06-26 03:21] olegabr commented on #724
@barryhughes Thank you for a quick response!
Sorry for a mistake, the WC product edit page crashes. Fixed it in an original message also.

[2021-06-26 17:40] barryhughes commented on #724
Thanks for clarifying, I was able to replicate.

So it looks to me like this happens pretty deep in a quite complex set of nested if/else structures, but I notice if the `require_once(...)` statement used to load Action Scheduler is moved to the top of the file (ie, immediately below the plugin docblock) then the problem seems to be resolved.

Are you the plugin author and would that be a viable c

[2021-06-27 06:39] olegabr commented on #724
Many thanks @barryhughes!
Yes, I'm the plugin author. I'll apply this fix ASAP.

[2021-06-27 06:39] #724 closed

[2021-06-29 17:28] barryhughes commented on #723
...Or even replace it with an [action-based workflow](https://github.com/woocommerce/action-scheduler/pull/727), possibly.

[2021-06-29 17:28] barryhughes commented on #716
Closing (inactive/not enough info).

[2021-06-29 17:28] #716 closed

[2021-07-01 10:08] glagonikas commented on #530
@barryhughes I think it's unlikely to see a large number of reports on this for the following reasons
1. The store needs to be large
2. You need to have a lot of actions
3. Admins need to look at their logs

Even though there are millions of WC stores, I think there are only a few that meet the above criteria, so I wouldn't expect to see more than a dozen people reporting those. So far, just a han

[2021-07-01 10:14] slaFFik commented on #530
@glagonikas I have a feeling that you are on a level where you need to create your custom storage, that will use Redis (for example) and not MySQL directly. Basically - move from direct DB writes/selects for everything to in-memory Redis that dumps everything in MySQL once per hour, for example.
Ideally, that should be part of the AS, with an ability to switch to in-memory solution using a filter,

[2021-07-01 10:40] glagonikas commented on #530
@slaFFik we already have Redis using the Redis Object Cache plugin, but I'm not too sure how you'd move the AS actions in memory and more importantly if it would be safe to do so.

Since WC Subscriptions uses AS, we need to ensure all actions are stored and fire correctly every time, so we don't lose renewals if an action didn't run or was lost. Equally, we want to ensure that all AW emails are se

[2021-07-01 11:15] rogercoathup commented on #530
Unfortunately, the index didn't completely prevent this error.  The number of deadlocks decreased, but still occur.

[2021-07-01 14:38] glagonikas commented on #530
On the topic of improving the select queries, removing the `ORDER BY` from https://github.com/woocommerce/action-scheduler/blob/3.1.6/classes/data-stores/ActionScheduler_DBStore.php#L668 and reducing the limit to 25 as described by Peter here https://github.com/woocommerce/action-scheduler/issues/530#issuecomment-806528371 seems to have sped up the queue and I don't currently see any deadlocks.

W

[2021-07-01 20:33] glagonikas commented on #530
Since hardcoding the changes [here](https://github.com/woocommerce/action-scheduler/blob/3.1.6/classes/data-stores/ActionScheduler_DBStore.php#L668-L669)

We've managed to clear over 6k actions without any deadlocks.

For testing purposes, i replaced those two lines with the following

[code]

@rogercoathup maybe you want to try the same and see if it helps?

It's not a permanent fix and I'm sure

[2021-07-02 03:24] barryhughes commented on #530
@glagonikas, @rogercoathup, @slaFFik: let me just pause first of all and thank you for the further feedback. There are, hopefully, many versions of Action Scheduler still to come and we value all of this information as we continue to shape things.

I imagine you're right, and we understand that.

The last time I commented I wrote that, _"If there are still ongoing problems for a sizeable cross-sec

[2021-07-02 08:36] glagonikas commented on #530
Thanks for your reply @barryhughes.

Unfortunately, it seems I spoke too soon because since re-activating AW around 12 hours ago, we've got 4 more deadlocks and one `Unable to claim actions.` error

[code]

Our queued actions are back to normal levels and seem to run well, but I'm not sure what will happen next time we have thousands of customers on the site.

As mentioned on a previous email, mor

[2021-07-02 14:47] barryhughes commented on #530
OK, flagging for discussion.

Yep, looks like these are used in the course of [setting](https://github.com/woocommerce/action-scheduler/blob/3.2.1/classes/data-stores/ActionScheduler_DBStore.php#L656) and then [releasing](https://github.com/woocommerce/action-scheduler/blob/3.2.1/classes/data-stores/ActionScheduler_DBStore.php#L767) claims.

[2021-07-03 09:19] glagonikas commented on #530
@barryhughes by the looks of it, the problem is caused by those two queries running on the table at the same time. So deferring the release would probably resolve the issue?

[2021-07-05 14:19] barryhughes commented on #530
So I'm not completely sure what you're picturing. Do you mean that instead of releasing the claim immediately after it has been processed, that specific piece of work should be handled by a separate clean-up task, or something of that order?

[2021-07-05 15:01] glagonikas commented on #530
@barryhughes yes, precisely. Rather than hammer the table with releasing queries while we also claim them, do the release in bulk or simply later.

[2021-07-05 18:20] barryhughes commented on #530
Gotcha. That's a possibility and could be worth exploring.

It's worth noting that right now we use that information to limit the number of concurrent batches—so delaying clean-up/release would cause a problem there (because it would introduce a lag, making it appear as if we have more claims than are actually active—and so throughput would potentially be reduced as queue runners would be prevente

[2021-07-06 08:33] glagonikas commented on #530
@barryhughes to me, both of those make sense and might help.

To clarify the flow, does it currently:
1. run an `UPDATE` query to [claim](https://github.com/woocommerce/action-scheduler/blob/3.2.1/classes/data-stores/ActionScheduler_DBStore.php#L656) the next available action
2. run the action
3. run an `UPDATE` query to [log](https://github.com/woocommerce/action-scheduler/blob/3.2.1/classes/data