[2019-10-09 03:58] james-allan commented on #368
I've started to look into how to do this and struggling to find the right place to put this new code. I just don't have the high-level view of the migration stuff to know what each class is responsible for and which classes are abstract - shouldn't have knowledge of comment table count etc.

I'm going to give it a crack and submit a PR but I'm suspecting it will look gross to those with a better u

[2019-10-09 05:31] thenbrent commented on #368
There's no existing class that would be a good fit. It can live in a new, separate class that is only loaded when the active logging data store `!== ActionScheduler_wpCommentLogger`.

:100:

[2019-10-16 02:24] thenbrent commented on #363
Closing this one due to lack of response. @Subair-tc please reply if you'd still like assistance. :)

[2019-10-16 02:24] #363 closed

[2019-10-16 02:53] thenbrent commented on #360
Fixed with #366.

[2019-10-16 02:53] #360 closed

[2019-10-16 02:57] thenbrent commented on #359
@Dylan-at-LION I've submitted #372 to address this. As mentioned in the comments, it's a breaking change so we will attempt to release it with 3.0.0, but if we find it breaking compatibility with 3rd party code, we may have to revert it and instead document alternative, more manual methods for Action Scheduler to be compatible with themes.

If you could please test #372 to confirm Action Scheduler

[2019-10-16 02:58] thenbrent commented on #368
Fixed with #369.

[2019-10-16 02:58] #368 closed

[2019-10-17 17:36] Dylan-at-LION commented on #359
@thenbrent I can confirm that `issue/359` works in my theme with no issues. Thanks for the update.

[2019-10-22 01:01] thenbrent commented on #353
@anderly good news - this has been fixed with Action Scheduler 3.0.0 and custom tables. More details: https://github.com/woocommerce/action-scheduler/pull/371#issuecomment-544373104

[2019-10-22 01:01] #353 closed

[2019-10-22 01:26] #359 closed

[2019-10-22 03:53] #367 closed

[2019-10-22 15:26] anderly commented on #353
@thenbrent awesome, thanks for the update!

[2019-10-24 07:58] mrleemon opened #377 "Wrong text domain?"
In the following files:

[code]

the text domain used is **action-scheduler** instead of  **woocommerce**. Therefore, the "Scheduled Actions" tab in the "Status" section remains unstranslated when using WooCommerce in other languages other than English.

[2019-10-24 10:16] claudiosanches commented on #377
I moved this issue to the Action Scheduler repository, because there's several changes that need to be made in this plugin in order to proper handle text domain on WooCommerce.

Also I think that we should start implement it on WooCommerce as package like we do for Product Blocks and REST API.

[2019-10-25 03:58] thenbrent commented on #377
@claudiosanches does that allow us to use the `woocommerce` text domain?

As Action Scheduler is used as a library in various plugins (and at least one theme), I've never really been sure what to do about text domain. We can't be sure any plugin will be active on a site using it.

[2019-10-25 04:56] james-allan opened #379 "Investigate possible memory exhaustion errors on action failures."
I've just discovered the following memory exhaustion errors on one of my local installs running WC Subscriptions and AS 3.0.

[code]

Following the stack trace, it appears to be an unexpected shutdown while processing a renewal order leads to the `ActionScheduler_DBStore->mark_failure()` function which then leads to some `wpdb` function calls and an eventual memory error.

[2019-10-25 05:10] thenbrent commented on #379
Can you determine if the memory exhaustion causes the action's failure, or is it a result of it?

[2019-10-25 05:22] james-allan commented on #379
I think the memory exhaustion causes the failure. I can see similar log entries with stacktraces very similar except they don't include the `ActionScheduler_FatalErrorMonitor->handle_unexpected_shutdown()` part.

Basically are those traces the original error, and the AS related ones are either subsequent errors or the same one.

So it could just be that the subscriptions related memory exhaustion

[2019-10-25 07:20] claudiosanches commented on #377
@thenbrent we should use `action-scheduler` as text domain.
On WooCommerce we update the text domain to `woocommerce` while installing the package:

https://github.com/woocommerce/woocommerce/blob/master/bin/package-update.sh#L32-L33

But for now is missing text domains in several locations, also missing note for translators, and missing to follow some standards for translations.

[2019-10-25 07:36] claudiosanches commented on #377
There the Pull Request: #382

[2019-10-25 09:23] thenbrent commented on #377
Fixed with #382.

[2019-10-25 09:23] #377 closed

[2019-10-25 09:51] claudiosanches commented on #331
I started a Pull Request using the dev tools that we use on WooCommerce, I hope this may help you all #383

[2019-11-03 03:10] nielash opened #385 ""Cannot declare class" error"
I am running 3.0.0-RC-2 and getting the following error:

`An error of type E_COMPILE_ERROR was caused in line 19 of the file [root directory]/wp-content/plugins/action-scheduler-master/classes/migration/Config.php. Error message: Cannot declare class Action_Scheduler\Migration\Config, because the name is already in use`

I think I've narrowed it down to a conflict with the "[Admin Columns Pro](ht

[2019-11-04 04:39] rafdizzle86 opened #386 "Duplicate jobs result in action scheduler "pending" section"
I've been using the plugin to schedule jobs in the following way:

[code]

However in the "pending" section the "my_job" job keeps showing up twice - am I scheduling it incorrectly?

[2019-11-04 05:39] thenbrent commented on #386
Instead of `as_get_scheduled_actions()`, you could just use `as_next_scheduled_action( 'my_job' )`. I'm not sure that is the issue though.

How are you calling `schedule_my_job()`? i.e. is it attached to `admin_init` or similar

There could be a bug here so I'd like to reproduce.

[2019-11-05 12:10] ulver2812 opened #387 ""as_schedule_cron_action" doesn't work properly"
Hi, I'm running the 2.2.5 version and I'm trying to use the "as_schedule_cron_action" but I can't understand if I found a bug or I'm using it in a wrong way.

Here the code:

[code]

The behavior is supposed to be this: the scheduled action runs the function do_something once a day at the 12:00 and then it will be scheduled again for the next day at the same time.

![1](https://user-images.githubu

[2019-11-05 15:05] rrennick commented on #387
@ulver2812 Are you able to check this with the AS 3.0.0 RC ?

[2019-11-05 15:09] rrennick commented on #385
@nielash Would you be able to test #388 to see if it addresses the issue for you?

[2019-11-05 15:37] ulver2812 commented on #387
Yes, I can try, but it's secure to use a RC version in production?

[2019-11-05 15:48] ulver2812 commented on #387
I just tried the 3.0.0-beta-1 but I get this error:

`Fatal error: Uncaught Error: Cannot call abstract method ActionScheduler_Logger::init()`

**I'm using also WooCommerce 3.6.4** maybe there's some conflicts with this plugin or something else.

[2019-11-05 16:50] rrennick commented on #387
I was hoping you had a dev/staging site.

The RC contains quite a few fixes to the beta.

We'll have to see if we can reproduce that issue.

[2019-11-05 20:29] nielash commented on #385
@rrennick I just tested it and can confirm this fixes it. Thanks!

[2019-11-05 23:16] #385 closed

[2019-11-06 00:45] thenbrent commented on #386
@rafdizzle86 could you share how you're calling `schedule_my_job()`? I have a theory on this now, that it may be caused by using `init` to schedule the job.

[2019-11-06 01:33] thenbrent commented on #387
@ulver2812 cron and recurring actions were quite broken with AS < 3.0. See #330. I expect `as_schedule_cron_action()` should work as expected with 3.0, but it would still be good to confirm.

[2019-11-06 09:32] ulver2812 commented on #387
@thenbrent so the only thing that work is "as_schedule_single_action", is it right ?

@rrennick yes, I have a dev/staging site but at the end I need this feature on the production site, so even if the 3.0.0 RC works correctly I can't use it until the 3.0.0 is ready for production.

My main doubt is that WooCommerce comes with a built-in action-scheduler (I guess version < 3.0.0), so if I use the 3

[2019-11-06 09:47] rafdizzle86 commented on #386
@thenbrent this is how I have it set up:

[code]

[2019-11-06 12:18] rrennick commented on #387
Action Scheduler is designed to use the latest version when multiple versions are registered/active. WooCommerce is alway active in my dev install so all the development work I did on the 3.0.0 version was done while WC was active.

[2019-11-07 00:21] thenbrent commented on #387
These are the open issues for 3.0: https://github.com/woocommerce/action-scheduler/issues?q=is%3Aopen+is%3Aissue+milestone%3A3.0.0

At this stage, none of those will block tagging the 3.0 stable release ready for production. The reason we haven't tagged a stable release yet is primarily operational - we have a release plan that includes releasing it in WooCommerce Subscriptions, as the team workin

[2019-11-07 00:26] thenbrent commented on #386
Thanks @rafdizzle86. Can you please also confirm the version you are using? Is it 2.2.5 or a 3.0 version?

If you're using 2.n, this is likely the same issue as https://github.com/woocommerce/action-scheduler/issues/291.

That has been properly address with 3.0 so you can use the 3.0.0-RC-3 version instead.

[2019-11-07 10:23] ulver2812 commented on #387
Just tried the 3.0.0-RC-3 and the error:

`Fatal error: Uncaught Error: Cannot call abstract method ActionScheduler_Logger::init() in vendor\woocommerce\action-scheduler\classes\data-stores\ActionScheduler_DBLogger.php:102`

still persist 😔

[2019-11-07 23:42] thenbrent commented on #387
It looks like maybe an older version of `ActionScheduler_Logger` is being loaded somehow. `ActionScheduler_Logger::init()` was abstract until version 2.1. We have seen this error before: https://github.com/Prospress/action-scheduler-custom-tables/issues/46

Can you search the site codebase for `action_scheduler_register_2_dot_` and see what shows up? If you have any that show a version < 2.1, that

[2019-11-08 08:47] ulver2812 commented on #387
@thenbrent yes, I found the action hook `action_scheduler_register_2_dot_2_dot_5` in WooCommerce plugin.

This is the code snippet of this hook in WooCommerce 3.6.4

[code]

but it refers to the version 2.5.5...

[2019-11-08 12:18] rrennick commented on #387
Yes.

`in vendor\woocommerce\action-scheduler`

@ulver2812 Are WooCommerce & Action Scheduler being installed via WP or some other way?

[2019-11-08 14:04] ulver2812 commented on #387
@rrennick WooCommerce is installed as a plugin (a normal WooCommerce installation) and the action scheduler that I'm using is a dependency of a WP plugin of mine installed through composer.

So, in this scenario I have two WP plugin (WooCommerce 3.6.4 and my plugin) that are using two different version of action scheduler.

[2019-11-08 14:27] rrennick commented on #387
The error is occurring in the version you are installing via composer. Can you install AS directly & activate it instead of using the version embedded in your plugin?

[2019-11-08 14:41] ulver2812 commented on #387
@rrennick yes, I can use it as a stand alone plugin but I need it in my plugin codebase.
I don't like the idea that users need to install another plugin because mine is dependent by it.

In the documentation is written:

I prefer the second option if it's possible.

You are suggesting to install AS as a stand alone plugin because the 3.0.0-RC-3 is not ready to work as a library or because this new

[2019-11-08 14:51] rrennick commented on #387
Yes. We currently don't know what is triggering the error in your install. If we test it installed directly then we will find out whether it's something in AS that we missed or something in the way your composer plugin is loading it.

Thanks. In that case, this is most likely a PHP configuration issue.

[2019-11-08 15:13] ulver2812 commented on #387
Ok, I'm using XAMPP on windows 10 as development environment, default configuration with PHP 7.2.16.

What do you suggest in order to investigate this issue ?

What has changed from the 2.5.5 (that is loaded correctly) to the 3.0.0 that can cause this issue ?

Thanks

[2019-11-08 15:20] rrennick commented on #387
@ulver2812 I did some searching and found this issue had cropped up elsewhere in other FOSS projects so I think we should address this within AS.

@thenbrent If I don't get to a PR later today we should move the contents of `ActionScheduler_Logger::init()` to a protected `hook_all_actions()`, call that from `init()`, then in `ActionScheduler_DBLogger::init()` call `$this->hook_all_actions()`. That

[2019-11-11 01:34] thenbrent commented on #387
Is it the abstract class that's causing the issue, or that `ActionScheduler_Logger` from a different filepath is being loaded (i.e. the version in WC is being loaded, not the one in Composer or the standalone plugin).

If it's the latter, I'd like to figure out how to fix that. If we don't, we could end up playing whack-a-mole with any methods used in 3.0, but not available in base classes prior t

[2019-11-11 03:07] thenbrent commented on #387
@ulver2812 do you have Follow-Up Emails installed by any chance?

We've received a report that Follow-Ups has this code in `class-fue-action-scheduler-logger.php`:

[code]

FUE is overloading Action Scheduler's autoloader.

[2019-11-11 09:38] ulver2812 commented on #387
@thenbrent You got it! I have Follow-Up-Emails installed and it is the guilty of the error

`Fatal error: Uncaught Error: Cannot call abstract method ActionScheduler_Logger::init()`

Now with FUE disabled the error is gone but with this code (action scheduled to run every 5 minutes, just for test purpose):

[code]
I get this scenario:

![Cattura](https://user-images.githubusercontent.com/25301598/

[2019-11-11 11:27] thenbrent commented on #387
Thanks for confirming! At least we've figured out one of the bugs. We'll continue to investigate the other.

[2019-11-11 11:38] ulver2812 commented on #387
@thenbrent thank you, if I can be helpful with some test in my environment just ask me.

[2019-11-12 03:08] thenbrent commented on #386
Based on #387, this is currently an issue with 3.0 also.

[2019-11-12 12:33] rrennick commented on #386
I added the above code to my install and do not get duplicate actions. I updated it to the following and deleted the pending action in the dashboard. No duplicate actions this way either.

[code]

[2019-11-12 16:16] krazik commented on #386
I am also getting duplicate schedule actions.  I have isolated my problem to this line of code https://github.com/woocommerce/action-scheduler/blob/52bd35581c73c77094b0b2dd4b639e595a009457/functions.php#L140

my action takes about 30 seconds to run, during that time there are no actions with `pending` status.  Just one in process and a bunch of complete, so this causes `as_next_scheduled_action` t

[2019-11-12 16:23] rafdizzle86 commented on #386
@thenbrent I'm using whatever comes packaged with WooCommerce which I think is 3.0

[2019-11-12 16:29] krazik commented on #387
I commented on https://github.com/woocommerce/action-scheduler/issues/386

my action takes about 30 seconds to run, during that time there are no actions with `pending` status.  Just one in process and a bunch of complete, so this causes `as_next_scheduled_action` to return false then the you create a 2nd (or over time a 3rd or 4th copy).

Seems you should also check for running process here.

[2019-11-12 16:34] krazik commented on #387
I'm running whatever version comes with woo 3.8.

[2019-11-13 00:44] khag7 opened #391 "Fatal error on order save in PHP 7.0+"
First, I'll say this is definitely a 3rd party plugin issue, however I think Action Scheduler could handle this scenario gracefully. Maybe there's a way to prevent a fatal error in this scenario.

Second, I want to say I don't understand why this is happening. Someone smarter than me might be able to shed some light on that.

Third, the issue is not consistent. It doesn't happen every time I save/

[2019-11-13 00:47] khag7 commented on #391
Also I think it relates to this:
https://github.com/woocommerce/woocommerce/issues/24593

[2019-11-13 02:25] khag7 commented on #391
And I was wrong above to assume it had to do with `new WC_Order`. Using `wc_get_order` instead and then trying to call a method on the returned order object still fails, but differently.

The snippet below would work fine on its own to add a comment every time an order saves, but if there exists a plugin like WooCommerce Admin or Mailchimp for Woocommerce that is making use of the Action Scheduler

[2019-11-13 02:33] thenbrent commented on #391
@khag7 what's the error message?

[2019-11-13 02:35] khag7 commented on #391
Hah, sorry, that would be helpful I suppose.
[code]

[2019-11-13 03:30] thenbrent commented on #387
@krazik thanks for the report and diagnosis. I think you're right, that is most likely the culprit here. We need to figure out a way for `as_next_scheduled_action()` to account for `in-progress` actions to handle long running actions.

The ideal would be for it to return `0` when an `in-progress` action exists (i.e. the next instance is currently running so its timestamp is now).

Anyone doing loo

[2019-11-13 04:14] thenbrent commented on #387
I just realized `as_next_scheduled_action()` is already returning `true` in 3.0+ for async actions, because they have no future date. So I will submit a PR to have it do that now for `in-progress` actions too.

[2019-11-13 04:24] thenbrent commented on #387
I've submitted a fix for this in https://github.com/woocommerce/action-scheduler/pull/392

[2019-11-13 04:25] thenbrent commented on #386
I've submitted a fix for this in https://github.com/woocommerce/action-scheduler/pull/392

[2019-11-13 04:34] krazik commented on #387
thanks for quick fix!  my fix was lower tech but also worked.  Basically once it starts running it creates a new single run action 30 minutes in the future.  Once your PR is merged I'll switch back

[code]

thanks!

[2019-11-13 12:00] rrennick commented on #391
That hook runs on the save of any post (including a scheduled action if you are using 2.X of Action Scheduler.

[code]

[2019-11-13 12:36] ulver2812 commented on #387
@thenbrent just tested the #392 and it doesn't fix the issue, I get the same result posted here:

https://github.com/woocommerce/action-scheduler/issues/387#issuecomment-552366380

[2019-11-13 12:55] ulver2812 commented on #387
@thenbrent just tested the #392 and it fix the issue, thanks!

[2019-11-13 14:28] khag7 commented on #391
I agree that the hook I wrote is flawed. It doesn't check for proper information returned. But how does the hook above lead to an ArgumentCountError on ActionScheduler code and put entries into the WooCommerce log about failed actions? The hook I wrote shouldn't be able to cause that much damage, and the ActionScheduler should be able to do some kind of sanity check at some point to prevent that f

[2019-11-13 14:36] rrennick commented on #391
@khag7 When you save the order WC Admin creates a Scheduled Action to import the order. Creating the action also triggers the `save_post` hook which runs your hook against something that isn't an order causing the fatal error. With your original code you would trigger an error saving a page, post, product, etc. because `save_post` is triggered on any post type save.

[2019-11-14 00:55] thenbrent commented on #387
Thanks @ulver2812!

[2019-11-14 00:55] #386 closed

[2019-11-14 00:55] #387 closed

[2019-11-14 00:59] james-allan commented on #379
Closing. I haven't seen this since the initial report and following the reasons above, the exhaustions might have been coming from somewhere else.

[2019-11-14 00:59] #379 closed

[2019-11-14 02:46] khag7 commented on #391
I agree its an imperfect plugin. I think you're missing the forest for the trees here. A plugin which throws an error should not be able to completely derail Action Scheduler in this manner. In my specific case, one plugin which is firing with the save_post_shop_order hook used to work fine, only saving when shop_orders were saved, as implied by the hook name. And somehow on that site the Action S

[2019-11-14 04:34] thenbrent commented on #391
Action Scheduler no longer uses custom post types as of 3.0 (currently in RC), so the `save_post` hook won't be triggered and this error won't exist anymore.

The 3rd party code scheduling the action is most likely it on `init` whenever no pending action is found. If that's the case, then that code has explicitly requested actions continue to be scheduled and run even if there is a failure on a pr

[2019-11-14 23:34] thenbrent opened #394 "Add admin a way to bulk delete actions, ideally by hook not just displayed on a page"
We see intermittent cases of the Action Scheduler queue becoming clogged. The reasons for this differ, e.g. one plugin was _enqueuing an action on every page load_ 🙈, but the symptom is always the same - a large number of actions in the queue that shouldn't be there, and that need to be removed.

To unclog the queue, a site needs to just wait, or run [a SQL query directly on the DB](https://nickgr

[2019-11-15 02:55] khag7 commented on #391
That makes this a non-issue. Thank you.

[2019-11-18 09:47] SeanDS opened #395 "Uninstall function?"
Is there an uninstaller for this library when bundled in another plugin? I searched for the relevant hooks but couldn't find anything. It's good practice to clean up after yourself, especially with v3 now adding database tables.

[2019-11-19 01:52] thenbrent commented on #395
Hi @SeanDS - that’s a good point. I’m hesitant to delete the tables, because those tables are shared potentially with their plugins and losing data from them could be very bad. But I do agree, if we can know for sure a site is disabling the only plugin to use Action Scheduler, we don’t want to leave those tables behind.

[2019-11-20 02:00] unfulvio commented on #395
Library could be bundled with multiple plugins though and may be necessary for these plugins to function properly. Currently Memberships, for example, bundles a copy to run since it supports versions of WooCommerce before they started bundling it.

So I think, like Brent, it should be responsibility of individual plugins to remove their data from the tables at the very least.

Maybe AS could provi

[2019-11-20 12:38] SeanDS commented on #395
@unfulvio: it would at least be nice if there was a function provided by Action Scheduler that could be called by a plugin's uninstaller, that would remove all traces of whatever this library adds. It would still be the responsibility of the plugin to run its uninstaller, but part of the uninstaller could be to call such a function.

[2019-11-20 15:07] rrennick commented on #395
The way we handled this in WC Admin was use a private hook group (https://github.com/woocommerce/woocommerce-admin/issues/1528) and remove all AS data in that hook group when the plugin is deleted.

[2019-11-21 01:41] unfulvio commented on #395
Then perhaps any uninstall-related functionality should address the issue whether more plugins are relying on the library; such is the case when you run WooCommerce - Memberships - Subscriptions; there might be multiple plugins accessing the library, or perhaps haven't accessed it yet and expect to find tables present. You run the risk otherwise having a single plugin removing too much and causing

[2019-11-21 08:41] thenbrent commented on #395
You also very likely end up with the uninstall not actually running even when it's implemented.

For example, on a site with Plugin A and Plugin B both using AS, but only Plugin A supports the uninstall routine, if Plugin A is uninstalled then Plugin B, it will never run.

[2019-11-21 11:07] SeanDS commented on #395
I guess this would be less of a problem if Action Scheduler prefixed all of its database entries (possibly even table names) with some plugin-specific key. I don't know if that is feasible.

[2019-11-21 12:24] rrennick commented on #395
That's what the `group` field that I mentioned in my previous comment is for. It up to the plugin/theme that implements AS to use the group field to identify its data.

There is not any practical way in PHP for a called library function to determine what set of functionality called it. Programming languages in general are not designed to do that.

[2019-11-21 18:50] korndev opened #396 "Security Issue"
How should a potential security issue be disclosed?

I setup Action Schedule on an internal project for a company I work with that runs CheckMarx on all new code introduced and something was flagged.

Thanks,
Justin

[2019-11-21 19:25] rrennick commented on #396
Hi Justin, Thanks for contacting us. Use https://hackerone.com/automattic .

[2019-11-21 19:42] korndev commented on #396
@rrennick I'm in over my head with making a report. I'm not a hacker and really don't know what the majority of the questions being asked are within the report form. Any other way to communicate the issue. I can create a pull request with what I believe the fix would be, but don't want to do that if the issue should be patched before disclosure in public, etc.

[2019-11-21 19:50] rrennick commented on #396
Can you check the 3.0.0 RC to see if it has the vulnerability? https://github.com/woocommerce/action-scheduler/releases

If you join the WooCommerce community slack, you can PM me there (same handle as here) https://woocommerce.com/community-slack/

[2019-11-21 20:09] #396 closed

[2019-11-21 20:09] korndev commented on #396
Using RC-4 - going to check on a few things and then reach out to you via Slack. Thanks!

[2019-11-29 15:39] rrennick opened #398 "Add migration failure warning"
If for some reason the post store is unable to delete an action after it has been migrated to the custom tables then the migration process continues indefinitely adding copies of the action to the custom tables store.

Reproduce using the following:
- Activate WooCommerce to have AS 2.2.5 active
- Ensure there is at least one existing action in the post store
- Add this filter
[code]
- Activate AS

[2019-12-02 04:37] thenbrent commented on #398
I think that's likely the best approach. We'd need to introduce a whole new system for that, like adding a post meta flag or something to it (before it's deleted in case the deletion fails) and then checking that flag when attempting to migrate it.

[2019-12-05 08:58] jesperkaae opened #400 "Recurring after firing adds duplicated and runs twice"
When im adding an recurring schedule, with the following code:

`    public function simulat_daily_data_cron(){
        $date = strtotime(date('m/d/Y')." 02:11");
        if ( false === as_next_scheduled_action( 'run_simulat_daily_data' ) ) {
          as_schedule_recurring_action($date, HOUR_IN_SECONDS, 'run_simulat_daily_data' );
        }
    }`

It creates just 1 recurring under "Scheduled Act

[2019-12-05 12:13] rrennick commented on #400
@jesperkaae Thanks for reporting the issue. It had been reported earlier and has been fixed in #392 .

Closing this as a duplicate.

[2019-12-05 12:13] #400 closed

[2019-12-08 17:13] wvega opened #401 "Actions with args more than 191 characters long prevent migration in AS 3.0.0 from completing"
If an action cannot be saved to the destination data store because the action's args no longer fit the maximum number of characters in the column, the **Action Scheduler migration in progress. The list of scheduled actions may be incomplete** notice will continue to be shown indefinitely.

You can reproduce this If you create a recurring action using the code below in AS 2.2.5 and then activate AS

[2019-12-08 17:14] wvega commented on #401
As a related note, AS 2.2.5 currently shows a notice when you try to create such an action, but the action is still created.

On AS 3.0.0, trying to create the same action throws a RuntimeException:

[2019-12-09 03:30] thenbrent commented on #401
This is a tricky one. Thanks for reporting @wvega!

Do you happen to know which TaxJar plugin? We could submit a patch directly. That's the only known offender atm, so I'd prefer to fix it directly ASAP rather than making more widespread changes to AS 3.0, like allowing > 191 chars again...

We can also:

1. make sure the action is marked as `failed` during migration; or
1. block the migration and

[2019-12-09 12:39] wvega commented on #401
@thenbrent it was an action from [TaxJar - Sales Tax Automation for WooCommerce](https://wordpress.org/plugins/taxjar-simplified-taxes-for-woocommerce/) (seems to be offered in https://woocommerce.com/products/taxjar/ too).

Unlike my example above, they use `as_schedule_single_action()`, with the same result:

https://plugins.trac.wordpress.org/browser/taxjar-simplified-taxes-for-woocommerce/trun

[2019-12-10 14:38] rrennick commented on #401
I'd prefer this because it won't affect the majority of users and it allows us to implement a more comprehensive solution in 3.1.

[2019-12-12 21:49] colmtroy opened #403 "Very slow WP CLI Processing"
I manage one WC website that is currently averaging approx. 2,400 new scheduled actions per hour at peak times (but averaging out at around 24,000 new actions per day).

When I attempt to run the queue via WP CLI, pending actions start piling up quite quickly.

I also installed the default runner disabler to ensure everything is being processed via WP CLI.
https://github.com/woocommerce/action-sch

[2019-12-12 22:27] thenbrent commented on #403
No. For concurrent queues, you need to run additional WP CLI commands.

The `--batches` flag defines the number of batches that will be processed before ending the WP CLI command. i.e. with `--batch-size=200`, your WP CLI command will process 2,000 action then terminate.

Nothing on your end. It probably shouldn't say `Warning`, it's really just letting you know it's taking that step in the proces

[2019-12-12 22:27] #403 closed

[2019-12-12 22:32] colmtroy commented on #403
@thenbrent thanks for the quick reply and helpful clarifications! I plan on taking a closer look at the 3.0 RC next week - but I'll see what I can squeeze out of WP CLI in the meantime :)

[2019-12-18 02:00] #401 closed

[2019-12-19 02:34] #398 closed

[2019-12-19 14:40] rrennick opened #405 "Update FAQ docs to reflect 3.0"
The FAQ readme hasn't been updated with changes we have made in 3.0. The PR for this should be held until near the time of release.

[2019-12-19 14:44] rrennick opened #406 "Prospress favicons on actionscheduler.org"
We should update the favicons in the docs folder to Automattic ones.

[2019-12-31 20:27] rrennick opened #410 "Add check for existing actions before scheduling the migration"
The migration action is created in installs that have no scheduled actions. If there aren't any actions to migrate, it doesn't need to be scheduled.

[2020-01-01 18:41] rrennick commented on #410
Closing this. The issue I was seeing was a result of a missing local dev environment `hosts` entry.

[2020-01-01 18:41] #410 closed

[2020-01-06 00:27] #405 closed

[2020-01-06 00:28] #406 closed

[2020-01-08 18:14] slaFFik opened #411 "Update docs/*.md for v3.0"
Right now `index.md` is not up-to-date with the code.
For example, it mentions CPTs that v3 is not using anymore (if I understood correctly the release post on woocommerce.wordpress.com).

---

File `api.md`:

And I believe it should omit the word `post`.

[2020-01-08 19:30] slaFFik opened #413 "Investigation: composer and packagist"
In your docs you mention the ability to install via composer.
You don't provide a code snippet for that, but that's ok.
I open `composer.json` file and see `woocommerce/action-scheduler` as a package name.
I try `composer require woocommerce/action-scheduler` and get an error about "typo in package name", which doesn't make sense. I see that name in your `composer.json` file!
Ok, I try to find the

[2020-01-09 00:48] thenbrent commented on #413
@slaFFik thanks for the report.

@rrennick could you please update Packagist to point to the new GitHub organisation? It looks like we may need to [adandon the old package and create a new one](https://github.com/composer/packagist/issues/47), because the current package includes `/prospress/` in the name and Packagist doesn't allow a package to be renamed.

[2020-01-09 01:18] thenbrent commented on #411
Thanks for the report @slaFFik. I've fixed up that incorrect reference, and made a number of other improvements to the docs for v3.0 in #414.

[2020-01-09 04:09] unfulvio commented on #413
as a temporary workaround you can point composer to a git repository:

[code]

[2020-01-09 15:57] Stryder777 commented on #232
After a bit of digging, I managed to resolve the “RuntimeException: Error saving action” by installing Action Scheduler 3.0.

https://github.com/woocommerce/action-scheduler/releases/tag/3.0.0
Release Notes: https://woocommerce.wordpress.com/2020/01/08/action-scheduler-3-0/

Hoping the above may assist any lost souls trolling the net for answers...

[2020-01-09 19:18] crstauf opened #417 "Unschedule action only by hook name"
The [documentation for `as_unschedule_action()`](https://github.com/woocommerce/action-scheduler/blob/master/docs/api.md#function-reference--as_unschedule_action) indicates that only the hook name is required, but in my quick test, the other arguments are needed as well.

Is the documentation incorrect, or should actions be able to be unscheduled with only the hook name?

[2020-01-09 21:17] tillkruss opened #418 "Migrations fails because args too long"
How are we suppose to migrate actions to 3.0 with "long" arguments?

None of our actions can be migrated because:

[code]

An example of our args:

[code]

[2020-01-09 21:26] tillkruss commented on #418
Also, if the argument length is limited how is meta data to be stored properly using v3?

[2020-01-10 04:38] james-allan opened #419 "Handle insufficient space to create tables better"
Preface: This is likely to be a rare case but I figured I would raise it in case there's something we can do to prevent this in future.

I was working on a site that was getting errors after upgrading to 3.0. The original error was:

[code]

Essentially, the tables didn't exist. There was an investigation and it turned out in the end that Action Scheduler thought the tables existed because the sch

[2020-01-10 08:05] thenbrent commented on #418
Hi @tillkruss

There's an answer to that here: https://github.com/woocommerce/action-scheduler/issues/199

You can learn more about this issue here: https://github.com/woocommerce/action-scheduler/issues/401 and https://github.com/woocommerce/action-scheduler/pull/402.

[2020-01-10 12:13] rrennick opened #420 "Update the main readme"
When we were updating the docs for 3.0 we missed the main readme. Reported in https://woocommerce.wordpress.com/2020/01/08/action-scheduler-3-0/#comment-6297

[2020-01-10 13:05] rrennick commented on #419
`dbDelta` returns an array of messages indicating what it attempted to do vs any results messages. We would need to look at alternative way of verifying that it was successful.

[2020-01-13 14:02] rrennick commented on #413
Package has been updated: https://packagist.org/packages/prospress/action-scheduler

[2020-01-13 14:02] #413 closed

[2020-01-13 14:11] slaFFik commented on #420
Duplicates #411.

[2020-01-13 20:24] rrennick opened #421 "Add method for purging failed actions"
The automatic purge deleted completed & canceled actions but leaves the failed ones behind for troubleshooting. We should add a user intervention method to remove these.

[2020-01-14 01:30] #411 closed

[2020-01-15 11:18] slaFFik opened #422 "Minimum PHP version?"
There is no PHP version defined in `composer.json` file, and from the code, I see that the library requires at least PHP 5.4, maybe even more modern.

I know that WC is PHP 5.6 and soon PHP 7+ soon, but what about the lib?

In `tests/phpunit.xml.dist` I see PHP 5.6, but that's for tests.
In `classes/ActionScheduler_DataController.php` I see this:
[code]

[2020-01-15 17:03] rrennick commented on #422
@slaFFik Thanks for the report. I've created #423 if you would like to provide any feedback.

[2020-01-16 22:46] tillkruss commented on #418
@thenbrent: Could you explain this briefly. Should post meta data be used for args?

How can I schedule a new action using `as_schedule_single_action()` and then right away add post meta to that action?

[2020-01-16 23:05] rrennick commented on #418
You could create a table for the meta data associated with the action. Then pass the key field as the args for your action.

No, you would need to move the data first then allow the migration to proceed.

[2020-01-16 23:09] tillkruss commented on #418
Is there any interest in improving the design of action scheduler, for example by adding a `metadata` as `longtext` column to the `wp_actionscheduler_actions` table?

[2020-01-17 00:25] thenbrent commented on #418
If that had sufficient requests from developers, we'd consider it.

In the meantime, you can add it for your needs in a plugin that creates a custom data store.

If you release that plugin publicly and make it available for others to use, and it then proves popular, we'd also consider merging that into AS core.

At the moment, despite the deprecated arg length notice being around for almost 18 mon

[2020-01-17 19:24] tillkruss opened #427 "Notice printed too early"
I'm seeing this at the top of the admin page. It should be printed further down. See screenshot.

[code]

<img width="947" alt="Screen Shot 2020-01-17 at 11 21 48 AM" src="https://user-images.githubusercontent.com/665029/72640026-dba2c800-391b-11ea-88ef-d9e8612e0b10.png">

[2020-01-20 02:41] #427 closed

[2020-01-20 13:42] maximebj opened #429 "Actions showing up in comments.php in admin when AS is loaded manually"
Hi. When loading manually the library in a project, actions are shown in comments.php.
In my project, I now use AS from WooCommerce directly and  I don't have the issue anymore.

But recently, WooCommerce Subscription stated to use AS and they load the library manually :

`require_once( dirname( __FILE__ ) . '/includes/libraries/action-scheduler/action-scheduler.php' );`

I don't know why, as WooC

[2020-01-21 08:03] maximebj commented on #429
Ok thanks for the quick answer.
So WooCommerce prevents displaying things, but they must have been deleted automatically by another action cleanup_wp_comment_logs

I've checked, this action doesn't exist. I've also lost 3 of my actions the day I've updated Subscription. Can I schedule again a cleanup_wp_comment_logs manually?

But so it's a Woo Subscription issue, and not an AS issue.

Here are my

[2020-01-21 09:08] maximebj commented on #429
Ok so, I've searched and here what I've found :

AS is a CPT, that supports Comments, so abviously the'll appear in comments.php
AS has a hook on pre_get_comments to add action_log_filter  but it does nothing (maybe used for later cleanup)

So I don't mind if a cleanup should occurs today, in 6 month, but user shouldn't have AS log right in their comments panel.

On my website, I just added :

`
a

[2020-01-21 14:43] rrennick commented on #429
AS is always included in WC Subscriptions. New versions of AS go out in WC Subs before being updated in WC core.

That snippet is fine.

That screen is added by Action Scheduler.

If you want to remove them now you can schedule the action to run immediately with

[code]

Once it's run, remove the code. Otherwise it will continue scheduling another instance of the action.

[2020-01-21 20:44] slaFFik opened #431 "Ability to hide "Tools > Scheduler Actions" page"
Not always a page "Scheduled Actions" is needed to be public in the admin area.

I would like to be able to hide it using a built-in filter in `\ActionScheduler::init()`, similar to what is done with deprecated functions (using `action_scheduler_load_deprecated_functions` filter).

Of course, I can hide it like this:
[code]
with own conditions (when to actually hide it) in that closure, but a nati

[2020-01-21 20:54] slaFFik opened #432 "docs/Usage page sections order is incorrect"
Steps at the top of the page:

But later in the doc, you start with Scheduling first, then Installation.
And the 3rd step doesn't make sense, as there is no such section on a page at all.

So, imo, the text on a page should be re-arranged, and steps should be tweaked.

[2020-01-22 07:28] maximebj commented on #429
Ok! everything is clear. Thanks for your answers !

I'll run the cleanup action. And maybe also keep my snippet active in case theses actions come back in comments.

[2020-01-22 07:28] #429 closed

[2020-01-22 12:18] rrennick commented on #429
You shouldn't see any new instances of action logs in the comments.

[2020-01-22 12:35] maximebj commented on #429
Correct !

I removed my snippet. Thanks a lot!

[2020-01-22 14:28] rrennick opened #434 "Investigate Composer PSR-4 autoloading"
Per https://github.com/woocommerce/woocommerce/pull/25404#pullrequestreview-345255964 we'll need to look at switching to using the composer autoloading to allow AS to be added to WooCommerce (and other plugins) as an external.

[2020-01-22 14:49] rrennick opened #435 "Add consistent spacing on text domains"
The composer script in https://github.com/woocommerce/woocommerce-admin/blob/try/package-as/bin/composer-package-update.sh misses several text domains because some text domains do not have the spacing between the `'` and the `)`.

We'll have the same issue in WC https://github.com/woocommerce/woocommerce/pull/25404#issuecomment-577209545

[2020-01-22 14:55] #422 closed

[2020-01-24 15:16] rrennick commented on #417
@crstauf Thanks for reporting this. I was able to reproduce this with

[code]

Log entries:

[code]

[2020-01-24 18:58] abhishek-pokhriyal opened #436 "Incorrect table name '' in ActionScheduler_DBStoreMigrator"
[code]

[2020-01-24 19:06] rrennick commented on #436
Hi @abhishek-pokhriyal,

If you have the `Follow Up Emails` WooCommerce extension installed you need to either deactivate it or update to the latest version?

If you don't have that installed, could you provide a list of you active plugins?

[2020-01-24 19:16] abhishek-pokhriyal commented on #436
Hi @rrennick,

Thank you for the super quick response. I am using the follow up emails plugin on my website. Could you tell me which version I should update to to get this issue fixed?

[2020-01-24 19:21] rrennick commented on #436
It looks like the latest version is 4.8.22 https://woocommerce.com/products/follow-up-emails/.

[2020-01-24 19:24] abhishek-pokhriyal commented on #436
@rrennick that's the one installed on my site

![Screenshot_20200125-005130~2](https://user-images.githubusercontent.com/11808845/73097428-28cefd00-3f0d-11ea-818c-ce716038e69b.png)

[2020-01-24 19:28] rrennick commented on #436
Can you provide your list of active plugins? if not, try checking for conflicts https://docs.woocommerce.com/document/how-to-test-for-conflicts/

[2020-01-25 13:57] abhishek-pokhriyal commented on #436
Hi @rrennick, sorry for the delay, I was checking with my hosting if the issue is still there or the plugin upgrade solved it. Unfortunately, the issue is still there. Here's the response:

### Here is the list of active plugins on my site

| name                                                            | status | update                       | version   |
|--------------------------------------

[2020-01-25 20:51] abhishek-pokhriyal commented on #436
@rrennick don't want to distract you but getting a lot of these

[2020-01-26 22:07] abhishek-pokhriyal commented on #436
@rrennick we are facing real trouble since we upgraded our plugins. The customer being charged multiple times on renewals

[2020-01-26 22:08] abhishek-pokhriyal commented on #436
@rrennick Thing like these. Not sure what is causing these. Please help.
![image](https://user-images.githubusercontent.com/11808845/73142577-60c57400-40b6-11ea-8afb-0416e90538ba.png)

[2020-01-27 09:08] rrennick commented on #436
Are you still seeing the `Error saving action: Incorrect table name '' in /wp-content/plugins/woocommerce-subscriptions/includes/libraries/action-scheduler/classes/migration/ActionScheduler_DBStoreMigrator.php:44` ?

For `WordPress database error Deadlock found when trying to get lock`, try adding the following

[code]

[2020-01-27 09:12] abhishek-pokhriyal commented on #436
@rrennick No, I'm seeing those error now but there are a lot of those Deadlock notices.

Is there something wrong, our customers are getting charged multiple times (67 times in one case) upon subscription renewal. We had dowgraded Subscriptions to 2.5.7 with the fear of this.

[2020-01-27 09:20] abhishek-pokhriyal commented on #436
@rrennick Do you have any ideas what's happening here? Multiple payments being triggered, and errors like this

[code]

[2020-01-27 09:26] rrennick commented on #436
Based on the other messages you reported, that sounds like there may have been issues with marking the action as complete.

Since you have downgraded can you submit a support ticket through https://woocommerce.com/contact-us/ and include a link to this issue?

[2020-01-27 11:08] rrennick opened #437 "Demarkation ID not set in actionscheduler_actions"
We have had 2 reports of customer sites having fatal errors querying action ID `2` in the post store. I investigated a staging site for one of the two customers and the `actionscheduler_actions.action_id` field starts at `2`.

We need to add a check to verify that the IDENTITY was set and if not attempt to use `ALTER TABLE` to set it. If both fail the migration should be disabled & the site admini

[2020-01-27 11:15] abhishek-pokhriyal commented on #436
I've created a ticket on woocommerce. Do you think adding this can solve the multiple payment issue:

[code]

[2020-01-27 11:18] rrennick opened #438 "Add async runner filter to docs"
We are seeing some reports of deadlocks & 503s from the aync runner. We should add a section to the 3.0 page with instructions for using the `'action_scheduler_async_request_sleep_seconds'` filter to reduce the async runner load frequency or `'action_scheduler_allow_async_request_runner'` to disable it completely.

[2020-01-27 11:22] abhishek-pokhriyal commented on #436
Seems like the woocommerce support will take some time to respond if you know the answer to the following query please let me know:

We were running WooCommerce `v3.9` and Subscriptions `v3.0.1` when we faced this issue with multiple renewals. We know have downgraded Subscriptions to `v2.5.7` but `WooCommerce and other plugins are on their latest version. What will happen to a subscription that is

[2020-01-27 11:23] rrennick commented on #436
I was going to suggest adding that for the deadlock issue until I saw that you had rolled back WCS. The async runner is only in WCS 3.0.X so the filter would have no effect in 2.5.7.

[2020-01-27 11:26] abhishek-pokhriyal commented on #436
Any idea on the renewals? Will they suffer the same issue even in WCS 2.5.7.

[2020-01-27 11:30] abhishek-pokhriyal commented on #436
The fact that customers are being charged multiple times is just making this issue worse. Not sure whether the renewals will be using the new action scheduler tables.

[2020-01-27 12:05] abhishek-pokhriyal commented on #436
@rrennick so there was a subscription that was scheduled to be renewed to 10 minutes ago but nothing happened (no renewal order).

[2020-01-27 13:58] rrennick commented on #436
When you rolled back you paused the renewals because the renewal actions were migrated to the new datastore.

If possible, it would be great to leave it that way until we can determine whether or not you have duplicate actions or if the multiple charges were due to deadlocks preventing the action being marked as completed.

[2020-01-27 14:00] abhishek-pokhriyal commented on #436
@rrennick Please tell me how I can determine that.

[2020-01-27 14:15] abhishek-pokhriyal commented on #436
@rrennick we are trying to replicate this on a staging environment however after automatical renewals my orders are stuck at `Pending payment`. I think it's because automatic payment is disabled. Can you suggest me some way to bypass that?

[2020-01-27 14:20] rrennick commented on #436
Is your staging environment having the same error? If there are no pending actions you could create an order in the dashboard and that would cause an action to be created.

[2020-01-27 14:21] abhishek-pokhriyal commented on #436
No, staging is not having that problem. We are trying to replicate on staging. Problems are coming only with subscription renewals.

[2020-01-27 15:01] rrennick commented on #436
How many rows are there in the `actionscheduler_actions` table?

[2020-01-27 15:10] abhishek-pokhriyal commented on #436
414219

[2020-01-27 15:12] abhishek-pokhriyal commented on #436
i'm trying to replicate on staging, can you help?

[2020-01-27 15:17] abhishek-pokhriyal commented on #436
if you would like to see more information, let me know.

[2020-01-27 16:14] rrennick commented on #436
Can you submit credentials for staging through the support portal?

[2020-01-27 16:16] abhishek-pokhriyal commented on #436
How do I do that?

[2020-01-27 16:27] rrennick commented on #436
Use https://quickforget.com/ and send the URL it gives you in a reply to the support ticket email.

[2020-01-27 16:37] abhishek-pokhriyal commented on #436
Done: here is my ticket https://woocommerce.com/my-account/tickets/?id=2663606

[2020-01-27 16:46] abhishek-pokhriyal commented on #436
@rrennick Are you able to log in?

[2020-01-27 17:01] abhishek-pokhriyal commented on #436
@rrennick If you would take a look, I can get you the credentials of the live site. The real issue is there.

[2020-01-27 17:07] rrennick commented on #436
I was able to log into staging. The repeat renewals appear to be due to the actions being created multiple times during the migration due to the deadlocks.

On the live site, in the DB, how many `actionscheduler_actions` have a `status` of pending?

[2020-01-27 17:10] abhishek-pokhriyal commented on #436
[code]

Gives me: 1042

[2020-01-27 17:14] rrennick commented on #436
Let's go more fine grained

[code]

[2020-01-27 17:15] abhishek-pokhriyal commented on #436
Here are the results:

sfn_followup_emails	603
sfn_send_usage_report	1
wc_admin_unsnooze_admin_notes	2
wcs_report_update_cache	5
woocommerce_scheduled_subscription_payment	431

[2020-01-27 17:25] rrennick commented on #436
Let's try this

[code]

How close the dates are should indicate whether those renewals have already been processed.

[2020-01-27 17:29] abhishek-pokhriyal commented on #436
pending_schedule | complete_schedule | args
-- | -- | --
2020-01-29 10:48:20 |	2020-01-29 10:48:20 |	{"subscription_id":785736}
2020-01-28 17:36:13 |	2020-01-28 17:36:13 |	{"subscription_id":785725}
2020-01-28 17:36:13 |	2020-01-17 16:53:51 |	{"subscription_id":785725}
2020-01-28 17:36:13 |	2020-01-28 17:36:13 |	{"subscription_id":785723}
2020-01-28 17:36:13 |	2020-01-17 16:37:46 |	{"subscription_

[2020-01-27 17:37] abhishek-pokhriyal commented on #436
@rrennick Are we reaching towards some conclusion? Let me know if you need to get access to a copy of a database or something? I can prepare that for you if that works better.

[2020-01-27 17:37] rrennick commented on #436
Assuming you have a backup you should be able to delete any of the ones that have exactly the same schedule:

[code]

After those were removed you could weed the rest of them by comparing the times. Once those were cleaned up then you should be safe to add the filter in your comment above and try restoring WCS 3.0.1.

[2020-01-27 17:52] abhishek-pokhriyal commented on #436
@rrennick Please confirm my understanding about your last comment:

1. Delete all the entries that came from running the following query
[code]

1. > After those were removed you could weed the rest of them by comparing the times.

   Sorry, I didn't get how I'll do this part.

1. Then add this code to the `functions.php`
[code]

1. Then upgrade the WCS to `3.0.1`.

Final thing: **Is this issue ca

[2020-01-27 18:05] rrennick commented on #436
If you deleted them all then that part is done.

The missing table name in the original description was caused by the out of date FUE plugin. I would leave FUE deactivated initially, update WC Subscriptions, monitor the pending actions for more duplicates for a few minutes. If no duplicates show up in the first few minutes then activate FUE.

[2020-01-27 19:47] abhishek-pokhriyal commented on #436
Hey @rrennick, sorry about not going away. I was about to start the cleanup process but I don't seem to understand what am I deleting.

[code]
Some of the results returned by this are as follows. I do not understand what's wrong with themm. Are you sure all theses are to be deleted?

2020-01-27 01:46:07	2020-01-20 01:46:07	{"subscription_id":859964}
2020-01-27 01:46:07	2020-01-27 01:46:07	{"subscr

[2020-01-27 19:58] rrennick commented on #436
You want to delete the pending ones and leave the completed ones. You can see the pending ones in the dashboard screen and use the bulk action feature to delete the ones that you check.

[2020-01-27 20:04] abhishek-pokhriyal commented on #436
![image](https://user-images.githubusercontent.com/11808845/73209455-464ed180-416e-11ea-909c-15409267d6f0.png)

[2020-01-27 20:08] rrennick commented on #436
Yes, that's the screen. If you combine the pending schedule with the args, you can pick out the ones to delete. Check the checkbox for those actions. Then use the bulk action dropdown to delete them.

[2020-01-27 20:13] abhishek-pokhriyal commented on #436
okay, the only other problem is that I've 1322 rows returned by running the query. Do I need to manually check this or is there a better way?

[code]

[2020-01-27 20:17] rrennick commented on #436
Quite a few of those are duplicating the pending action because there are multiple copies of the completed action. There isn't a way in MySQL to run a query to delete from a table where the table is joined to itself to find the rows. You might save time by re-running the search query after each bulk delete in the dashboard.

[2020-01-27 20:25] abhishek-pokhriyal commented on #436
Okay, those subscriptions which missed renewals due to WCS2.5.7 will automatically be renewed when I upgrade to WCS3.0.1?

[2020-01-27 20:25] abhishek-pokhriyal commented on #436
Or I need to manually renew them?

[2020-01-27 20:26] rrennick commented on #436
I would expect that the renewal actions are in the actionscheduler tables but you'll need to assess for manual renewals once you have everything back up and running.

[2020-01-27 20:30] abhishek-pokhriyal commented on #436
Sorry I didn't get you what are you suggesting. Are you saying there is a 50-50 chance for automatically renewing? If that is the case, how long should I wait for it before manually triggering them?

[2020-01-27 20:34] rrennick commented on #436
After you have cleared the duplicate pending actions you'll have a list of remaining pending actions. Those ones will renew automatically. WCS may create some more via retries, etc. I'm not familiar enough with that part of WCS to say for certain where things will be with other subs that need renewal.

[2020-01-27 20:56] abhishek-pokhriyal commented on #436
@rrennick Thank you sir for the responses you've provided today. I really can't figure out your reasoning behind the duplicate actions from the actionscheduler_actions table. I do not understand what the result of that query is signifying. So, I think we'll be moving forward with just upgrading WCS to 3.0.1 and see what happens. Do you think it can be a problem? We should hold?

[2020-01-27 22:09] abhishek-pokhriyal commented on #436
Hi @rrennick, just wanted to update you that we upgrade WCS to 3.0.1 and all the renewals started happening as soon as it was upgraded. We ran the update with the FUE being disabled. However, checking the error log we noticed 11 occurrences of

[code]
Also, our hosting reported seeing 499s response. The `add_filter` code you provided was present in our `functions.php` file.

[2020-01-27 23:40] rrennick commented on #436
Each of the duplicates was going to re-charge a renewal fee.

Can you see which action that is?

[2020-01-27 23:54] rrennick commented on #436
If you continue to see the deadlock errors in your error log, temporarily add

`add_filter( 'action_scheduler_allow_async_request_runner', '__return_false' );`

for a day or so to see whether that eliminates the deadlock issue.

[2020-01-28 00:21] thenbrent commented on #438
Are the issues only during migration? If so, we could [remove chaining DBStore migration](https://github.com/woocommerce/action-scheduler/pull/349) by reinstate the throttle by [increasing the interval back to 30](https://github.com/woocommerce/action-scheduler/commit/a90dcaced1ebfebfa83b979e945886930e9254f0), or something lower.

If the issues are ongoing and widespread, we should also consider d

[2020-01-28 07:36] abhishek-pokhriyal commented on #436
[code]

I'll add that filter and let you know whether we are still seeing the deadlock issue.

[2020-01-28 11:08] front-stream commented on #418
Would be good to add this feature. For example I cannot pass wp user object.

[2020-01-28 11:21] glagonikas commented on #438
In our case (unreported so far) we saw the deadlocks long after the migration was complete yesterday morning.

We received 3 of the following
`WordPress database error Deadlock found when trying to get lock; try restarting transaction for query UPDATE wp_actionscheduler_actions SET attempts = attempts+1, status='in-progress', last_attempt_gmt = '2020-01-27 22:06:07', last_attempt_local = '2020-01-

[2020-01-28 11:27] glagonikas commented on #436
Without any intention to hijack the thread, we too experienced the "Incorrect table name" issue during migration, but hasn't come up since.

We don't use Follow-up emails, but have some custom code that works quite similar to them.

@rrennick any chance you can advise what caused this issue and how Follow-up fixed the bug on their latest version? We can then see if the fix is applicable to our cod

[2020-01-28 13:51] rrennick opened #441 "Deadlocks being reported after migration is complete"
Multiple users have reported sporadic deadlocks occurring after the migration is complete. We'll use this issue to collect some of those reports and discuss disabling the async runner by default.

[2020-01-28 13:52] rrennick commented on #438
I think the deadlocks are mainly being reported on migration because the migration has intensive activity on the AS tables. But there are enough reports of deadlocks occurring after migration that turning it off by default seems like the best mitigation for 3.0. Longer term we can look at a better strategy for arbitrating between CRON and the async runner.

I created #441. @glagonikas Thanks for t

[2020-01-28 13:54] rrennick commented on #441
Ref: https://github.com/woocommerce/action-scheduler/issues/438#issuecomment-579199506
Ref: https://github.com/woocommerce/action-scheduler/issues/436#issuecomment-578978796

[2020-01-28 14:05] glagonikas commented on #438
@rrennick will do. I'll check if deadlocks will occur tonight also. If they do, i'll add the code and check tomorrow.

[2020-01-28 14:22] rrennick commented on #436
@abhishek-pokhriyal Thanks for the follow up. Can you post your results on #441?

@glagonikas That's good to know. Older versions of FUE were partially loading its copy of Action Scheduler before AS was properly initialized. That resulted in some classes from 2.2.X being used instead of the version of the class from 3.0.X.

[2020-01-28 14:30] abhishek-pokhriyal commented on #436
@rrennick I've created a copy of the live site to test this out first. However, I'm not able to replicate the deadlock error. Do you think it's probably because the renewal orders are not going to Payment gateway (due to automatic payment being disabled on the environment) and gets stuck on "Pending payment"?

[2020-01-28 14:31] rrennick commented on #418
One of the main functions of Action Scheduler is to offload processing to the background. Storing entire objects instead of the IDs to those objects somewhat defeats that purpose. Storing entire objects also makes searching for an existing action to determine whether an action should be scheduled much more resource intensive.

[2020-01-28 15:05] rrennick commented on #436
That's the most likely cause. Without the renewals being processed you don't have enough AS activity to trigger a deadlock.

[2020-01-28 15:28] abhishek-pokhriyal commented on #436
Thanks, @rrennick. I'm going to use [this plugin](https://github.com/Prospress/woocommerce-subscriptions-upstage) to enable auto payments for some subscriptions and then going to renew them.
One major concern, **I'm using Stripe in test mode**, but since this is real data I fear auto payment may charge them. If you've have any idea about this, please let me.

[2020-01-28 15:33] rrennick commented on #436
I think the general idea for testing in staging with that plugin is to create test subscriptions that you use. As far as I know, the Stripe test gateway will not accept real credit cards. The list of card numbers to use when testing Stripe are listed at https://stripe.com/docs/testing.

[2020-01-28 15:53] glagonikas commented on #436
@abhishek-pokhriyal I would recommend that you simply switch Stripe to test mode on your staging, at `/wp-admin/admin.php?page=wc-settings&tab=checkout&section=stripe`, enable automatic payments, then create the subscriptions manually via admin or the front-end and set them to renew at around the same time (or even better, exactly the same time).

As far as i can tell, the plugin you linked will a

[2020-01-28 18:41] abhishek-pokhriyal commented on #436
Thanks for your input @rrennick and @glagonikas. I was able to run the subscription renewals to payment processing. I scheduled 4 subscriptions at the same time and carefully watch error logs but there was nothing! I'm going to go ahead use the [code here](https://github.com/woocommerce/action-scheduler/issues/436#issuecomment-579012904) on my live site. I'm posting the current stats on #441.

[2020-01-28 18:45] abhishek-pokhriyal commented on #441
Deadlocks errors caught in the error logs when the following code was in my functions.php

[code]

Timestamps of errors like the following on my live site:
[code]

1. [Tue Jan 28 01:34:03.397995 2020]
1. [Tue Jan 28 02:01:11.287185 2020]
1. [Tue Jan 28 03:01:51.943810 2020]
1. [Tue Jan 28 05:32:09.038074 2020]
1. [Tue Jan 28 07:43:13.758270 2020]
1. [Tue Jan 28 09:26:06.491452 2020]
1. [Tue Jan 28

[2020-01-28 18:51] rrennick commented on #441
@abhishek-pokhriyal Thanks. Can you replace that filter with the one posted in https://github.com/woocommerce/action-scheduler/issues/436#issuecomment-579012904 and see if it clears up the deadlocks?

[2020-01-28 19:32] abhishek-pokhriyal commented on #441
Done, @rrennick. I'm monitoring the logs and will share the results after some time.

[2020-01-29 02:09] thenbrent commented on #418
@front-stream thanks for sharing a vote though. We've got 3 requests for such a feature now.

[2020-01-29 02:16] thenbrent commented on #438
@glagonikas are you using WP CLI to process actions too? If so, two follow-up questions:

1. have you ever seen deadlocks using CLI?
1. are CLI commands running at the same time as Async or WP Cron runners?

@rrennick a less extreme option for now is to increase [the wait time to 5 seconds (from 1 second)](https://github.com/woocommerce/action-scheduler/blob/3.0.0/classes/ActionScheduler_AsyncRequ

[2020-01-29 02:22] #435 closed

[2020-01-29 02:25] thenbrent commented on #441
As mentioned in https://github.com/woocommerce/action-scheduler/issues/438#issuecomment-579561599, from experience seeing a similar issue with another background processing library that uses loopback requests (like the Async Runner), this is likely caused by only waiting [1 second before initiating a loopback request](https://github.com/woocommerce/action-scheduler/blob/3.0.0/classes/ActionSchedul

[2020-01-29 02:29] thenbrent commented on #441
@glagonikas to help confirm my suspicion above, rather than [disabling the async runner](https://github.com/woocommerce/action-scheduler/issues/436#issuecomment-579012904) as [requested here](https://github.com/woocommerce/action-scheduler/issues/438#issuecomment-579255597), could you please increase the sleep time using a snippet like this:

[code]

[2020-01-29 14:31] abhishek-pokhriyal commented on #441
I added the following filter to my functions.php at around `2020-01-28 16:50:00 UTC`

[code]

In the time period `Tue Jan 28 16:50 2020` to `Wed Jan 29 14:04:26 2020`, I found three occurrences of the deadlock issue in the error logs:

1. [Tue Jan 28 17:10:03 2020]
1. [Tue Jan 28 17:13:23 2020]
1. [Tue Jan 28 18:22:20 2020]

#### Results after that in case you want to find out some correlation

1.

[2020-01-29 15:29] abhishek-pokhriyal commented on #436
Hi @rrennick,

It's been a couple of day now and the renewals are coming up fine, we have not noticed any case of multiple payments. However, till now we have not activated Follow-Up Emails back again (We are extremely scared click on that Activate button). We `v4.8.22` (the latest version) of FUE currently deactivated on the live site. We need to get them up and running again but I'm afraid it ca

[2020-01-29 17:07] rrennick commented on #436
The old version of FUE loaded AS incorrectly resulting in fatal errors. We have had lots of customers update FUE and not have issues with the latest version. It should be fine to activate.

[2020-01-29 21:39] anderly commented on #418
@thenbrent I'd second the request for a standard way of doing this. Example, I'm using AS for storing WooCommerce product and order-specific requests that are based on individual product types (simple product, WooCommerce subscriptions, as well as product variations) that have state that warrants more than a single ID or couple of simple args. A meta column would do the trick and I'd rather not bu

[2020-01-30 03:07] thenbrent commented on #418
@anderly thanks for the vote. We're still unlikely to add this into AS core, but @rrennick and I did talk about making a separate piece of code available that implements a custom data store and adds the meta column. That code could then be used as an addon library for AS in cases where it's needed.

Would that be suitable for those here who have requested this feature?

[2020-01-30 17:20] rrennick commented on #441
No. Action Scheduler doesn't keep track of sources of scheduled actions. It runs the action based on when it's scheduled.

[2020-01-30 18:12] anderly commented on #418
@thenbrent that sure would be helpful. Would love to see it in AS core, but that's a close second!

Thanks again!

[2020-01-30 20:45] abhishek-pokhriyal commented on #441
Okay, but when I downgraded WCS from `3.0.1` to `2.5.7`, the scheduled renewal actions didn't complete, until I upgraded WCS back to `3.0.1`. You provided an explanation for that [here](https://github.com/woocommerce/action-scheduler/issues/436#issuecomment-578758531). Wondering why the same thing does not happen when I deactivated follow up (mails are not going but actions move from pending to co

[2020-01-30 21:51] rrennick commented on #441
When you switched back to WCS 2.5.7, the actions in the `wp_actionscheduler_*` tables weren't accessible so none of those actions would be run. When you updated back to 3.0.1, they were accessible but still in their `pending` state. Because WCS was active, the renewals were processed properly when the pending actions were processed.

[2020-01-31 00:45] lukecav opened #444 "When AS 3.0 migration from 2.0 is run will comments and posts related to AS be removed after migration"
When the AS 3.0 migration of existing data is run will comments, comment meta, posts and post meta related to AS on older versions be preserved or removed?

[2020-01-31 01:13] #434 closed

[2020-01-31 01:17] thenbrent commented on #444
@lukecav existing data is removed from the posts & comment tables after it is migrated to the new tables. Action Scheduler has always had data stores to abstract the database schema, so any interaction with the database should have gone through that abstraction.

Let us know if you've got some integration that is querying data directly using the old schema.

[2020-01-31 01:17] #444 closed

[2020-01-31 14:09] lukecav commented on #444
@thenbrent

Thank you.

[2020-02-02 11:07] glagonikas commented on #441
Hi @thenbrent I left this running without the filter for a few days and the deadlocks kept showing at the rate of 2-3 a day.

I added your filter a couple of days ago, and I've seen just one since then. The filter seems to have helped, but it doesn't fix the issue fully.

[2020-02-02 11:22] glagonikas commented on #438
Hi @thenbrent i don't think we use WP CLI

[2020-02-02 22:14] michaelbourne opened #445 "Using API helper functions with Composer Autoload"
Howdy,

I'm just in the process of adding this to a plugin via Autoload. I was wondering if there was a recommended method of usage after that (since the docs focus more around including the plugin file directly, and not with composer).

Should I still include the main plugin file? The API functions file? Abstract my own? Access the class directly?

Many ways to make this work, but I was hoping to

[2020-02-03 02:39] rrennick commented on #445
Yes, you need to include the main plugin file only. That ensures that the latest version of the plugin is the only one active.

[2020-02-03 02:39] #445 closed

[2020-02-03 05:29] thenbrent commented on #441
Thanks for confirming @glagonikas.

[2020-02-03 15:46] miklb commented on #418
howdy! I just walked into a WooCommerce project and have encountered this same issue. If anyone has some hack code I could use to get things back up to bypass this I'll forever owe you coffee.

Obviously I'll be monitoring on how to best long term implement a solution.

[2020-02-03 16:21] miklb commented on #418
quick follow up, on my end, it turned out to be a marketing (Unific) plugin causing Action Scheduler to choke. Disabling it returned me to normal processing. YMMV
We're going to pass the info upstream of course.

[2020-02-03 16:50] anderly commented on #418
@miklb,

I went ahead and implemented the following temporary solution to store my AS args with the WC order in `wp_postmeta` and later remove it:

[code]

[2020-02-03 22:18] michaelbourne commented on #445
Thanks for clearing that up. Am I wrong in thinking I can now include this plugin as part of my composer.json setup?

[code]
[code]

This is loading the main plugin file. The classes are available. The hooks are registering in Query Monitor. But I still get an error when using the API functions (as per the example code on your site, hooked into init.

`PHP Fatal error:  Uncaught Error: Call to und

[2020-02-05 21:00] abhishek-pokhriyal opened #446 "Action scheduler writing in blog comments"
I'm not sure if this is a feature or what but my comments are filled with Action Scheduler data. This looks more like log data.

![image](https://user-images.githubusercontent.com/11808845/73882683-80b02100-4888-11ea-883f-e1bc7c94057c.png)

[2020-02-05 21:27] peterfabian commented on #418
I just wanted to note this is also an issue when WebHooks in WC are tied to an Action, as some actions pass around objects, it can fail to run on those. It's perhaps an esoteric use case, but this will become broken with WC + AS 3.

[2020-02-06 04:00] thenbrent commented on #446
@abhishek-pokhriyal if using Action Scheduler 3.0, those comments should have been deleted. They may relate to orphaned comments or some kind of migration failure.

Please read over [this thread](https://github.com/woocommerce/action-scheduler/issues/429) and take the action recommended in [this comment](https://github.com/woocommerce/action-scheduler/issues/429#issuecomment-576713079) to remove t

[2020-02-06 04:00] #446 closed

[2020-02-06 04:02] thenbrent commented on #418
I'm going to reopen this issue and we can look at finding a solution, ideally before AS 3.0 ships with WC 4.0 @rrennick.

[2020-02-06 04:34] tillkruss commented on #418
The easiest fix would be removing the index on the column and any kinda of sorting on table column, no?

[2020-02-06 06:11] thenbrent commented on #418
@tillkruss it's not just an index anymore, it's the new table's column limit now. We could just change the table's schema and update the table. We'd then end up with the same issues we had previously though - worse performance for _all_ actions, and/or add an index and potentially find the wrong action.

I'd prefer to have some kind of meta storage column used only by those actions that actually n

[2020-02-06 14:21] rrennick opened #447 "Fatal errors on activation when embedded in a plugin"
When Action Scheduler is included in another plugin and that plugin is first activated with WP CLI, it throws some fatal errors. Subsequent activations proceed normally.

[code]

[2020-02-06 15:34] slaFFik opened #448 "Incorrect plural version in notice (_n() not used)"
See `\ActionScheduler_ListTable::display_admin_notices()` method, it has this part:
[code]

If the number of claims is 1 (and it seems to be a default value) we have an incorrect plural in the site admin area:

[2020-02-06 16:37] peterfabian commented on #447
This seems to happen also when not using WP CLI on `shutdown` right after activation:

Incorrect table name ''

ActionScheduler_DBStore.php:53, ActionScheduler_DBStoreMigrator->save_action()
ActionScheduler_DBStoreMigrator.php:31, ActionScheduler_DBStoreMigrator->save_action()
ActionScheduler_HybridStore.php:225, ActionScheduler_HybridStore->save_action()
ActionScheduler_ActionFactory.php:177, Act

[2020-02-06 16:41] peterfabian commented on #447
Guessing, but maybe because on activation, `init` would not run with `\ActionScheduler_HybridStore::init` hooked into place yet, so the `\ActionScheduler_Abstract_Schema::register_tables` hasn't run before the `shutdown`?

[2020-02-06 16:42] anderly commented on #418
@thenbrent,

Any thoughts on the idea of hashing the args and using that as the table key to index on?

Hashing of args is commonly used to prevent API replay attacks and seems like would be a good fit for preventing duplicate actions from being queued with same args.

Then, you could keep args as json encoded/serialized in a new meta field.

Let me know what you think.

[2020-02-06 16:43] claudiosanches commented on #447
@peterfabian yes, seems like `ActionScheduler_Abstract_Schema::register_tables` runs late.

[2020-02-06 17:00] claudiosanches commented on #447
@rrennick Need to call `ActionScheduler_Abstract_Schema::register_tables` early, on WooCommerce we set some values for `$wpdb` on `WooCommerce::__construct`, and also we hook into `switch_blog`.

[2020-02-06 17:03] claudiosanches commented on #447
Also we can just avoid setting values for `$wpdb`, this should solve any issue like that.

[2020-02-06 17:14] rrennick commented on #418
Thanks for the suggestion. I'm working on something along those lines.

[2020-02-06 17:25] slaFFik opened #449 "functions not available during activation"
I didn't find an exact match in other issues, so had to create a new one.

I have a failed CI build with `wp plugin activate --all` command.
These are the logs from my CircleCI task:

<details>
<summary>CircleCI output</summary>

[code]

</details>

I'm using AS v3.0.1 as a composer package in my plugin.

[2020-02-06 19:46] #447 closed

[2020-02-06 21:42] rrennick commented on #445
@michaelbourne Yes, you can use composer. Can you give this a try with the latest master?

[2020-02-06 22:01] rrennick commented on #449
@slaFFik Thanks for the report. Can you test this against the latest master?

[2020-02-07 00:25] thenbrent commented on #418
@anderly yeah hashing the args is a good idea, thanks for sharing it!

@rrennick I suspect you're already aware, but just in case, we don't prevent scheduling actions with same args, so there shouldn't be any `UNIQUE` constraints on the arg hashes (if they're stored in the existing `args` column, which I suspect they should be, we don't need to worry about that).

[2020-02-07 02:14] rrennick commented on #418
Right. We do support finding actions with specific arguments. That won't interfere with hashing because we can hash the find `$args` and use the hash to match the `$args` column. The only place AS uses a wildcard search of the `args` is the dashboard list table. Using a has will make that a bit slow for actions that have large parameter arrays. That should be okay for some degradation of performan

[2020-02-07 06:07] rrennick commented on #436
I'm going to close this as the two issues discussed are addressed by #450 and #452.

[2020-02-07 06:07] #436 closed

[2020-02-07 14:22] slaFFik commented on #449
I've tested, here is the output of the installing the lib inside the plugin:
[code]

Here is the outpit of wp-cli command:
[code]
So not much.

The strange thing is that locally when I try to switch to `dev-master` it generates fatal error:
[code]
Switching back to 3.0.1 via composer makes everything work again. So apparently the latest changes in the lib `composer.json` in `master` branch are bre

[2020-02-07 14:35] rrennick commented on #449
What hook are you calling `as_next_scheduled_action` in?

[2020-02-07 14:38] slaFFik commented on #449
`init` with priority 2.
But it works fine with 3.0.1.

[2020-02-07 14:59] rrennick commented on #449
Plugin activation occurs after that so during the activation process the AS functions don't exist at that priority. We had the same issue with different AS functions when we updated AS to 3.0 in WooCommerce. #450 addressed that issue. There isn't any way for us to have those functions created earlier. What you will need to do is add a `function_exists` check.

I'm going to edit the title of the is

[2020-02-07 15:06] slaFFik commented on #449
Regarding initial activation when running using wp-cli - I get it.

But what about the issue when on an already active plugin changing the lib version from `3.0.1` to `dev-master` breaks the whole site?

[2020-02-07 15:13] rrennick commented on #449
I added the code below to my site and there was no issue:

[code]

With dashboard refreshes my log has

[code]

[2020-02-07 18:41] slaFFik opened #453 "Usage -> Scheduling an Action: incorrect example in strtotime()"
Right now in `docs/usage.md` in "Scheduling an Action" section you provide an example of recurring action, and for the timestamp you write this:

[code]

This is an incorrect argument according to the PHP docs: there is no such [relative format](https://www.php.net/manual/en/datetime.formats.relative.php) as `tonight`.
We have either `midnight` (which is today's midnight) or `tomorrow` (which is t

[2020-02-07 20:41] AngelT91 opened #454 "CRITICAL Uncaught Error: Call to undefined method ActionScheduler_DBLogger::unhook_stored_action()"
Someone else generates this error the migration

[2020-02-07 20:44] rrennick commented on #454
@AngelT91 Thanks for reporting this. Can you provide a list of you active plugins?

[2020-02-07 20:53] AngelT91 commented on #454
It's all these, thanks for answering I've been trying to correct for two days

AppCommerce
AppLMS
AppPresser
AppPresser sample API code
AppPush
AppWoo
Better 2Checkout for WooCommerce
BuddyBoss Platform
CB Change Mail Sender
Checkout Field Editor for WooCommerce
Elementor
Elementor Pro
Follow-Up Emails
Imsanity
LearnDash LMS
LearnDash LMS - Notifications
Mailster - Email Newsletter Plugin for Word

[2020-02-07 20:56] rrennick commented on #454
What version of Follow-Up Emails do you have?

[2020-02-07 21:00] AngelT91 commented on #454
Is the version 4.8.15

[2020-02-07 21:03] rrennick commented on #454
You need to update to the most recent version or deactivate it. Older versions of FUE initialized Action Scheduler incorrectly creating a conflict with AS 3.0.

[2020-02-10 13:49] #448 closed

[2020-02-10 13:50] #441 closed

[2020-02-10 14:11] rrennick commented on #454
Closing this. If updating FUE did not resolve this issue please let us know.

[2020-02-10 14:11] #454 closed

[2020-02-10 14:13] rrennick commented on #449
@slaFFik I'll close this but if you have any further questions/problems with this please let us know.

[2020-02-10 14:13] #449 closed

[2020-02-10 14:17] AngelT91 commented on #454
Hi, thank you very much, updating the plugin was the solution

[2020-02-10 15:21] abhishek-pokhriyal commented on #441
@rrennick Since this is closed now, I've 2 questions:

1. My functions files still contain the code you provided me [here](https://github.com/woocommerce/action-scheduler/issues/436#issuecomment-579012904). What should I do with it?
1. I saw the PR that fixes this, does increasing `action_scheduler_async_request_sleep_seconds` from 1 to 5 seconds correctly fix the issue or is it merely a "safe" gu

[2020-02-10 15:28] rrennick commented on #441
You can remove it then monitor your logs.

See https://github.com/woocommerce/action-scheduler/issues/441#issuecomment-581244678 for reasoning for the change.

[2020-02-11 06:15] thenbrent opened #457 "Possible deadlock diagnosis - shutdown and loopback requests"
We've seen a few issues reporting deadlocks, namely #438 and #441. I think I've found the root cause.

The async runner is attached to the `'shutdown'` hook in `ActionScheduler_QueueRunner::maybe_dispatch_async_request()`. That's the way AS starts to process an async queue.

However, the async queue runner also uses loopback requests to chain processing of actions. This is done in `ActionScheduler

[2020-02-11 08:02] PiotrNap commented on #232
Thank you Stryder777, you literally saved my u** 👍

[2020-02-11 13:38] dhruvins commented on #454
Hi @rrennick

Thanks for the information regarding incompatibility with an older version of FUE.

We are using Action Scheduler 3.0 in one of our plugins and one of the user too reported this issue to us but we are checking as to which plugins does he have active on the site. Is there any other way to handle this error? or maybe some way to detect the incompatibilities.

I will share the list of p

[2020-02-11 13:45] rrennick commented on #454
@dhruvins If you can search the plugins then look for ones containing action-scheduler. The alternative is doing a conflict test.

[2020-02-11 18:04] crstauf commented on #417
Actions should be able to be unscheduled using only the action name (based on [above response](https://github.com/woocommerce/action-scheduler/issues/417#issuecomment-578172625) and adding "bug" label).

[2020-02-11 23:34] thenbrent commented on #454
@dhruvins in case it helps, this was the code manually loading the files and causing this in Follow-up Emails:

[code]

[2020-02-12 02:20] #457 closed

[2020-02-12 15:11] #418 closed

[2020-02-13 13:14] vedanshujain opened #460 "[3.0] Actions lost when migrating if `action_scheduler_migration_status` option is already set"
Option `action_scheduler_migration_status` can be set by either updating to 4.0 beta, or more realistically by installing WooCommerce Services plugin which ships AS 3.0.

The problem is, if you have previously installed, but then disabled the WooCommerce Services plugin, the option still remains set, which means that when you upgrade to WC 4.0, all your current actions will lost because AS 3.0 wil

[2020-02-13 14:32] rrennick commented on #460
@vedanshujain Thanks for reporting this. We already encountered this when WC Subscriptions  3.0 was released and WooCommerce Memberships had unintentionally shipped a version with the AS 3.0 beta.

For the affected customers, the happiness team has instructions for deleting the option via the dashboard (which reactivates the migration). From my perspective, based on the number of reports from abov

[2020-02-13 15:47] slaFFik commented on #432
With 3.1 (where composer.json `autoload` changes were implemented) the composer usage should be specifically outlined.

[2020-02-13 17:25] peterfabian commented on #460
I _think_ it might be better to check for posts, as there is a default WP `KEY type_status_date (post_type,post_status,post_date,ID),`, it shouldn't be too costly to check.

Especially since some cleanup actions (`\ActionScheduler_WPCommentCleaner::init`) depend only on this option being set, potentially deleting action logs data?

[2020-02-13 18:19] slaFFik opened #461 "Missing .editorconfig in .gitattributes"
Simple as that.

[2020-02-13 18:26] slaFFik opened #463 "v3.1.0 doesn't work as a composer package"
## Test plugin doesn't know about AS in a composer

I've reported that earlier in comments section to #449, but it seems we had a misunderstanding.

Plugin files:

<details>
<summary>test/test.php</summary>

[code]

</details>

<details>
<summary>test/composer.json</summary>

[code]

</details>

I always see `as_schedule_single_action does not exist` message, no matter which priority I use with `i

[2020-02-13 18:41] rrennick commented on #463
Your code doesn't register the Action Scheduler version anywhere. This is done by requiring `action-scheduler/action-scheduler.php`. Here's the PR for WooCommerce - https://github.com/woocommerce/woocommerce/pull/25404/files

The documentation is at https://actionscheduler.org/usage/.

[2020-02-13 18:43] slaFFik commented on #463
@rrennick
Changing to this:
[code]

does not help. I've tested that before posting an issue.

[2020-02-13 18:55] slaFFik commented on #463
In the linked commit I see they are using AS 2.2.5, while the issue is about 3.1.0.
In [WC `master` branch](https://github.com/woocommerce/woocommerce/blob/master/composer.json) I see 3.0.1.

[2020-02-13 19:00] rrennick commented on #463
If you check the `composer.json` in master you'll see `3.0.1` which is the version that went out in the 4.0 beta.

Here's my log:

[code]

My test code:
[code]

[2020-02-13 19:18] slaFFik commented on #463
I don't understand how your test code work.

So `woocommerce-admin` is not activated.
In a test plugin, you include the AS from the `woocommerce-admin` plugin, but there is [no such lib there](https://github.com/woocommerce/woocommerce-admin). Ok, let's assume you have some custom version of it.

Could you please test the AS and autoloader using my test plugin in isolation, without WC and jetpack-

[2020-02-13 19:21] rrennick commented on #463
https://github.com/woocommerce/woocommerce-admin/pull/3557

I included the active plugin list above to show you that the test code was loading action scheduler.

[2020-02-13 19:42] slaFFik commented on #463
The whole thing that I'm trying to say: there is a breaking difference between 3.0.1 and 3.1.0 in the way loading is done when required via `composer.json`.
In my initial plugin in development changing in `composer.json` 3.0.1 (with which everything works fine) to 3.1.0 - breaks the AS loading (it doesn't load at all after that). No other plugin installed/activated on my site uses AS, no WC or any

[2020-02-13 19:53] rrennick commented on #463
Per your request I created a plugin `as-test` with a `composer.json`, ran `composer install`, etc.

[code]

[2020-02-13 19:57] slaFFik commented on #463
Thank you for doing that, I assume `as-test` was the single activated plugin in your WP install.

Can you please upload here a zip of that `as-test` plugin? With everything inside of it, including `vendor` dir.
I want to reproduce locally exactly what you are doing.

[2020-02-13 19:59] rrennick commented on #463
[as-test.zip](https://github.com/woocommerce/action-scheduler/files/4200718/as-test.zip)

[2020-02-13 20:13] slaFFik commented on #463
Thank you.

I got it.
You do not require composer autoload at all, you are just ignoring it.
That's the major difference in our test plugins.

Please add `require_once __DIR__ . '/vendor/autoload.php';` to your plugin above AS require (as it should be in case any other packages are used).
Adding this line to your `as-test` breaks everything like I experienced that.

So, basically, this is broken i

[2020-02-13 21:32] slaFFik commented on #445
@michaelbourne Please read this thread: https://github.com/woocommerce/action-scheduler/issues/463. The last comment (as of now) has the solution.
Basically, you should load AS and only after that vendor. In your code:

[code]

[2020-02-13 21:37] slaFFik commented on #434
@thenbrent @rrennick
I would like to reopen the issue, because it does NOT fix the composer autoloading and actually does not load AS correctly.

In your `composer.json` you should have this:
[code]
As you determine the required lib version in that particular file, it should do all the loading by itself. The `classmap` key does nothing useful in terms of autoloading, it just lists where to find cl

[2020-02-13 21:44] slaFFik commented on #463
Here is the solution (imo) to autoloading issue: https://github.com/woocommerce/action-scheduler/issues/434#issuecomment-585983900

[2020-02-13 21:53] rrennick commented on #460
As an alternative, would deleting the option in the WC 4.0 upgrade routine cover most of the edge cases? If there aren't any actions in the posts table it will be marked as complete again within a couple minutes.

[2020-02-13 21:57] slaFFik opened #464 "Proper composer autoloading"
I decided to merge several issues in one and list them all here and provide a solution.
I'm writing here from point of view of a developer, who already uses composer in their own plugin and wants to include AS as yet another package.

Right now AS doesn't properly use composer autoload. Perhaps, there are some reasons for that, I don't know them.
Because of the way AS 3.1.0 is loading ([using clas

[2020-02-13 21:58] slaFFik commented on #463
I think this can be closed in favor for #464.

[2020-02-13 22:20] michaelbourne commented on #445
Awesome, much appreciated.

[2020-02-14 07:56] vedanshujain commented on #460
Deleting the option in upgrade routine, as well as in plugins activate/deactivate hooks sounds like a good approach to me. Although I would say that since we are shipping AS 3.0 with WC Service for some time now, its probably not an edge case anymore.

[2020-02-14 13:20] rrennick commented on #464
@slaFFik Thanks for the explanation. The way Action Scheduler currently works when there are multiple plugins active that include AS is

- `aa` has AS `2.2.5`
- `bb` has AS `3.1.0`
- `cc` has AS `3.0.1`

When WP loads each plugin (in alphabetical order)
- `action-scheduler.php` registers its version with a callback for initializing that version
- on `plugins_loaded` AS runs the callback of the lat

[2020-02-14 13:20] #464 closed

[2020-02-16 20:28] kevinbrown041 commented on #436
I am also getting this issue.
My logs are showing a missing table. Looks like it's trying to find the wrong DB and table.

Here's a sample of my error logs. I'm getting this all day long.

`[Sun Feb 16 19:21:07.897807 2020] [proxy_fcgi:error] [pid 24100:tid 140505484551936] [client 107.77.195.152:35496] AH01071: Got error 'PHP message: WordPress database error Table 'gigrt_wp4.a' doesn't exist for

[2020-02-17 12:09] rrennick commented on #436
If you have AS installed as a plugin update it to version 3.1.0. If it's a library in another plugin you have installed then you need to install version 3.1.0.

[2020-02-17 16:43] cahspar opened #465 "ActionScheduler_Action::$args too long"
Hi,
I'm having a bit of a problem with my current WooCommerce setup. The site used to run fine, no manual changes have been made but just updating plugins and the theme.

It must have happened with a recent update that my WC orders are not being processed any more. Means: The order gets accepted, the customer sees the confirmation page and the order is logged with a status "pending" in my backend.

[2020-02-17 16:52] rrennick commented on #465
@cahspar Download and install version 3.1.0 https://github.com/woocommerce/action-scheduler/releases. You can remove it when you update to WC 4.0.

[2020-02-17 16:52] #465 closed

[2020-02-17 17:09] cahspar commented on #465
That worked like a charm! Thank you very much.

[2020-02-17 17:15] #463 closed

[2020-02-17 18:04] cahspar opened #466 "Duplicated actions & migration action fail"
Hi,
I've just manually updated to AS 3.1 after I had problems with order processing on WC 3.9.2 ref. #465.

Indeed I've never looked deeper into AS as it just worked perfectly in the background. Now that I've encountered and fixed that problem with the update, it seems like some actions got duplicated and one job even failed "action_scheduler/migration_hook".

It came to my attention just now and

[2020-02-17 19:13] kevinbrown041 commented on #436
3.1.0 is inc with WooSubscriptions right?
Also, I figured out the issue. The migrator was trying to migrate actions for the official MailChimp plugin but it failed.
Either because the plugin was no longer installed or the length of the content was more than 192 char. I'm unsure which caused the issue but my queue is running now.

[2020-02-17 19:25] rrennick commented on #436
@kevinbrown041 No, 3.0.1 is in WC Subs.

The length would be the reason. AS isn't aware of what plugins create actions. 3.1.0 addresses the length issue.

[2020-02-17 19:32] kevinbrown041 commented on #436
Great to know that. Thanks @rrennick
Can I ask a dumb question. I got AS with Subscriptions. Do I just replace AS 3.0.1 in that dir with the new version 3.1.0 ?

[2020-02-17 19:38] rrennick commented on #466
You can still comment on closed issues. We can re-open issues if we learn that some related development work needs to be done.

That's actually not a problem. Depending on how many actions there are in a site there might be 1000+ migration batches. If one of those fails, AS creates a new action pending action to retry / continue.

These work fine in my install. If you need assistance in tracking d

[2020-02-17 19:38] #466 closed

[2020-02-17 19:41] rrennick commented on #436
Download the zip and upload it as a standalone plugin through the plugin installer.

[2020-02-18 04:28] neilgee opened #467 "Action Scheduler migration in progress. The list of scheduled actions may be incomplete."
I have this warning in the Dashboard `Action Scheduler migration in progress. The list of scheduled actions may be incomplete.`

I see a ref [here](https://github.com/woocommerce/action-scheduler/issues/401), but not too sure how to troubleshoot.

WIth `wp_debug` enabled I am also seeing this error.
[code]

System details
[code]

[2020-02-18 12:37] rrennick commented on #467
Our instructions for conflict testing are https://docs.woocommerce.com/document/how-to-test-for-conflicts/

[2020-02-18 20:16] slaFFik opened #469 "Typo in as_next_scheduled_action() description"
`as_next_scheduled_action()` phpdoc description:

Should be `async`.

[2020-02-20 21:53] rrennick commented on #460
Addressed in #470.

[2020-02-20 21:53] #460 closed

[2020-02-20 22:34] neilgee commented on #467
Think it was [Activity Log](https://wordpress.org/plugins/aryo-activity-log/) plugin, the warning disappeared after I removed the plugin.

Also there was a  huge amount of ActionScheduler comments in _wp_comments_ - removing that plugins table removed those too.

[2020-02-20 22:34] #467 closed

[2020-02-20 22:58] rrennick opened #471 "Remove composer autoloading"
After an initial report in #463, testing for #464 and a followup PR #468, I've concluded that composer autoloading needs to be completely removed from AS.

### From #464:

[code]

If you have two plugin active that are both configured to autoload a file named `example.php` only  the `example.php` in the plugin that has its autoloader registered first will be autoloaded. Composer does not compare t

[2020-02-25 01:47] #471 closed

[2020-02-28 03:24] crstauf commented on #417
@rrennick Started working on a fix for the bug, and realized the above reproduction code is faulty: `as_get_scheduled_actions()` returns actions regardless of status, so the count includes cancelled actions

### Corrected Version (of [original](https://github.com/woocommerce/action-scheduler/issues/417#issuecomment-578172625))
[code]

Log entries:

[code]

To reproduce the bug, the `as_scheduled_s

[2020-02-28 03:45] crstauf commented on #417
Submitted and linked [PR](https://github.com/woocommerce/action-scheduler/pull/475).

[2020-02-28 17:29] rrennick commented on #391
Re-opening due to additional reports to add a trap for the error.

[2020-02-28 21:08] tillkruss opened #477 "Access action id in action"
Is there an easy way to access the action's ID inside the actions callback hook? Similar to `get_the_ID()` but for the action.

[2020-02-28 22:34] crstauf commented on #477
@tillkruss Not that I've been able to find, but you could use the AS store to find an action based on the hook and arguments (`ActionScheduler_Store::instance()->find_action( $hook, $args )`).

What are you doing where you want to know the action's ID?

[2020-02-28 22:40] tillkruss commented on #477
Maybe setting a global variable using the `action_scheduler_begin_execute` hook?

[2020-02-28 22:45] rrennick commented on #477
Just confirming this. An action object isn't aware of what its id is in the DB.

[2020-02-28 22:45] #477 closed

[2020-03-02 17:31] #461 closed

[2020-03-02 20:26] rrennick commented on #432
@slaFFik Thanks for reporting this. If you have a few minutes could you review #438 to see if I missed anything?

[2020-03-03 13:01] leewillis77 commented on #417
Can't you just change the `is_array( $args )` to `!empty( $args )` so it works the same as `as_unschedule_all_actions` which is unaffected by this issue? https://github.com/woocommerce/action-scheduler/blob/master/functions.php#L115

[2020-03-03 13:07] leewillis77 opened #479 "Implementation queries / doc ommissions"
Now that action scheduler has moved to custom tables, it's appropriate for a need I have in a public plugin. I'm currently porting my current implementation (based on https://github.com/deliciousbrains/wp-background-processing) to Action Scheduler, but I have a few implementation questions that I can't find answers to in the docs.

If someone can quickly answer these, happy to pull a docs PR toget

[2020-03-03 13:50] rrennick commented on #479
These can be added as early as possible. The earliest point where they will be fired is during the WP cron run.

WP `do_action()` does not return a value (eg. status) or log whether anything was hooked. AS is the same.

[2020-03-03 14:27] leewillis77 commented on #479
Thanks, so hooks need to be registered before init/10 if my understanding is correct.

So jobs are fired, and removed from the queue, whether they're "successful" or not. Good to know.

[2020-03-04 00:42] thenbrent commented on #479
Yes. That's right. A good point to document!

Yeah. Jobs are just actions, so they are abstracted from any callbacks on them.

It sounds like you're saying "successful" in terms of the operations run by callbacks on the action, but it's better to think of the job/action itself as having a status, partly because they do, but also because you never know for sure what is run on it, and what "success"

[2020-03-07 17:27] lkraav commented on #403
I just updated to WooCommerce 4.0 RC, and my staging cron (=== non-existent workload) is now outputting "Attempting to reduce used memory..." on every run.

https://github.com/woocommerce/action-scheduler/blob/3.1.1/classes/ActionScheduler_DataController.php#L137 how often does `free_memory()` execute? Not really possible to tell externally looking at the blocking condition. Either way, not sure i

[2020-03-09 01:27] jaredatch commented on #460
Just a heads up. WPForms 1.5.9 includes AS 3.1. We've seen this issue come up at least a dozen times that have been reported.

So given we have 3M+ installs, I wouldn't say it's been a huge problem, but there were definitely users caught in the cross fire with this, which is unfortunate and not ideal. Telling customers to delete options is not a people first helpful solution.

I imagine the number

[2020-03-09 02:24] thenbrent commented on #460
@jaredatch ICYMI, that was not the solution chosen to close this.

When a plugin using AS is deactivated, like WPForms, the option is now deleted automatically. For details, see https://github.com/woocommerce/action-scheduler/pull/470/

[2020-03-09 11:03] rrennick commented on #460
This was added to version 3.1.1.

[2020-03-09 12:41] rrennick commented on #403
@lkraav I'm happy to look at a PR that adds filter(s) to disable either the message and/or the memory reduction.

[2020-03-09 12:44] lkraav commented on #403
It looks like this message is triggered only in the initial migration phases maybe. It stopped spamming cron some time after I typed the previous comment. Might be that noop is OK here, but I'll let yall know once the live server upgrades to WC 4.0.

[2020-03-09 12:53] MarcusFuto opened #482 "Mailchimp for Woocommerce is saying its Wordpress' fault"
I am lately getting a lot of errors on the site. Mailchimp for Woocommerce is saying I should report it here and that they cannot do anything (see this post https://wordpress.org/support/topic/action-scheduler/) :

[09-Mar-2020 12:37:12 UTC] PHP Notice:  Undefined property: wpdb::$actionscheduler_actions in /var/www/vhosts/ringsofsweden.com/httpdocs/wp-includes/wp-db.php on line 659
[09-Mar-2020 1

[2020-03-09 12:59] rrennick commented on #482
@MarcusFuto Sorry to hear you are having an issue. Can you go through the conflict testing outlined in https://docs.woocommerce.com/document/how-to-test-for-conflicts/ ?

We are trying to compile a list of extensions that have conflicts and would appreciate if you would let us know what you find.

[2020-03-09 13:48] MarcusFuto commented on #482
Hello, went through the process and the only thing that helped was deactivating the Mailchimp for Woocommerce plugin by Mailchimp.

I will keep it deactivated, but it is strange that they say it has to do with you guys.

Here is the ticket I opened with them. If you have any suggestions please let me know.

https://wordpress.org/support/topic/problems-displaying-site-correctly-when-plugin-is-activ

[2020-03-09 14:49] rrennick commented on #482
I have been doing some investigation work with the MC extension folks. There are no issues with it  active on my dev site. We are aware of a small number of plugins that load Action Scheduler incorrectly which cause the specific error you are seeing.

As this is an issue with an unidentified plugin vs Action Scheduler, I'll close. @MarcusFuto If you'd like to post your list of active extensions, I

[2020-03-09 14:49] #482 closed

[2020-03-10 05:14] thenbrent commented on #403
That's very likely given the increased rate of work AS needs to do during migration to migrate all the actions.

[2020-03-11 11:36] peterfabian opened #484 "Init order"
Not an issue, just a question as I was looking at the code today and this comment

https://github.com/woocommerce/action-scheduler/blob/59dbd87de0c8a826b08142fd122279409dffadf7/classes/abstracts/ActionScheduler.php#L153

got me thinking if the order of init functions is correct?
https://github.com/woocommerce/action-scheduler/blob/59dbd87de0c8a826b08142fd122279409dffadf7/classes/abstracts/ActionSc

[2020-03-11 12:02] rrennick commented on #484
@peterfabian Nice catch.

[2020-03-11 19:47] rrennick opened #485 "Run action link does not work in WC status page"
This is a regression caused by https://github.com/woocommerce/action-scheduler/commit/e10a7db232c358935b3ebc0a51e379eb839b6d17 which moved the action processing to the Tools -> Scheduled Actions page hook. That page hook isn't fired when the Scheduled Action screen is loaded under WooCommerce -> Status.

Originally reported in https://github.com/woocommerce/woocommerce/issues/25870

[2020-03-12 13:07] peterfabian opened #486 "Uncaught InvalidArgumentException in system status"
We have a couple of similar reports where code is complaining about action id not being valid, e.g.

[code]

[report 1](https://wordpress.org/support/topic/fatal-error-in-scheduler/)
[report 2](https://wordpress.org/support/topic/action-scheduler-critical-uncaught-invalidargumentexception/)

What I find a bit perplexing is that (by having a quick look), this code wants to get information about act

[2020-03-12 13:22] degregar commented on #482
Hi,
I'm experiencing the same issue with action scheduler. The plugin causing problems is: woocommerce dotpay: https://github.com/dotpay/WooCommerce2

I've crossed this issue trying to solve problem with REST API:

Error: [] cURL error 28: Operation timed out after 10000 milliseconds with 0 bytes received

[2020-03-12 13:35] rrennick commented on #486
@peterfabian I believe this was caused by #457. When the two threads were running concurrently one of them succeeded in creating an action before the demarkation ID was set https://github.com/woocommerce/action-scheduler/blob/52bd35581c73c77094b0b2dd4b639e595a009457/classes/data-stores/ActionScheduler_HybridStore.php#L105 which created a handful of actions in the table data store that have IDs bel

[2020-03-12 14:36] rrennick commented on #482
@degregar Thanks for letting us know :)

[2020-03-12 14:36] MarcusFuto commented on #482
Here is a list of my plugins:

Redux Framework |   | by Team Redux – 3.6.17
-- | -- | --
WPML Multilingual CMS |   | by OnTheGoSystems – 4.3.10
Yoast SEO Multilingual |   | by OnTheGoSystems – 1.0.3
Remember_Last_Choice_WPML |   | by – 1.2
Ultimate Addons for WPBakery Page Builder |   | by Brainstorm Force – 3.19.3
Antispam Bee |   | by pluginkollektiv – 2.9.1
CF7 Google Sheet Connector |   | by W

[2020-03-12 14:42] rrennick commented on #482
There is an official plugin https://wordpress.org/plugins/mailchimp-for-woocommerce/ . I wasn't aware there was a second one. In my previous comments I was referring to the official one. Your best bet is to go through conflict testing to find the problem plugin(s).

[2020-03-12 15:04] jeffstieler commented on #486
@rrennick has the fix in https://github.com/woocommerce/action-scheduler/pull/458 not been shipped, or do we need to reopen #457?

[2020-03-12 15:37] rrennick commented on #486
@jeffstieler I have a manual fix that we had used a few sites that experienced it. AFAIK, this is limited to sites that had AS 3.0.X installed that reverted back to pre-3.0. I think we can do an upgrade routine that checks for the presence of these & mitigate through that.

[2020-03-12 22:46] thenbrent opened #490 "PHP Notice before migration is complete: The post type scheduled-action is not registered"
Getting some Action Scheduler notices when accessing the dashboard before migration is complete:

[code]

Reported by @jrodger

[2020-03-13 06:41] rrennick opened #491 "Add dashboard method to recreate tables"
There are enough reports of AS tables being missing (including being deleted by the site owner via the WP Optimize plugin https://wordpress.org/support/topic/can-not-update-my-database/#post-12534740) that we should add a method to recreate the tables via the dashboard.

WooCommerce Reference: https://github.com/woocommerce/woocommerce/issues/25895

[2020-03-13 14:11] #485 closed

[2020-03-13 14:49] #484 closed

[2020-03-13 17:49] rrennick commented on #490
I expected this would be easy to reproduce as it's a known issue
https://core.trac.wordpress.org/ticket/49437
https://core.trac.wordpress.org/ticket/36208

However, I wasn't able to get the warning logged with actions (and log entries) in the post store either with the migration in progress or complete. the only way to produce it in the dashboard is deactivate all instances of AS.

[2020-03-13 19:35] #486 closed

[2020-03-16 02:53] thenbrent commented on #491
IMO, the tables should be automatically restored immediately rather than requiring manual intervention. Requiring manual action, as done with #492, means tables may be missing for a any given period of time. Scheduled events will be lost during that time, including critical events, like scheduled payments.

The one case I can see where AS is active and a site owner wouldn't want the tables automat

[2020-03-16 02:56] thenbrent commented on #490
Interesting. And that would also only be the case with AS < 3.0, as actions created with 3.0 won't be CPTs anymore. In that case, this can be closed.

[2020-03-16 02:56] #490 closed

[2020-03-16 13:57] rrennick commented on #491
This would be quite edge case as the migration won't run to a destination custom store but I can add a filter that could be used to disable this.

[2020-03-16 17:56] #491 closed

[2020-03-17 12:37] slaFFik opened #495 "3.1.3 doesn't recreate logs table"
This PR #492 recreates `actions`/`claims`/`groups` tables, but does NOT recreate `logs` table when it's missing and you open the AS admin area page.

I see this notice all the time:

Table is not recreated, `action_scheduler/migration_hook` action is completed and there is nothing else in Pending.

[2020-03-17 12:52] slaFFik commented on #495
@rrennick
I found an error in `classes/ActionScheduler_ListTable.php`:
In `recreate_tables()` method instead of `$logger_schema = new ActionScheduler_StoreSchema();` it should be `$logger_schema = new ActionScheduler_LoggerSchema();` (line 514).

[2020-03-17 13:19] #495 closed

[2020-03-21 03:05] streamworksaudio commented on #486
Installed WooCommerce 4.0.1 (the change log shows that the Action Scheduler was updated) however I am still seeing errors with this package.   The log shows...

[code]

In fact there are some new oddities too.  The scheduled actions tab now shows there are pending actions, but they do not show up in the list.

<img width="1390" alt="Screen Shot 2020-03-21 at 11 59 51 AM" src="https://user-images.g

[2020-03-21 03:47] streamworksaudio commented on #486
I could not get the action scheduler to do anything.  So I deleted all the wp_actionscheduler_ tables in the database and after WooCommerce re-created them, the issue see to have been resolved.  Perhaps during the update the tables were corrupted.

[2020-03-23 10:06] szepeviktor opened #500 "Move source code to /src ❗"
Would you merge a PR that renames /classes to /src like in WooCommerce?

Related: https://github.com/php-stubs/woocommerce-stubs/pull/1

[2020-03-24 11:48] raghavtact9 opened #501 "action_scheduler_queue_runner_time_limit is not setting time limit."
I am trying to set the 30 second restriction on this filter. 'action_scheduler_queue_runner_time_limit' . And I am returning an action from my data store with my custom data hook.

There I put a PHP sleep() method for 90 seconds on that data hook, hoping that it would stop after 30 seconds as I have set the queue runner time limit to 30. But it keeps running, and executed successfully.

For more i

[2020-03-24 11:57] rrennick commented on #500
WooCommerce has most of its source code in the `/includes/` folder https://github.com/woocommerce/woocommerce/tree/master/includes

Any plugin using Action Scheduler as a library should `require` the main plugin file. Accessing any other file in AS directly will create conflicts with other instances of AS.

[2020-03-24 11:57] #500 closed

[2020-03-24 12:12] szepeviktor commented on #500
I am running a WC stubs project, see the link above.

All WC packages use the `/src` directory.
Would it be possible to move classes there?

[2020-03-24 12:45] rrennick commented on #500
I read through the issue in your project. We won't be taking on another code re-org at this time.

[2020-03-24 12:52] rrennick commented on #501
The 30 second limit isn't applied to the run time of the individual action hooks. It's applied to the runner (ie. once the time limit is reached AS will stop the queue). So, in your test, if that was the first action, the queue would stop when it completed.

[2020-03-24 12:52] #501 closed

[2020-03-24 13:17] szepeviktor commented on #500
Thank you for reading that.

[2020-03-24 13:45] StSaens commented on #486
I'm still having this issue on 4.0.1.
(the first post's error code is from my website)

``

### WordPress Environment ###

WordPress address (URL): https://xxx.xxx
Site address (URL): https://xxx.xxx
WC Version: 4.0.1
REST API Version: ✔ 1.0.7
WC Blocks Version: ✔ 2.5.14
Action Scheduler Version: ✔ 3.1.4
WC Admin Version: ✔ 1.0.3
Log Directory Writable: ✔
WP Version: 5.3.2
WP Multisite: –
WP Memor

[2020-03-24 13:51] raghavtact9 commented on #501
Also I am hosting Kinsta as my hosting Provider, and their Max Execution Time is 300. But time limit still is not set to 30. Because it is checking if the limit is under max execution time. then it will return. So runner will now keep running actions till 300 seconds.

[2020-03-24 13:56] rrennick commented on #486
@StSaens Can you create a new issue? Add a comment that you have WC 4.0.1 instead of including the system status report. This issue was addressing an issue in the Scheduled Actions screen.

[2020-03-24 14:44] rrennick commented on #501
@raghavtact9 A max PHP execution time of 300 isn't particularly unusual. The default time limit on the queue runner is [30 seconds](https://github.com/woocommerce/action-scheduler/blob/master/classes/abstracts/ActionScheduler_Abstract_QueueRunner.php#L130).

If your site is running for 300 then look for code on your site that is using one of the filters below the code I linked to above. I'm not fa

[2020-03-24 14:58] StSaens opened #502 "Action Scheduler on migration to 4.0.1 acting up"
Hi.

I just did an upgrade from 3.x to 4.0.1 on my staging and seeing strange things.
What I did
1. made db-export using duplicator
2. copied files from production to staging
3. restored DB on staging
4. disabled all plugins on restoring
5. log into staging and enable Woocommerce, Woocommerce Subscriptions.
6. in scheduled actions I can see the log and pending actions/subscription renewals
7. I up

[2020-03-24 15:53] rrennick commented on #502
The initial error is `PHP Fatal error Uncaught Error: Undefined class constant 'QUEUE_GROUP' in /mnt/web419/b0/82/59534982/htdocs/WordPress_03/wp-content/plugins/woocommerce/packages/woocommerce-admin/includes/wc-admin-update-functions.php:70`

That will be addressed in https://github.com/woocommerce/woocommerce-admin/issues/3982. For now you should be able to eliminate the error by reactivating t

[2020-03-24 15:53] #502 closed

[2020-03-27 17:40] rrennick commented on #437
I was investigating a problem site today and found that the reason the IDENTITY ID was not being set was that the default `scheduled_date_gmt` (`'0000-00-00 00:00:00'`) was producing an invalid date error. I'll have to investigate whether this is related to MySQL version, setting, character encoding, etc.

[2020-03-27 17:49] rrennick commented on #437
Found it: https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_zero_date

[2020-03-30 13:28] rrennick commented on #437
Confirming that `sql_mode=STRICT_TRANS_TABLES,NO_ZERO_DATE` produces an error on the default dates

[code]

[2020-03-31 07:18] wundertips opened #504 "action-scheduler Migration in Process stuck"
Hi,
I am having some major issue after upgrading to the Woocomerce 4.0. Unfortunately, i noticed the problem way to late. Upon upgrading, i pressed the START button to migrate all the historical data of orders and customers.

Now, the issue it that it will not stop spinning and in the scheduled log, nothing shows besides "2968 tasks pending". But the main field of hooks showing is empty. So there

[2020-03-31 11:42] rrennick commented on #504
@wundertips Github isn't for support. However, based on the info you provided your site may have the #437 issue.

If you have actions that have an empty hook you can delete them using the checkbox at the left and delete bulk action.

The version of Action Scheduler in WooCommerce 4.0.1 is the latest version. You can tell from the stack trace `/wp-content/plugins/woocommerce/packages/action-schedul

[2020-03-31 12:48] fernandotellado opened #506 "In localized versiones the link to Run scheduled actions doesn't work"
**The bug**
When in 'WooCommerce Admin > Status > Scheduled Actions' in the localized versions of WooCommerce (tested for Spanish and German) the action links when hovering on any action don't appear and cannot be run/forced the scheduled action.

We've reviewed the translations and **it doesn't appear to be a translation issue**.

**To Reproduce**
Steps to reproduce the behavior: To have WooComme

[2020-03-31 13:17] #395 closed

[2020-03-31 13:33] #479 closed

[2020-03-31 13:35] #453 closed

[2020-03-31 13:35] #469 closed

[2020-03-31 18:10] crstauf commented on #421
@rrennick Were you thinking this would be an interface or setting, or a filter or constant?

[2020-03-31 18:30] crstauf commented on #91
@thenbrent #113 was merged in 2018, but it doesn't appear there's a PR for this. I'm willing to work on a PR for this, but don't want to interfere with or duplicate what you're doing (or going to do).

[2020-03-31 18:39] rrennick commented on #506
**Note** the action links are only added to pending actions.

@claudiosanches If you check https://github.com/woocommerce/action-scheduler/blob/master/classes/ActionScheduler_ListTable.php#L126:L138 in the packages folder in WooCommerce, the text domains are updated to `woocommerce`.

When I change my site language setting to Spanish (without adding any translation files) I still get the action li

[2020-03-31 18:45] claudiosanches commented on #506
@rrennick according to the reported happens for pending tasks ("Pendiente" means "Pending" in Spanish). Also they are reporting that doesn't display any toolbar.

[2020-03-31 20:09] jfarsen commented on #361
Hi. I can confirm this problem still exists and affects any notifications from WooCommerce, Subscriptions and AutomateWoo.

We use HTTP Basic Auth to ensure nothing (human, bots) can spider a site while in DEV.

[2020-03-31 20:28] crstauf commented on #394
@thenbrent Submitted PR.

You mention not wanting a UI, so I did not integrate a nonce into the PR. If you do want to integrate a nonce, that will need to be added (with the nonce).

[2020-03-31 22:16] WillBrubaker commented on #361
Heya @jfarsen I'm not an expert on configuring BasicAuth, but I believe it is possible to configure it such that local requests can bypass authentication. https://cwiki.apache.org/confluence/display/HTTPD/BypassAuthenticationOrAuthorizationRequirements

[2020-03-31 22:39] rrennick commented on #361
Another alternative that might work if you have people logged into the dashboard is [Alternate CRON](https://wordpress.org/support/article/editing-wp-config-php/)

You can manually run actions from the Scheduled Actions admin screen.

[2020-04-01 00:31] wundertips commented on #504
thanks so much for your kind help. will forward the suggestion to my developer and update

[2020-04-01 01:41] thenbrent commented on #91
@crstauf thanks! There's no recent work on this, though the functionality would still be quite valuable. @rrennick would you review / merge a PR for this?

[2020-04-01 13:40] rrennick commented on #421
@crstauf It was mostly a note to remind me to think about it later :)

AS currently doesn't use global constants and doesn't have a settings screen. Filters might work if they took into account that the desired purge delay might be different for different statuses. Another alternative might be write a small plugin with a scheduled action and add the code and instructions to the documentation.

[2020-04-01 13:41] #437 closed

[2020-04-01 13:52] rrennick commented on #91
@crstauf What I have in mind for this month is to create a 3.2.0 branch after 3.1.5 is tagged & released. Once we have that branch PRs for 3.2 can be based to that branch without affecting our ability to do a 3.1.6 bugfix release if necessary.

[2020-04-01 14:57] crstauf opened #510 "Add a "Past" view for pending scheduled actions"
Add a view that shows only actions that are pending and have past their scheduled date. This would be especially helpful for the message shown in #91.

Suggested by @rrennick in Slack DM.

[2020-04-01 16:02] rrennick commented on #510
Closing per https://github.com/woocommerce/action-scheduler/pull/509#issuecomment-607338018

[2020-04-01 16:02] #510 closed

[2020-04-01 21:06] crstauf commented on #510
@rrennick The amount of work to implement a new status for past-due actions seems disproportionate to the value that a "Past-due" view will add: anywhere that `STATUS_PENDING` is used has to be adjusted to also include `STATUS_PASTDUE`, and given that `query_actions()` does not support an array on the `status` param, this is a lot of extra querying.

I really like this idea, but creating a status

[2020-04-01 21:22] crstauf commented on #510
[This patch](https://gist.github.com/crstauf/b85a83b30f460c0f518461fa8b5f61d8) (on `master` branch) adds <15 lines of code, and implements a "Past-due" view, without registering a new post status.

Used the following code to create test actions:

[code]

[2020-04-01 23:21] rrennick commented on #510
Agreed. Just proceed with the original PR of the notice. I'll write up a detailed description for the idea for the view at another time.

[2020-04-01 23:25] crstauf commented on #510
@rrennick want to make sure you saw that i submitted a PR for this issue that appears to work perfectly.

[2020-04-01 23:42] rrennick commented on #510
@crstauf I'll review the PR later but an additional 15 lines sounds about right for what I had in mind.

[2020-04-02 12:51] rrennick opened #512 "Queue runner claim test fails near midnight"
The `test_next_instance_of_cron_action()` unit test fails when run close to midnight UTC. This is probably a result of differences in handling between `0 0 * * *` and `midnight`.

[2020-04-03 10:49] picocodes opened #513 "Callback not called"
Hello all,

Thanks for this great library. I have an issue though. My callback is not being triggered.

Here is how I registered it:-

[code]
The action fires successfully and is marked as complete. However, the `wpinv_renew_manual_subscription_profile` callback is never called.

I know this because I'm logging a message at the top of `wpinv_renew_manual_subscription_profile` but it is not logged.

[2020-04-03 16:02] abhishek-pokhriyal opened #514 "Some cases of action getting timed-out"
- WooCommerce `v3.9.0`
- WooCommerce Subscriptions `v3.0.1`
- Follow-Up Emails `v4.8.23`
- Mailchimp for WooCommerce `v2.3.1`

<hr>

We are having some cases where actions are failing with the message: `action timed out after 300 seconds`. When I queried the DB to find out the total count of such cases, I found:

Month      | Cases of timeout
----------|------------------
Mar 2020 | 4
Feb 2020 | 0

[2020-04-05 13:05] lkraav opened #515 "3.0.1: possible plugin conflict with `WPSEO_Link_Watcher::save_post()`"
After installing `woocommerce-subscriptions-3.0.3`, which still ships `action-scheduler-3.0.1`:

[code]

Crashing class is in `wordpress-seo-premium-13.1`.

Crashed in the middle of a migration session with the above. Not sure what to make of it off the bat. I repeated `migrate` command and it's continuing (thus far).

Your thoughts?

[2020-04-06 10:57] thenbrent commented on #513
Action Scheduler is used to scheduled actions / hooks, not callbacks. You need to attach the callback to the scheduled action.

If the callback you want to run is called `wpinv_renew_manual_subscription_profile`, to make sure it's called with the snippet you have above, add this code:

[code]

(I'd recommend changing the hook name though, to something like:  `wpinv_trigger_renew_manual_subscriptio

[2020-04-06 10:57] #513 closed

[2020-04-06 12:32] rrennick commented on #514
@abhishek-pokhriyal Action Scheduler doesn't have any insight into why actions may have timed out. If debug logging was enabled the actions might have logged information to the debug log.

[2020-04-06 12:32] #514 closed

[2020-04-06 12:37] abhishek-pokhriyal commented on #514
@rrennick Okay, is there any other place where apart from the `actionscheduler_logs` table to get more information? The logged message does not help much.
![image](https://user-images.githubusercontent.com/11808845/78559027-48e63b00-7831-11ea-9d47-38b7186661e9.png)

[2020-04-06 12:49] rrennick commented on #515
@lkraav Too bad we don't have the line number in
```#5 /home/convers/public_html/institute/wp-content/plugins/woocommerce-subscriptions/includes/libraries/action-scheduler/classes/data-stores/Acti in```

as that would give an indication of what AS was doing at the time. Could you let us know if it happens again during the migration?

[2020-04-06 12:50] rrennick commented on #514
WooCommerce extensions usually log to WooCommerce -> Status -> Logs.

[2020-04-06 13:13] lkraav commented on #515
Indeed, I see the line cut off now as well.

It did not repeat itself for whatever reason, and second run reached "Migration complete" message.

[2020-04-06 13:19] lkraav commented on #515
I think it has to be https://github.com/woocommerce/woocommerce-subscriptions/blob/3.0.3/includes/libraries/action-scheduler/classes/data-stores/ActionScheduler_wpPostStore.php#L52 since it's the only `wp_insert_post()` call in this directory:

[code]

[2020-04-06 15:01] bor0 opened #516 "Re-visiting validity of table names"
We are seeing some issues with Action Scheduler and Bookings. It happens in an instance with WP Rocket. This likely caused the Bookings issue which flooded our Google API quota, disabling Bookings Google integration for all users.

Customers get this error:

[code]

Since `find_actions` fail, Bookings schedules thousands of polling events.

From here, it looks like the `$wpdb-><table_name>` is not

[2020-04-06 16:51] rrennick commented on #515
Oh, looking at the stack trace it's `wp_insert_post` that's calling the `save_post` action not AS. I haven't looked but I'm not sure how the core function would call the hook without all the parameters.

[2020-04-06 20:39] wowpages opened #517 "Actions Scheduler run amok - 1.3 million scheduled actions, more every few seconds"
The Scheduled Actions on our new Woocommerce site has over 1.3 million entries and more keep getting created every few seconds. I don't know what is causing this or how to stop it, and I think it's slowing down the site. The table wp_actionscheduler_actions is 363 MB and the wp_actionscheduler_logs is 253 MB. I'm not sure what it's doing, but this doesn't seem normal, does it?

<img width="1075" a

[2020-04-06 20:52] wowpages commented on #517
The wp_actionscheduler_xxx tables are there. Was that the other issue? There are 1,261 orders total, 1,019 completed and 198 processing.

[2020-04-06 21:36] rrennick commented on #517
@wowpages I was referring to the specific comment I linked to. The other condition is MySQL 5.7 (in the previous comment).

[2020-04-06 21:37] crstauf commented on #516
I had this error recently as well: turned out I was attempting to interact with AS prior to `init:1` action.

@bor0 I expect you and the devs at Automattic have checked that already, so more likely a helpful note for anyone else that arrives here.

[2020-04-06 21:42] rrennick commented on #517
@wowpages Also, you can install and activate https://github.com/woocommerce/action-scheduler-disable-default-runner to prevent AS from running actions (including the migration) while you investigate.

[2020-04-06 21:49] wowpages commented on #517
MySQL version is 5.6.39. I installed the plugin you suggested - thanks! I don't know if WooCommerce is calling Action Scheduler or if it's one of the WC plugins. I'll keep an eye on things and see if anything goes awry by disabling AS with the plugin. Thanks for your help!

[2020-04-06 21:58] bor0 commented on #516
We were using it on `shutdown:10`, however, `shutdown:1` seems to fix the issue. Will post details as soon as we have them.

[2020-04-07 01:19] rrennick commented on #517
@wowpages Thanks for the follow up.

[2020-04-07 04:20] thenbrent commented on #514
That's because in these situations, Action Scheduler has no idea what happened, and couldn't determine it while processing the action (otherwise, it would log more).

The `timed out after 300 seconds` log indicates that Action Scheduler found an action that had been in the `in-progress` statue for 5 minutes. Knowing that actions don't take 5 minutes to process (and even if they did, a server would

[2020-04-07 04:26] thenbrent commented on #517
@rrennick is this likely to be caused by the same issues reported in #516?

[2020-04-07 04:29] thenbrent commented on #516
That makes me wonder if this is related to the Async runner somehow too, as `ActionScheduler_QueueRunner::maybe_dispatch_async_request()` is attached to `shutdown:10` too.

[2020-04-07 11:09] bor0 commented on #516
Just confirmed today with @jessepearson, `shutdown:1` does *not* fix the issue.

[2020-04-07 11:34] jessepearson commented on #517
@wowpages Any chance you have WP Rocket installed?

[2020-04-07 12:33] rrennick commented on #516
After looking at the shutdown hook it looks like WP Rocket may be registering its own PHP shutdown hook that's running before WP `shutdown`.

[2020-04-07 15:49] wowpages commented on #517
Thanks, but I do not have WP Rocket installed.

[2020-04-08 11:25] jessepearson commented on #517
@wowpages Thanks for the confirmation, another dev team is looking into something that's happening in another plugin and I was just seeing if there was a common thread.

[2020-04-08 17:38] jessepearson commented on #516
I was able to figure out how to consistently replicate the issue between WP Rocket and Action Scheduler...and Bookings.

1. WP Rocket settings: [wp-rocket-settings-2020-04-08-5e8e06fa4ac11.json.zip](https://github.com/woocommerce/action-scheduler/files/4451866/wp-rocket-settings-2020-04-08-5e8e06fa4ac11.json.zip)
1. You need to have Bookings installed and connected to a Google calendar.
1. Create

[2020-04-08 17:43] rrennick commented on #516
@jessepearson Were there settings where the errors didn't occur?

[2020-04-08 17:54] jessepearson commented on #516
@rrennick I haven't tried anything else at the moment. @bor0 created a patch he had me test out and it stopped the errors from happening, though. I think he may be working on it now.

[2020-04-08 18:16] rrennick commented on #516
@jessepearson Thanks. We had this issue with WP Rocket and the AS migration in WC 4.0.0.

Briefly, the issue is that in WP and plugins that use custom tables, variables are created for DB table names to account for the table prefix varying among installs

- `$wpdb->posts` => 'wp_posts'
- `$wpdb->postmeta` => 'wp_postmeta'
- `$wpdb->woocommerce_order_items` => 'wp_woocommerce_order_items'
- `$wpdb-

[2020-04-08 18:36] rrennick commented on #516
@thenbrent Can you provide your thoughts on whether we should go the route of eliminating the use of `$wpdb->table_names` ?

[2020-04-09 01:19] thenbrent commented on #516
@rrennick why are those variables undefined with WP Rocket?

[2020-04-09 10:54] thenbrent commented on #516
Based on #517 and a Slack thread in A8C Slack, there is increasing evidence this issue (or one just like it) doesn't require WP Rocket.

[2020-04-09 11:56] sixsixninenine commented on #517
I'm seeing the same behaviour although not in the same volume - hundreds of thousands of entries with 'wc-admin_import_orders'. Using up server resources as more are added constantly.

There are only 1730 historical orders in total. I don't have WP Rocket installed.

I have disabled the default runner for now via the plugin linked above. I can provide a plugins list if that helps to identify a com

[2020-04-09 12:00] rrennick commented on #517
@wowpages @sixsixninenine If you have access to your database, could you look at your `wp_actionscheduler_actions` table and get the lowest `action_id`?

[2020-04-09 12:08] rrennick commented on #516
I don't have a copy to confirm but it's most likely that WP Rocket destroys its `$wpdb` and creates a default one. Writing the migration action is hooked at priority `0` so either it's done in a negative priority or in its own PHP shutdown hook that is registered before the WP core one.

[2020-04-09 13:02] sixsixninenine commented on #517
`7455` is the lowest action_id in that table. It's an entry for a scheduled email from a third-party plugin.

[2020-04-09 13:15] rrennick commented on #517
@sixsixninenine Thanks, I should have also asked for the most recent order ID from the order listing.

[2020-04-09 13:26] sixsixninenine commented on #517
No problem. Most recent order ID on the site is `5674`.

The highest order number currently referenced as an argument for `wc-admin_import_orders` hook in the action scheduler is `3176`.

[2020-04-09 13:32] rrennick commented on #516
Both reports in #517 are WC Admin historical data imports. The import schedules a single action that schedules batch actions. The batch actions schedule import actions. That could be caused by #489. If not, then it's likely an issue that's interfering with the import.

[2020-04-09 14:37] rrennick commented on #517
@sixsixninenine Could you provide your WooCommerce System Status report? You can remove the site URL related items.

[2020-04-09 14:44] sixsixninenine commented on #517
`
### WordPress Environment ###

WordPress address (URL): https://www.XXXXXXXXXXX.co.uk
Site address (URL): https://www.XXXXXXXXXXX.co.uk
WC Version: 4.0.1
REST API Version: ✔ 1.0.7
WC Blocks Version: ✔ 2.5.14
Action Scheduler Version: ✔ 3.1.4
WC Admin Version: ✔ 1.0.3
Log Directory Writable: ✔
WP Version: 5.4
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: –
Language: en_US
Exte

[2020-04-09 15:33] rrennick commented on #517
@wowpages Do you have W3 Total Cache installed?

[2020-04-09 15:43] wowpages commented on #517
No, don't have W3 Total Cache. The client has it on DreamHost so it uses
the DreamHost caching. It does have the Proxy Cache Purge plugin.

**************************************************
Steve Briggs
Wow Pages
Portland, Maine
Boulder, Colorado
Los Angeles, California

207-761-2450
888-325-5907

steve@wowpages.com

**************************************************

On Thu, Apr 9, 2020 at 8:34

[2020-04-09 16:42] rrennick commented on #516
I thought it would be worth testing another custom database class to rule out the possibility of it being an issue with any custom DB class.

I installed and configured https://github.com/rrennick/SharDB then added the following test code

[code]

The debug log contains the following:
[code]

[2020-04-09 17:05] rrennick opened #519 "Error adding action with NO_ZERO_DATE"
This is a follow up issue to #503, #437. My dev install MySQL 5.7 is still configured with

[code]

Using `as_schedule_single_action()` generates the following error

[code]

I tested using `1000-01-01 00:00:00` based on https://stackoverflow.com/questions/36374335/error-in-mysql-when-setting-default-value-for-date-or-datetime for both attempt date fields and that eliminated the error.

From https

[2020-04-09 18:17] rrennick commented on #517
@sixsixninenine If you search for `wc-admin_import_orders` in the Tools -> Scheduled Actions screen, how many actions does it find with that hook?

[2020-04-09 19:05] rrennick commented on #517
@sixsixninenine It doesn't look like you have the same issue as @wowpages

vs

[code]

That's about 1 new action every 2 to 3 minutes. I'd suggest deactivating `Disable Default Queue Runner` and allow the queue to run for a bit. If you see more than 10,000 actions then you could reactivate.

[2020-04-09 19:25] rrennick commented on #519
Correcting this. I had switched databases. These were created when I checked the correct DB. They do have the `0000-00-00 00:00:00` dates in the `gmt` dates so I will investigate this further.

[2020-04-09 19:35] sixsixninenine commented on #517
Before I deleted them, there were 990,000+

[2020-04-09 20:04] sixsixninenine commented on #517
<img width="1192" alt="Screen Shot 2020-04-09 at 20 59 51" src="https://user-images.githubusercontent.com/4310462/78935723-3411dd80-7aa5-11ea-8f5f-95d55af615d8.png">

After 5 minutes, the number of created and completed actions has gone over 10k. The server and website performance is suffering as before.

I'm pretty sure this is what @wowpages was reporting. The actions are getting completed (~50

[2020-04-09 20:44] wowpages commented on #517
I would say that what @sixsixninenine is seeing is exactly what I was seeing.

[2020-04-12 23:40] shahariaazam opened #521 "Class 'ActionScheduler_ActionFactory' not found"
I used composer to install action-scheduler. Here is an important part of my `composer.json`.
[code]
Included the main `action-scheduler.php` file in my plugin file like -

[code]

On `deactivate` of my plugin. I wanted to clear all existing schedule that produced from my plugin that I identified with group.

[code]

So when I tried to deactivate my plugin, it record a fatal error in my log file.

[2020-04-13 01:45] shahariaazam commented on #521
Ooops. It's very weird that if `woocommerce` plugin installed on the site. I don't get this error at all. All works fine.

So somehow besides using this as a standalone package, does this have any dependency with Woocommerce?

[2020-04-13 09:44] lkraav commented on #521
It doesn't, but loading order may change.

Did you run `composer dump-autoload`?

[2020-04-13 09:55] shahariaazam commented on #521
@lkraav AFAIK I am using 3.1.4 that is not loading classes via composer.
So dump-autoload may not work.

[2020-04-15 07:31] shahariaazam opened #522 "TypeError : Argument 1 passed to ActionScheduler_Abstract_Schedule::__construct() must be an instance of DateTime, null given"
This should not be like this.

For example, I created an async action and later cancelled it.

**Action Object**
[code]

***Fetching Action by ID**

[code]

**Stack Trace**
[code]

The above code throw that exception. I tried to dig deeper to investigate about what happened through the stack trace and I found an issue in getting Cancelled Action schedule.

And here it is - https://github.com/wooco

[2020-04-15 15:20] BonnieBeeman opened #525 "Pending Payment Orders Automatically Move to Trash"
All of our existing "Pending Payment" orders automatically move to Trash when Scheduled Actions take place. Pending Orders must be manually "Restored"

This is tied to the new Woocommerce automated scheduled actions, which includes emails to customers who abandoned cart.  There are now thousands of completed Scheduled Actions that must be manually deleted 10 at a time.   You can see from the attac

[2020-04-16 21:19] khalilifar commented on #517
I have the same issue. over 600k actions and 2 million logs before I delete the completed actions and delete the logs but they keep coming fast. I have about 20k orders and 30k customers. I had w3-total-cache before but not right now

[2020-04-17 23:30] tcwmarketing commented on #517
Chiming in myself. I've also run into this issue. We had WP Rocket installed but it was deactivated prior to starting the first import. I've tried stopping, deleting the queue and data in the tables then restarting with all plugins deactivated and using theme Twenty Twenty. Even reduced the data to last 30 days (only 32 orders and 7 customers).

Oddly if I leave Skip previously imported customers

[2020-04-19 19:22] glagonikas commented on #438
Just to mention that we are still getting deadlocks occasionally, after updating to the latest version of WC. We use v3.1.4 that comes with it.

The deadlocks are relating to `wc-admin_import_orders` and `wc-admin_import_customers`. We've been unable to import the data so far.

I've added the filter linked in [#436 (comment)](https://github.com/woocommerce/action-scheduler/issues/436#issuecomment-

[2020-04-20 15:41] rrennick commented on #521
@shahariaazam You should not be enabling Composer autoloading with Action Scheduler. AS has its own internal autoloading functionality which accounts for multiple instances of AS being active at the same time. Does this problem still occur if you remove the Composer autoloading?

[2020-04-20 15:45] #506 closed

[2020-04-20 15:56] rrennick commented on #438
@glagonikas Where did you add the filter?

[2020-04-20 16:57] glagonikas commented on #438
mu-plugins

[2020-04-20 17:07] rrennick commented on #438
@glagonikas This PR is just for the documentation update.

`mu-plugins` would be a good location for the filter so I'm not sure how you would be getting deadlocks with just WP Cron running actions now if you weren't before. In AS 2.X, the cron runner would have been contending with other users of the post tables. Once your site is migrated AS is the only user of the action tables. Do you have an e

[2020-04-20 17:26] glagonikas commented on #438
It's to do with the amount of actions that run after we upgraded to WC4. To populate the reports, WC has created a lot of actions (24k yesterday, 23k so far today) and there is some conflict there.

Before WC4, we would primarily use AS for WC Subscription renewals, so we would never have so many actions running in a single day.

While WC updates the reports, we get around 1-2 deadlocks a minute.

[2020-04-20 17:31] shahariaazam commented on #521
If you see my example I shared.. I was not loading AS with composer. See my above example.

[2020-04-20 17:42] rrennick commented on #521
Can you check your plugin folder for https://github.com/woocommerce/action-scheduler/blob/master/classes/ActionScheduler_ActionFactory.php ?

[2020-04-20 17:45] rrennick commented on #517
For everyone reporting on this issue - Is it WooCommerce historical data import actions that are being created in large numbers?

[2020-04-20 17:54] wowpages commented on #517
In my case, the Hook was always wc-admin_import_orders - see my OP screenshot. I don't know what was generating them. I was not even aware of Actions Scheduler until I noticed that the wp_actionscheduler_actions table was so huge and growing.

[2020-04-20 18:18] tcwmarketing commented on #517
@rrennick - yes, the historical data import action was the cause of the issue for my case.

[2020-04-20 18:23] rrennick commented on #516
I installed WP Rocket with the same test code as my previous comment and am not seeing any errors.

[code]

@jessepearson Can you provide a code snippet that reproduces this with just WC & WP Rocket active?

[2020-04-20 18:27] rrennick commented on #515
I'm going to close this for now. If someone encounters this issue again, please let us know and we can re-open the issue.

[2020-04-20 18:27] #515 closed

[2020-04-20 18:30] rrennick commented on #504
Closing this for lack of feedback. @wundertips If you have any followup please let us know.

[2020-04-20 18:30] #504 closed

[2020-04-20 19:00] rrennick commented on #438
@glagonikas How many new orders in a day? There are 2 actions created for each new order.

[2020-04-20 19:04] sixsixninenine commented on #517
@rrennick Yes, that's right. As @wowpages account above. It began after the WC update where WC-Admin was integrated in to core and began to import historical data.

[2020-04-20 19:41] rrennick commented on #517
Thanks all for the feedback. This looks like it might be an issue with the analytics dashboard vs Action Scheduler. I also work on that project so I will investigate further to see if I can reproduce the issue.

[2020-04-21 01:31] thenbrent commented on #438
Interesting. I wonder if deadlocks are being caused by requests _creating_ actions, rather than just AS processing actions (which is what the `action_scheduler_allow_async_request_runner` filter changes).

There's many plugins that create actions on `init` or similar hooks, so if a site is seeing a lot of activity, and there's no throttle on creating those actions, that could lead to deadlocks.

[2020-04-21 07:58] glagonikas commented on #438
We have a busy site with new and subscription orders running in the hundreds daily

Not sure if it helps, but the deadlocks are the following
`WordPress database error Deadlock found when trying to get lock; try restarting transaction for query UPDATE wp_actionscheduler_actions SET attempts = attempts+1, status='in-progress', last_attempt_gmt = '2020-04-20 17:00:02', last_attempt_local = '2020-04-

[2020-04-21 10:33] jessepearson commented on #516
@rrennick This does it on one of my test sites:

[code]

[2020-04-21 11:55] rrennick commented on #525
@BonnieBeeman the hook being run is `woocommerce_ac_send_email_action`. Do you have an extension installed that sends emails on abandoned carts?

[2020-04-21 11:59] rrennick commented on #525
These are purged automatically after 30 days.

[2020-04-21 12:47] rrennick commented on #438
A deadlock requires two or more database queries running at the same time. If there are only two queries then the deadlock affects the second one starting. The error log doesn't contain any information on what the first query is.

The async runner is still active. Can you comment with the filter you added to your `mu-plugins` folder?

[2020-04-21 12:59] sixsixninenine commented on #517
I have re-enabled the action scheduler (disabled the 'action scheduler disable default runner' plugin suggested above for debugging) and _dis_abled Woocommerce Admin with the following, for now:

https://gist.github.com/joshuatf/006111b6f43c3ab3d2cad39e3443822b

(Above link taken from a support topic for Woocommere regarding V4 and the new dashboard)

This means I can still have the action schedul

[2020-04-21 13:49] glagonikas commented on #438
I had just this
`add_filter( 'action_scheduler_allow_async_request_runner', '__return_false' );`

Here's the deadlock details too

[code]

[2020-04-21 13:52] rrennick commented on #516
@jessepearson The earliest hook you can use `as_*` functions is `init` per https://actionscheduler.org/api/ - API Function Availability.

[2020-04-21 14:15] jessepearson commented on #516
@rrennick Ah, gotcha.

This snippet will produce the error:

[code]

Once an existing post/product/page is opened in an incognito window, that's when the notice and error are logged.

[2020-04-21 16:47] rrennick commented on #516
@jessepearson That doesn't produce the error for me. I have WP 5.4 and tried WC 4.0.1, WC master, AS master with shop home page, single product page, product category archive, with or without WP Rocket active on both a logged in window and incognito. I also tried adding to cart to check if it might be triggered by an ajax request.

[2020-04-21 18:20] rrennick commented on #438
How did you add it to the `mu-plugins` folder?

[2020-04-21 18:29] rrennick opened #528 "Duplicate cron jobs"
When a site is updated to AS 3.X, the original WP Cron entry is replaced with the 3.0 entry including the context. If the site is reverted back to AS 2.X, the original entry is recreated and two cron entries exist. Updating to 3.X again doesn't remove the restored entry because the 3.0 entry already exists.

This might be a contributing factor in the deadlocks being discussed in #438

[2020-04-21 18:34] BonnieBeeman commented on #525
Yes, we are using the Woocommerce Abandoned Cart Lite that has a hook to send an email out to someone only if their email was captured.

From: Ron Rennick <notifications@github.com>
Sent: Tuesday, April 21, 2020 4:55 AM
To: woocommerce/action-scheduler <action-scheduler@noreply.github.com>
Cc: BonnieBeeman <bonnie.beeman@comcast.net>; Mention <mention@noreply.github.com>
Subject: Re: [woocommerce/

[2020-04-21 18:37] rrennick commented on #525
@BonnieBeeman Deactivate it until you receive at least one order to see whether your orders are still moved to the trash.

[2020-04-21 18:38] jessepearson commented on #516
@rrennick Not sure, then. I have wiped the db of a test site and reinstalled several times now and have been able to replicate it each time.

1. Activate WC, go through wizard without installing anything additional.
1. Activate WP Rocket
1. Activate plugin with snippet above as the only thing in it
1. Create product
1. View product in incognito, and it happens on the first to second view

I packed

[2020-04-21 19:23] #522 closed

[2020-04-21 19:39] glagonikas commented on #438
Just made a PHP file and threw this code in. Is there anything in particular you're worried about or a specific way this filter works?

[2020-04-22 11:51] rrennick commented on #438
Given the deadlock is occurring in the async runner either the filter doesn't work as designed or your implementation of the filter isn't being applied.

[2020-04-22 11:58] sawwd commented on #232
You don't need to downgrade. You can go to **WooCommerce -> Status -> Scheduled Actions** and search for **action_scheduler/migration_hook** and then run it.

[2020-04-22 12:19] glagonikas commented on #438
I think it would be important to understand why the deadlocks happen in the first place. We don't have duplicate cron jobs, so #528 doesn't apply to us.

Based on the deadlock details i sent above, it seems the code is trying to log the execution (log_execution), before it's done claiming all jobs, so one update query bumps onto the other.

If that's the case, making the claim query faster (or sma

[2020-04-22 12:38] rrennick commented on #438
All of the error log entries I've seen for this occurred in the async runner and none in the WP CLI or WP Cron runners. That suggests it's related to a process flow in some way. Since this issue was for updating documentation I'll create a separate issue for discussing the deadlocks.

[2020-04-22 13:00] #438 closed

[2020-04-22 13:00] #432 closed

[2020-04-22 13:33] rrennick opened #530 "Diagnose intermittent deadlocks"
Continuing discussion from #438 on intermittent deadlocks:

[code]
and
[code]

[2020-04-22 13:44] glagonikas commented on #530
[code]

[2020-04-22 15:12] shahariaazam commented on #521
@rrennick yes the file s there.

I install the AS 3.1.4 via composer (but not using it via autoloader). So that class is present in the correct location.

[2020-04-22 16:04] glagonikas commented on #530
As mentioned on the other thread, i think the code is trying to log the execution (log_execution), before it's done claiming all jobs, so one update query bumps onto the other.

If that's the case, making the claim query faster (or smaller) or delaying log_execution might help?

According to NewRelic, the following query is quite time-consuming taking 5-10s to complete
[code]

[2020-04-22 17:49] BonnieBeeman commented on #525
De-activating Woocommerce Abandoned Cart Lite did not solve the problem.  Every day some trigger automatically moves all of my “Pending Payment” to “Trash” and I must manually recover them.  Below is the system status config report from Woocommerce so you can test.

`

### WordPress Environment ###

WordPress address (URL): https://redzonereceiver.tv

Site address (URL): https://redzonereceiver.tv

[2020-04-22 18:38] rrennick commented on #525
@BonnieBeeman Github is for reporting issues/bugs vs providing customer support. If you are a WooCommerce.com customer please contact support at https://WooCommerce.com/contact-us/.

[2020-04-22 18:38] #525 closed

[2020-04-23 02:43] thenbrent commented on #530
See also #457 for prior deadlock issues (that may be related).

[2020-04-23 02:56] thenbrent commented on #525
@BonnieBeeman what you are describing sounds similar to the behaviour of WooCommerce's Hold Stock setting. Support can help confirm if that's the issue, but you might want to try disabling Hold Stock. Learn more here: https://docs.woocommerce.com/document/configuring-woocommerce-settings/#inventory-options

[2020-04-23 11:18] dbjpanda opened #531 "Is Action Scheduler suitable for sending verification email triggered in every user registration?"
I am trying to create a user registration form that sends OTP over Email and SMS and display an OTP screen after the whole process completes.

How can I make the send_mail and send_sms to be in the background? I know it can be done through Ajax directly to reduce the processing time. But I am making this plugin on top of another one. So ajax way is not to fit in my case. I need to complete the who

[2020-04-23 13:05] rrennick commented on #530
@glagonikas Thanks for the detailed info. That does look like something is blocking the query. Do you have actions that might take that amount of time to execute?

[2020-04-23 14:09] glagonikas commented on #530
We don't have any actions that would fire on that stack trace, but we do have a large and busy site. We use Redis and everything is optimised, but running loads of update queries consequitively is probably is not ideal as they are not cached.

Can you direct me to the place where the code claims 100 actions and confirm log_execution is where each claimed action runs? I can then try to debug locall

[2020-04-23 14:43] rrennick commented on #531
Moving this type of process is a common use for Action Scheduler.

If you were expecting this volume of registrations you would need to do the same architecture evaluation regardless of the method used for processing in the background. Regardless of how long each transaction takes, once you reach the time length for 1000 transactions, you then have 1000 transactions being processed in the length o

[2020-04-23 14:44] mdmoore opened #532 "Pending Actions not always created for the next renewal"
From p1586912865170300-slack-lambda @jorgeatorres and @james-allan recommend that this be created.

@james-allan Mentions the following:

[2020-04-23 17:03] rrennick commented on #532
@mdmoore Closing this as the discussion referred to creating an issue in a different repo. p1587659738000800-slack

[2020-04-23 17:03] #532 closed

[2020-04-23 19:20] rrennick commented on #530
The default batch size is 25 for Cron or Async - https://github.com/woocommerce/action-scheduler/blob/master/classes/ActionScheduler_QueueRunner.php#L131

The claim / run process starts at https://github.com/woocommerce/action-scheduler/blob/master/classes/ActionScheduler_QueueRunner.php#L154

[2020-04-23 19:31] rrennick commented on #521
@shahariaazam I'm not sure what to tell you. I have a few test plugins I've created that pull in AS via composer and don't have an issue with any of them. WooCommerce also uses Composer to include AS.

[2020-04-23 19:53] rrennick commented on #530
@glagonikas You could try lowering the batch size in your cron job to `20` or similar. CLI will still process all the pending actions, just in smaller batches. Make the change at a time when you'll be able to monitor and revert if it increases the number of deadlocks. https://github.com/woocommerce/action-scheduler/blob/master/classes/WP_CLI/ActionScheduler_WPCLI_Scheduler_command.php#L13

[2020-04-23 20:43] rrennick commented on #530
A followup thought is that if your cron job is scheduled to run every minute then it could be multiple instances of the cron job competing. Cron in Linux spawns the task on the schedule regardless of the disposition of the previous iteration of the task. Here's a demo script I wrote and scheduled to run every minute. Log shows the first 190 seconds:

[code]

[2020-04-24 03:49] thenbrent commented on #530
@glagonikas are you running the [Action Scheduler High Volume](https://github.com/woocommerce/action-scheduler-high-volume) plugin?

[2020-04-24 07:03] glagonikas commented on #530
That's odd... If you look on my deadlock details, the second query that's claiming processes, (UPDATE wp_actionscheduler_actions SET claim_id=183806,...) has a limit of 100, not 25!?!

No, wasn't aware of that plugin. We use the one that ships with WC, which overrides the one used by WCS.

[2020-04-24 09:52] dbjpanda commented on #531
@rrennick Thank you.  I have one more query. As I said I have to send mail and sms both as soon as the user registers. So should I define both the functionalities in one action hook? Or should I go for two different action hooks for two different tasks?  Which would be faster and efficient?

[2020-04-24 10:33] glagonikas commented on #530
OK, the increased limit comes from https://actionscheduler.org/perf/ that we've added previously. We had set the following
- action_scheduler_queue_runner_time_limit - 120
- action_scheduler_queue_runner_batch_size - 100
- action_scheduler_queue_runner_concurrent_batches - 10

This obviously means that we **did** use the equivalent of the Action Scheduler High Volume plugin

Removing those filters

[2020-04-24 10:37] glagonikas commented on #530
Correct me if I'm wrong, but even if cron jobs double up, having the lock mechanism would prevent jobs bumping to each other. On each spawn of wp-cron.php I'd imagine you'll have a new claim_id, different rows would be claimed and then updated and jobs would work in parallel on the same INNODB table.

[2020-04-24 12:43] bor0 commented on #516
I was easily able to reproduce this using only bash:

[code]

[2020-04-24 12:47] rrennick commented on #516
@bor0 Explained here https://github.com/woocommerce/action-scheduler/issues/516#issuecomment-617194257. Action Scheduler still supports the CPT data store. CPTs cannot be registered before `init`.

[2020-04-24 12:53] bor0 commented on #516
I was able to reproduce it again, using `shutdown` instead of `plugins_loaded` and following @bubbles steps:

1. Ran WC setup wizard
2. Create a product with price 15
3. Save product
4. View from incognito

Apache error logs:

[code]

[2020-04-24 12:57] rrennick commented on #516
@bor0 Can you post your local setup?

[2020-04-24 12:59] bor0 commented on #516
You mean a zip of the instance or system logs?

[2020-04-24 13:01] rrennick commented on #516
Configuration. I've not been able to do any investigation because I've not been able to reproduce in my dev environment.

[2020-04-24 13:11] bor0 commented on #516
@rrennick you should be able to reproduce using the bash commands I gave. I don't know what parts of my configuration you may be interested, `wp-config.php`, or something else? I am using a Mac, manually installed Apache/PHP/MySQL with brew. No virtual machines or anything.

Here are the commands I used:
[code]

Next, visit http://localhost:8080/test/wp-admin/admin.php?page=wc-setup using all defa

[2020-04-24 16:31] magabriel opened #533 "ActionScheduler list table row actions missing for locales other than English"
Row actions are not displayed in the Action Scheduler list table if the site language is set to other than English.

**Steps to reproduce the behavior:**
1. Go to Settings>General and set the site language to a language other than English, i.e. Spanish.
2. Go to Woocommerce>Status>Scheduled Actions
3. Select the "Pending" filter.
4. Hover the mouse over the "Hook" columns of any displayed actions.

[2020-04-24 16:58] glagonikas commented on #530
OK so I run an `explain` on the claim query and noticed it states `Using intersect(claim_id,status); Using where; Using filesort`. This is because there are indexes on each individual column, but not on the three columns used by the update query.

Is there a particular reason the table `wp_actionscheduler_actions` doesn't have an index for `claim_id, status, scheduled_date_gmt`? This would result

[2020-04-24 17:53] rrennick commented on #530
@glagonikas Nice find. If things still look good after a couple days would you submit a PR adding the index & bumping the schema version? Schema is in https://github.com/woocommerce/action-scheduler/blob/master/classes/schema/ActionScheduler_StoreSchema.php

[2020-04-24 18:58] rrennick commented on #531
AS only runs actions that are pending where the scheduled date is in the past. For your other questions the answers vary depending on the specifics of the use cases.

[2020-04-24 20:22] rrennick commented on #533
@magabriel Thanks for reporting. This was reported earlier in #506 and fixed in #508. Closing as a duplicate.

[2020-04-24 20:22] #533 closed

[2020-04-25 15:03] rahulnrathodkcl opened #534 "Action Scheduler migration in progress. The list of scheduled actions may be incomplete."
The above titled issue occured after upgrading the staged site from woocommerce 3.8.1 to 4.0.1, and now the scheduled task are not getting completed.

The **"WooCommerce is updating the database in the background. The database update process may take a little while, so please be patient."** message is showed constantly even after waiting for 5-6 hours.

I have even tried installing action schedule

[2020-04-25 19:43] dbjpanda commented on #531
What does it mean by `The next queue will begin processing in approximately n seconds.` .  Most of the time Actions are created at a time but processed after 30-40 seconds which makes this library unusable for my case.  Can't we start processing of the queue as soon as one action is created?

[2020-04-26 05:17] rahulnrathodkcl commented on #534
So, I have read on some threads that deleting the tables related to action_scheduler solves the problem. So, I deleted action_scheduler related tables, but in vain, still the problem exists.

[2020-04-27 04:32] thenbrent commented on #530
@glagonikas that's largely what I was asking - have you tweaked the defaults. In particular, the `action_scheduler_queue_runner_concurrent_batches` increase there is likely what was leading to the higher concurrency (the default is 1 in AS now, whereas it used to be 5 or 10, because only WP Cron used to run actions, and only on the WP Cron request, not we have the async runner and chained, loop-ba

[2020-04-27 04:48] thenbrent commented on #531
By default, Action Scheduler only initiates a loopback request to process a queue on admin requests every 60 seconds. This "lock" or "throttle" can be seen in `ActionScheduler_QueueRunner::maybe_dispatch_async_request()`.

It is possible to start processing of the queue as soon as one action is created. There is no lock on `ActionScheduler_AsyncRequest_QueueRunner::maybe_dispatch()`, so that could

[2020-04-27 13:45] dbjpanda commented on #531
@thenbrent Thank you for a nice clarification. Definitely I will try to provide one patch if I can. But yet I haven't entered deep into the codebase. I just wanted to use its API.

I have one query. Does Actions Scheduler only start processing the queue when it is in the Admin Context? Does it mean when someone browses the WordPress dashboard then only the processing of actions is triggered? It is

[2020-04-27 13:51] rrennick commented on #531
The async runner only runs in the admin context. The cron runner runs on WP Cron and the WP CLI runner can be used adhoc or via a scheduled server cron job.

[2020-04-27 14:44] dbjpanda commented on #531
@rrennick Then there is no use of the `async runner` incase someone submits a form from the frontend. They will never get an OTP over email or SMS until and unless one Wordpress admin triggers the queue by manually browsing the WordPress dashboard.

[2020-04-27 16:04] rrennick commented on #531
Yes, the async runner requires someone to be logged into the dashboard but dashboard screens runs ajax requests in the background and loading new (or the same screen) isn't necessary.

The CRON runner runs every minute. If you are looking to have tasks triggered with less of a delay than that from the front end of the site then AS is probably not going to serve your purpose.

[2020-04-27 16:10] rrennick commented on #534
Did you make a backup of the tables before you deleted them? If so, restore those tables from the backup. Once you have done that, go through conflict testing https://docs.woocommerce.com/document/how-to-test-for-conflicts/.

[2020-04-27 16:31] rrennick opened #536 "WP shutdown hook runs on fatal error"
Action Scheduler registers the autoloader in `plugins_loaded` but doesn't initialize the data stores until `init`. If a fatal error occurs between those two hooks, the WP `shutdown` hook still runs.

I found this while investigating #516 and triggered an error in the WooCommerce initialization. Both the WC error and the AS error were logged. #498 attempted to mitigate a conflict with WP Rocket whe

[2020-04-27 16:42] rrennick commented on #516
@jessepearson Thanks for all your help on testing & reproducing the issue.

@bor0 I've created #536 to address the underlying issue. After browsing through the folder structure of WP Rocket it seems most likely that one of the libraries it uses suppresses the logging of an error (leaving just the message from the AS function call in `shutdown`). Here's my error log from looking at a PR that pulled

[2020-04-27 16:42] #516 closed

[2020-04-27 16:49] bor0 commented on #516
Thanks for the investigation @rrennick! Sounds good.

[2020-04-28 00:56] thenbrent commented on #531
An important note - the WP Cron runner also uses the async runner to chain processing in multiple loopback requests after it started in the WP Cron requeust.

If WP Cron starts processing a queue, and there are remaining actions once it reaches it process limit (~20 seconds is usually the limit reached), `maybe_dispatch()` will make an async request to run those actions.

[2020-04-28 00:57] thenbrent commented on #531
It could be made to serve this purpose relatively easily with the patch mentioned here: https://github.com/woocommerce/action-scheduler/issues/531#issuecomment-619715263

[2020-04-28 08:33] corsonr opened #537 "Use date_i18n() on outputs?"
Just wondering why `date_i18n()` isn't used here https://github.com/woocommerce/action-scheduler/blob/04eb26256455f9ff3c4a2960af14019b88c42da6/classes/ActionScheduler_wcSystemStatus.php#L123 - is that on purpose?

[2020-04-28 13:12] rahulnrathodkcl commented on #534
No I did not make the backup. But this was done, after I staged a site. So, I just deleted the staged stage, and did the same of table deletion again.

The error was shown even if the tables were not deleted.

[2020-04-28 13:14] rahulnrathodkcl commented on #534
Regarding conflict testing, will check that. But it does not seem like a conflict, as the website seem to work fine, the only problem is this error is not going away. And the database update related notification is also sitting there on admin panel.

[2020-04-28 13:45] rrennick commented on #537
@corsonr Probably for consistency. Most of the date displays in AS are in UTC. `date_i18n()` doesn't support both `$timestamp` and `$gmt` https://developer.wordpress.org/reference/functions/date_i18n/#parameters . Is there a case for changing it?

[2020-04-28 14:37] corsonr commented on #537
I guess that I should have emphasized the use of `get_option( 'date_format' )` which is what I had in mind, that's to say having dates displayed using the WP chosen date format

[2020-04-29 13:23] glagonikas commented on #530
Hi @thenbrent prior to adding the new index, i was getting deadlocks regardless of the setting on `action_scheduler_queue_runner_concurrent_batches`.

After adding the index, the deadlocks stopped. I then reinstated the filters and I haven't seen any issues, so the index seems to have fixed the issue for us.

[2020-04-29 14:30] jeremynikolic commented on #534
It seems that I am encountering a similar issue.
I started developing a plugin which integrates ActionScheduler.

The "action_scheduler/migration_hook" seems to never be triggered and there is the same message as described by @rahulnrathodkcl .
Also no other actions are running either, even if they are displayed in the scheduled actions table.

Here is what I've done so far:
- Setup ActionSchedule

[2020-04-29 14:35] rrennick commented on #534
@jeremynikolic If you are working in a dev/staging site you may need to run actions manually. WP cron relies on front end traffic to run and the async runner doesn't run in some dev/staging setups.

[2020-04-29 14:38] rrennick commented on #537
@corsonr I'd be happy to look at a PR.

[2020-04-29 14:40] jeremynikolic commented on #534
@rrennick
Yes I am running on a dev setup. I'll have a look to set it up properly then

I had the impression that ActionScheduler was being triggered by something else than frontend traffic.
Would there be alternative/solution for low traffic websites ? pinging the site from an external site ?

[2020-04-29 14:47] rrennick commented on #534
It would have to be extremely low traffic for cron to not work on live sites. Even if you have indexing disabled in your robots file, usually there are enough rogue bots to trigger cron on an ongoing basis.

AS includes [WP CLI support](https://actionscheduler.org/wp-cli/) which can be set up on a server cron task.

[2020-04-29 15:48] #536 closed

[2020-04-29 16:19] #528 closed

[2020-04-29 16:51] DavidAnderson684 opened #539 "Hideous performance of the WooCommerce 4.0 admin migration code"
I upgraded a not small (but not particularly large as things go) site, with a six-figure number of existing customers/orders, to WooCommerce 4.0 five days ago.

During those 5 days, the total number of items in a "processing" state in action scheduler (thousands) has gone *up*, not down. The unprocessed items (in the "pending" state) goes back the full 5 days still. There are several things going

[2020-04-29 16:58] DavidAnderson684 commented on #539
Action Scheduler's mechanisms surely have nothing to do with the inefficiency of WooCommerce core running migration SQL queries that fetch customer order lists one customer at a time with each query involving scanning a high percentage of rows in a table. If WC core registers and processes tasks in that manner, there's nothing AS can do to help with that.

[2020-04-29 17:01] DavidAnderson684 commented on #539
By the way, now that we've multiplied the CPU power on the MySQL server by a factor of 20 (really), and are running lots of batches concurrently via WP-CLI, the queue is now going down at a rate such that we expect it to finish after around five more days...

In the past we've written code in-house to do batch processing of existing customer orders. In the first version of the code, it made the sa

[2020-04-29 17:04] tammullen commented on #539
Thanks @DavidAnderson684 for your feedback.

cc: @rrennick for your thoughts to make sure this issue goes to the correct repository

[2020-04-29 17:18] rrennick commented on #539
@tammullen That looks like it might be triggered by woocommerce-admin but the query is likely a core one: https://github.com/woocommerce/woocommerce-admin/search?q=_customer_user&unscoped_q=_customer_user

[2020-04-29 19:16] rrennick commented on #517
We will continue the investigation into this issue on https://github.com/woocommerce/woocommerce-admin/issues/4255.

[2020-04-29 19:16] #517 closed

[2020-04-30 08:18] corsonr commented on #537
ok, I'll do one when I find a bit of time

[2020-04-30 11:53] LGx0 opened #540 "v.3.1.5"
Fatal error: Uncaught RuntimeException: Error saving action: Error saving action: Table 'b10850.wp0z_actionscheduler_actions' doesn't exist in /web/htdocs4/szegedicukraszdainfo/home/www/wp-content/plugins/action-scheduler-3.1.5/classes/migration/ActionScheduler_DBStoreMigrator.php:44 Stack trace: #0 /web/htdocs4/szegedicukraszdainfo/home/www/wp-content/plugins/action-scheduler-3.1.5/classes/data-s

[2020-04-30 12:05] rrennick commented on #540
@LGx0 Can you provide some context?

[2020-04-30 20:26] abhishek-pokhriyal opened #541 "Humongous tables"
Hey there,

Ever since I upgraded to the new version of the action scheduler (via WCS), the rate of increase in the sizes of the custom tables has really scared me out.

Table                                     | Size              | Rows
---------------------------|-------------|-------------
`actionscheduler_logs`      | `14.3 GB`    | `114256961`
`actionscheduler_actions` | `~24.5 GB` | `380862

[2020-05-01 01:15] thenbrent commented on #541
@abhishek-pokhriyal with those sizes, you might be encountering the issues reported previously in #517 and being worked on in https://github.com/woocommerce/woocommerce-admin/issues/4255.

[2020-05-01 06:35] abhishek-pokhriyal commented on #541
@thenbrent I went through the thread and it seems like it's related to woocommerce admin. In my case, however, the number of of pending actions looks believable.

### Pending actions
| hook                                                   | count(*) |
|--------------------------------------------------------|----------|
| sfn_followup_emails                                    |     1027 |
| sfn_s

[2020-05-01 12:08] rrennick commented on #541
@abhishek-pokhriyal The `canceled` and `completed` actions are automatically purged after 30 days. Based on your comments related to the migration on other issues, it looks like you may have had multiple copies of some actions.

You can temporarily shorten the purge period to 15 days with the following filter added to a plugin

[code]

Given the number of actions you have it will take a while for

[2020-05-01 12:53] abhishek-pokhriyal commented on #541
Thanks, @rrennick for getting back. I have a few things I wanted to bring to your attention:

Yes, that could be the case.

I just ran the following query and it returned `22717`. I was expecting `0`. Does it mean the purging is not working on my site?

[code]

There is something missing in the code.

Can this be an issue? I believe the default functionality of AS is to remove it anyways in 30 day

[2020-05-01 13:17] abhishek-pokhriyal commented on #541
I also wanted to bring one more thing to your attention, an issue I am facing on my staging site, and was discussing with the WooCommerce support. The source of that issue somehow looked to be connected to this one:

1. It started when I wasn't able to access the WooCommerce status page. I started getting 502.
1. To replicate, I copied my production to staging and we were able to replicate the iss

[2020-05-01 13:46] rrennick commented on #541
That's also why the purge is falling behind. You can give this SQL a try in your staging environment:

[code]

That will remove all of the completed actions for Follow Up Emails. If that works in staging then you can refresh staging (so you have a backup) and run the SQL on live when the site is at a low activity time.

[2020-05-01 13:54] lkraav commented on #541
@abhishek-pokhriyal from `mywcstore/wp-cron.php?doing_wp_cron` it looks like you haven't moved to server (pref. WP-CLI based) cron yet? You should, esp. when running a subscriptions site.

[2020-05-01 14:04] abhishek-pokhriyal commented on #541
@lkraav Is it so? I was under the impression that we've disabled WP Cron and enabled a server-level cron. I also just checked the `wp-config.php` and I could see:

[code]

Does `mywcstore/wp-cron.php?doing_wp_cron` means it's the default WP Cron and not a server-level cron?

[2020-05-01 14:51] abhishek-pokhriyal commented on #541
@rrennick I ran the first query with a modification - changed `IS` to `=`.  It's over 10 minutes since I ran this and right now I'm looking at this:

![image](https://user-images.githubusercontent.com/11808845/80814085-df1b4000-8be8-11ea-85fa-42d893034e3c.png)

Not sure if it has hung up or is still running! 🤞

[2020-05-01 15:11] abhishek-pokhriyal commented on #541
@rrennick just checking if you have any idea whether the query is computationally feasible or not? It's not one of those that take `2^256 seconds` type, right?

[2020-05-01 16:38] rrennick commented on #541
If you were doing it through PHPMyAdmin or similar it probably timed out on the server side and the browser wasn't aware of it.

You could add `LIMIT 100000` to the end of the query so it only tries to delete 100K records at a time. If that works, use the time that the query took to gauge how many rows you could delete in 10 seconds. Then use that limit to run the query multiple times delete all t

[2020-05-01 17:31] abhishek-pokhriyal commented on #541
I tried this:

[code]

But that doesn't seem to be supported `You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'LIMIT 10000' at line 6`.

Using [this StackOverflow answer](https://stackoverflow.com/a/12202674/4725018), I converted the query to this and converted the limited the results to 1.

[code]

Even then it

[2020-05-01 17:47] rrennick commented on #541
How long does the following take:
[code]

[2020-05-01 17:49] abhishek-pokhriyal commented on #541
![image](https://user-images.githubusercontent.com/11808845/80827965-2feb6280-8c02-11ea-8621-6e86bfa7325a.png)

[2020-05-01 17:51] rrennick commented on #541
Try

[code]

[2020-05-01 17:57] abhishek-pokhriyal commented on #541
This version of MySQL doesn't yet support 'LIMIT & IN/ALL/ANY/SOME subquery'

[2020-05-01 18:09] abhishek-pokhriyal commented on #541
Last resort, I've run the query via command line. Let see if that helps. Otherwise, we'll need to change the approach here, I think.

[2020-05-01 19:43] abhishek-pokhriyal commented on #541
Nothing's working guys. I got in touch with the hosting to find if there's a way to execute the query, their response was:

If anyone has experience using any of the approaches, please let me know.

[2020-05-03 20:29] Updula opened #542 "Table 'sitename.a' doesn't exist"
Hi there, I have installed latest master 3.1.5 but this is still happening

`2020/05/03 20:19:18 [error] 83354#83354: *593656 FastCGI sent in stderr: "PHP message: Error Table 'sitename.a' doesn't exist SELECT a.action_id FROM a WHERE a.hook='action_scheduler/migration_hook' AND a.status='in-progress' ORDER BY scheduled_date_gmt DESC LIMIT 1 القادم من shutdown_action_hook, do_action('shutdown'), W

[2020-05-04 13:20] rrennick commented on #541
You can move the `LIMIT` to the outer query.

[2020-05-04 14:23] rrennick commented on #542
Version 3.1.5 doesn't use the `shutdown` hook. Can you check your WC System Status Report to see which version is in use?

[2020-05-04 17:14] Updula commented on #542
@rrennick It says 3.1.4 but I uploaded the 3.1.5 release. Seems that the release it still using old version number so it's a bit confusing.

So far I didn't face the issue again - will update in next 24 hrs.

[2020-05-04 17:41] abhishek-pokhriyal commented on #541
Thanks, @rrennick for getting back. I'm doing it AJAX and `$wpdb`. Essentially, (I don't like using `IN` due to performance drawbacks but what can I do!)

[code]

- I then keep triggering this PHP code via AJAX calls.
- I have a way in frontend to control the `$limit` and have found it works well for `7000` rows at a time (works weird (stalls) for 8000).
- So far I've cleared some 30 million actio

[2020-05-04 18:03] abhishek-pokhriyal commented on #541
@rrennick Could you suggest an easy way to be sure that the purging is working once I'm done with clearing this out?

[2020-05-04 18:12] rrennick commented on #541
After you have cleared out the bulk of them the 30 days old you'll have to wait until the FUE actions get to be 30 days old again. Once there you can check the count. You had about 38M so it looks like AS may have been keeping up with purging about 1.3M actions per day.

[2020-05-05 13:31] abhishek-pokhriyal commented on #541
Hey Ron,

Thanks for all the help with this one! The script has finished its run - all the completed FUE actions and their logs have been cleared out. Sharing below the screenshot of how things are looking now with regards to AS. If you look at entries in the `Oldest Scheduled Date` column, for completed and failed status, it reports actions from February and January, respectively. I believe, due

[2020-05-05 13:50] rrennick commented on #541
Only `Canceled` and `Completed` actions are purged at 30 days. Failed ones aren't removed because you may need the info on those well after 30 days (eg. failed renewal on an annual subscription- it might be 3 months before the customer contacts the site owner).

[2020-05-05 13:53] abhishek-pokhriyal commented on #541
That makes sense, my bad I didn't realize it was failed status. Any thoughts on the `Completed` one? Do more actions require manual purging or I can wait a day and it'll get automatically purged?

[2020-05-06 06:08] abhishek-pokhriyal commented on #541
Seems like some purging did happen, the oldest `complete` scheduled action changed from `22 Feb, 2020` to `March 10, 2020`. I'm wondering why it is not `April 6, 2020` (today - 30 days). 🤔

![image](https://user-images.githubusercontent.com/11808845/81142472-653eda00-8f8d-11ea-8a45-7b3f1a0a78ac.png)

[2020-05-06 09:20] ligne13 opened #544 "Bug / Deprecated Notice with Woocommerce Bookings"
- WooCommerce 4.1.0
- WooCommerce Bookings 1.15.18

I have this PHP notice on screen:

[code]

This seems related to the Google Calendar connection, which I'm not using.

[2020-05-06 11:26] rrennick commented on #544
@ligne13 Thanks for reporting the issue. See #536, #516, and #538. cc @bor0

[2020-05-06 19:58] LGx0 commented on #540
What do you think?

[2020-05-07 02:17] thenbrent opened #545 "JIT initialize custom data stores instead of "Deprecated: shutdown" notice"
Recently, we saw an issue where the `shutdown` hook runs on fatal error, meaning code using AS on the `shutdown` hook could attempt to use data stores even if they weren't initialized, which happens on `init`. For more backstory, see https://github.com/woocommerce/action-scheduler/issues/536.

The approach taken to address this was to deprecate the use of `shutdown` for all AS related functions, s

[2020-05-07 04:02] james-allan commented on #545
One possible issue that @rrennick might have been alluding to [here](https://github.com/woocommerce/woocommerce-subscriptions/issues/3676#issuecomment-624024608), is that 3rd party plugins which hook in to override the AS datastores may not have loaded.

So for example, if an error occurs before plugins loaded is fully complete, and plugin xyz which overrides the custom datastores wasn't loaded -

[2020-05-07 05:00] thenbrent commented on #545
That's an interesting point.

Would it be safe to assume that anything calling AS functions attached to `'shutdown'` shouldn't run when this fatal error occurs? I would say yes. Meaning perhaps AS could just not do anything when it hasn't been initialized properly on `'shutdown'`.

At very least, that isolates any issues with AS not being used to the corner case of an error between `plugins_loaded

[2020-05-07 06:52] james-allan commented on #545
Yeah, that would be my opinion too. If it wasn't initialised by the time `shutdown` runs, throw an error so at least it isn't just silently exiting and do nothing.

[2020-05-07 12:41] rrennick commented on #545
I'm fairly certain either throwing an error or doing nothing would bring back portions of the original issue from Bookings.

What if we updated the deprecated logic to check for `did_action( 'init' )` and change it from a deprecated to an unsupported notice? That wouldn't fix the original issue but would eliminate notices where AS was initialized.

[2020-05-07 12:45] rrennick commented on #540
The error message says the `wp0z_actionscheduler_actions` doesn't exist. Can you check your database to see whether it exists now?

[2020-05-08 00:25] atifakbar opened #547 "Fatal Error while clicking on Product Order or WooCommerce link on workpress dashboard"
Fatal Error while clicking on Product Order or WooCommerce link on workpress dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Wordpress Dashboard '...'
2. Click on wooCommerce or under it Order or Under it Product '....'
4. See error

Fatal error: Uncaught RuntimeException: Error saving action: Unable to save action. in /homepages/33/d488813334/htdocs/app488813350/wp-content/p

[2020-05-08 03:12] thenbrent commented on #545
Action Scheduler should be the one to manage whether its data stores are initialized. We shouldn't require all plugin developers using AS to know that `'init'` needs to run for API functions to work on `shutdown`. Creating that obligation creates too much potential for 3rd parties to end up _doing it wrong_.

And more importantly, it won't actually change the resultant behaviour in this case as fa

[2020-05-08 12:16] rrennick commented on #545
I don't see that it's possible to reliably address this with a custom data store other than Bookings using a different hook.

[2020-05-08 14:59] abhishek-pokhriyal commented on #541
Looks like it took some time. Now it's looking good:
![image](https://user-images.githubusercontent.com/11808845/81417592-0afa7080-9169-11ea-8337-33859ee1ba10.png)

I'm going to close this ticket now as the original issue has been resolved. If it's possible for you to help me with one last thing: is it possible to conditionally purge logs and actions of a particular hook in less the default 30 day

[2020-05-08 14:59] #541 closed

[2020-05-08 16:06] rrennick commented on #541
No, but I think that may be something we look at for a future release.

[2020-05-08 17:01] Alessandro-4EYES opened #548 "Action_Scheduler/migration_hook keeps running"
Hi,

After an upgrade to woocommerce4.0.1, and also to the dependency Action Scheduler to 3.1.4, I see in the scheduled_actions that the migration_hook keeps running several times / hour.

Some of them are started via Async Request, others by WP-Cron.
They all start and complete, but when it starts, we have some huge lags on the site.

Thanks in advance for feedback!

[2020-05-08 17:37] rrennick commented on #548
@Alessandro-4EYES If you have a large number of actions in your install the migration will take some time. You could disable the async runner for the duration of the migration https://actionscheduler.org/version3-0/ (see `I updated to Action Scheduler 3.0+` section).

[2020-05-08 18:04] Alessandro-4EYES commented on #548
Well, this is going on for 2 weeks now

[2020-05-08 18:13] rrennick commented on #548
Try installing 3.1.5 https://github.com/woocommerce/action-scheduler/releases/tag/v3.1.5

[2020-05-08 18:38] Alessandro-4EYES commented on #548
I just did disable the async runner and did install Woocommerce update 4.1.0 (which comes with action-scheduler 3.1.5).
migration_hook did run 5 times now via WP Cron in 20minutes (4 completed, 1 cancelled).

[2020-05-11 05:21] thenbrent commented on #545
Ah OK, I think that's the part I was missing. I assumed AS didn't need to make sure the actions were scheduled. But you're right, because they would have been scheduled in AS < 3.0, and AS doesn't know whether the hooks need to be scheduled in that request (or `'shutdown'` is just being used on every request for a generic hook, so it doesn't matter if one is missed), there is a breaking change the

[2020-05-11 13:01] rrennick commented on #547
@atifakbar You are running an outdated version (3.X) of WooCommerce. I suggest you update to the latest version. If there is a reason preventing you from doing that then you'll need to look for a conflict. Our guide for that is https://docs.woocommerce.com/document/how-to-test-for-conflicts/.

[2020-05-11 13:04] rrennick commented on #548
@Alessandro-4EYES did the migration complete?

[2020-05-11 13:06] #521 closed

[2020-05-11 13:08] rrennick commented on #534
Closing this as the original error was being logged by WooCommerce 3.X.

[2020-05-11 13:08] #534 closed

[2020-05-11 13:12] Alessandro-4EYES commented on #548
No. When opening the scheduled actions view I still have the message "Action Scheduler migration in progress. The list of scheduled actions may be incomplete."

And the action_scheduler/migration_hook still runs several times a day.

![image](https://user-images.githubusercontent.com/60977153/81565322-6d39b800-9399-11ea-9a8f-aed767419ab2.png)
Async runner is still disabled in the wp-config.
I also

[2020-05-11 13:16] rrennick commented on #542
@Updula Closing this assuming the issue is resolved. If not, please let us know.

[2020-05-11 13:16] #542 closed

[2020-05-11 13:18] rrennick commented on #544
The discussion related to resolving the underlying issue occurred in #545. Closing this in favour of continuing the discussion there.

[2020-05-11 13:18] #544 closed

[2020-05-11 13:19] rrennick commented on #236
Closing this as we haven't seen a situation with 3.X where this was needed.

[2020-05-11 13:19] #236 closed

[2020-05-11 13:22] rrennick commented on #531
@dbjpanda I'm closing the issue as the original questions seem to be answered. If you were to decide to submit a PR for triggering the async runner from the front end, please let us know and we will re-open.

[2020-05-11 13:22] #531 closed

[2020-05-11 13:36] rrennick commented on #548
AS recurring actions create new actions for each run of the action. Can you check your error logs for an error?

[2020-05-11 15:17] Alessandro-4EYES commented on #548
Nothing in the debug logs of WP, and also nothing in the apache error logs.

[2020-05-11 16:09] rrennick commented on #548
Can you post the DB tables & Action Scheduler portions of your WooCommerce system status report?

[2020-05-12 02:54] thenbrent commented on #545
I think #546 is the best we're going to get. `ActionScheduler::is_initialized()` is a handy utility and it addresses my concerns about abstracting AS's init logic.

I still wish we could find a way to maintain compatibility for extensions using `'shutdown'` without imposing additional work, but like @rrennick, I don't see that it's possible to do.

@james-allan any bright ideas before we accept th

[2020-05-12 03:50] james-allan commented on #545
Not really. One possible idea would be to create a way for AS to store actions if the datastores haven't been initialised. This would act as a sort of holding area, stored temporarily in a WP core storage mechanism until we have a _"good"_ request where they are moved over to legitimate actions.

That's pretty extreme though, would require substantial work and refactoring, and very likely to cause

[2020-05-12 05:03] thenbrent commented on #545
Yep exactly what you said after that.

That's a good idea. But agreed, while it would work, it's not something we need to pursue. This is only happening in a scenario due to fatal errors. It is fair to _not_ provide handling of it.

[2020-05-12 08:50] inred-froehlich opened #549 "Fatal Error when WooCommerce is not installed"
Uncaught Error: Call to undefined function wc_help_tip() in /wp-content/plugins/my-plugin/packages/action-scheduler/classes/ActionScheduler_wcSystemStatus.php:101

[2020-05-12 09:39] Alessandro-4EYES commented on #548
Sure, here it is:

wp_actionscheduler_actions: Data: 0.06MB + Index: 0.11MB + Engine InnoDB
wp_actionscheduler_claims: Data: 0.02MB + Index: 0.02MB + Engine InnoDB
wp_actionscheduler_groups: Data: 0.02MB + Index: 0.02MB + Engine InnoDB
wp_actionscheduler_logs: Data: 0.02MB + Index: 0.03MB + Engine InnoDB

Action Scheduler ###
Complete: 119
Oldest: 2020-05-05 17:28:20 +0200
Newest: 2020-05-12 11:01

[2020-05-12 10:20] Alessandro-4EYES commented on #548
I also checked any options in the wp_options table, and 0 results were found
`SELECT * FROM wp_options where 'option_name' like '%action_scheduler%'`

[2020-05-12 12:40] rrennick commented on #548
Have you been deactivating any plugins?

[2020-05-12 12:42] Alessandro-4EYES commented on #548
We installed Jetpack latelly, but that slowed down the complete site so we decided to uninstall it.
That's all

[2020-05-12 12:44] rrennick commented on #549
@inred-froehlich Thanks for reporting the issue. Can you provide some context for the error? The WC system status screen hooked into a WooCommerce hook and is normally unused when WC is not active.

[2020-05-12 13:45] rrennick commented on #545
The issue with Bookings was a compatibility issue between Bookings and WP Rocket. The next release of Bookings will address that issue. Aside from that and the notices in the log, we have had no reported issues with 3.1.5.

[2020-05-12 13:46] rrennick commented on #548
You can add an option to the database `action_scheduler_migration_status` with a value of `complete`.

[2020-05-12 13:53] yasirhilali commented on #548
@rrennick can you direct me to a read up on how to add that option to the database? Thanks in advance.

[2020-05-12 14:23] glagonikas commented on #545
I'm referring to the
[code]
notice we see on our logs.

This was raised on [WCS 3676](https://github.com/woocommerce/woocommerce-subscriptions/issues/3676) and was closed in favour of this issue.

[2020-05-12 15:06] #545 closed

[2020-05-12 15:51] rrennick commented on #545
Yes, that's the case.

In 3.1.6, there will be a warning logged when `as_*` functions have been called when the data store hasn't been initialized. For WCS, I expect the warning won't be triggered. For the existing version of Bookings that has a Google calendar connected and has WP Rocket, they will see the warning in the error logs.

[2020-05-12 16:09] rrennick commented on #548
If you are using MySQL command line it would be

`INSERT INTO wp_options (option_name,option_value) VALUES ('action_scheduler_migration_status','complete');`

[2020-05-13 12:35] Alessandro-4EYES commented on #548
Hi @rrennick,
FYI, i've change the option in the db yesterday, but the migration_hook did run again today :)

![image](https://user-images.githubusercontent.com/60977153/81812817-f2060c80-9526-11ea-98af-68c0ae7758c4.png)

![image](https://user-images.githubusercontent.com/60977153/81812495-7efc9600-9526-11ea-90fd-72a96a62ae77.png)

[2020-05-13 12:36] rrennick commented on #548
Do you still have the notice?

[2020-05-13 12:39] Alessandro-4EYES commented on #548
No. But I still see it in the scheduled actions log. Is that normal?

[2020-05-13 12:44] rrennick commented on #548
Yes. I'll close the issue as it seems resolved.

[2020-05-13 12:44] #548 closed

[2020-05-13 16:09] rrennick opened #551 "Add is_initialized to documentation"
Update the documentation for #546.

[2020-05-14 04:41] BonnieBeeman commented on #525
I disabled WooCommerce Hold Stock setting, but the issue of all my Pending Payment orders being automatically moved to trash is still happening.

From: Brent Shepherd <notifications@github.com>
Sent: Wednesday, April 22, 2020 7:57 PM
To: woocommerce/action-scheduler <action-scheduler@noreply.github.com>
Cc: BonnieBeeman <bonnie.beeman@comcast.net>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-05-14 05:00] thenbrent commented on #525
@BonnieBeeman if haven't already, please contact support to help with this via https://WooCommerce.com/contact-us/

It's not a confirmed bug, and is likely a plugin conflict or something like that which will need a lot of back-and-forth to reproduce. As Ron mentioned previously, GitHub is for error and bug reports, or reproducable issues.

[2020-05-15 00:20] sebszocinski opened #552 "Prevent recurring actions being delayed by time previous action took to run"
We are having trouble setting an action using `as_schedule_recurring_action` to run each night at the same time (3AM).

The first night it runs at 3AM and can take up to several minutes (we are generating PDF shipping labels). The following night it will run at 3:05, then 3:10... after several weeks it's now running at 4AM, then 5AM....

We need it to run at 3AM every night regardless of how long

[2020-05-15 12:10] menakas opened #553 "get_local_timezone_string() and timezone_abbreviations_list() issues"
In the `get_local_timezone_string()` function, the integer value of [the offset is used](https://github.com/woocommerce/action-scheduler/blob/275d0ba54b1c263dfc62688de2fa9a25a373edf8/classes/abstracts/ActionScheduler_TimezoneHelper.php#L55) to guess a timezone string, which makes it inaccurate for offsets like UTC+5:30

In addition, using `timezone_abbreviations_list()` for guessing the timezone s

[2020-05-15 12:40] rrennick commented on #552
@sebszocinski Use a cron action `as_schedule_cron_action()`. See https://actionscheduler.org/api/

[2020-05-15 12:40] #552 closed

[2020-05-17 22:50] sebszocinski commented on #552
Thanks @rrennick. I feel the documentation could really be improved to explain this better... currently it does not clearly differentiate the two types (cron vs schedule)....

It could also explain the fact that by using the schedule option each day will be offset by the time the action took to run on the previous schedule...

I feel like this is a crucial "feature" to point out..

[2020-05-18 08:23] inred-froehlich commented on #549
My plugin also have a system status page like woocommerce.
So i also use this filters.
`
if ( class_exists('ActionScheduler') && ( ! defined( 'DOING_AJAX' ) || false == DOING_AJAX ) )
        {
            $admin_view = ActionScheduler::admin_view();

            add_action( 'my_plugin_admin_status_content_action-scheduler', array( $admin_view, 'render_admin_ui' ) );
            add_action( 'my_pl

[2020-05-18 12:07] rrennick commented on #549
You could submit a PR for it.

[2020-05-18 12:57] balachandar-git opened #554 "Does Action Scheduler depend on WP-Cron to execute every Minute?"
I am running WP_CRON at every 6 hours. And trying to understand that how the Action Scheduler works:
Question:
Will the Action Scheduler get initiated every 6 hours (meaning at time of my WP_CRON runs)?

Thank you in advance,
Bala

[2020-05-18 13:33] rrennick commented on #554
By default, yes. You can create a Server cron job to run actions via WP CLI on whatever schedule you want.

WP Cron only runs one scheduled event per run so if you only run it once every 6 hours it might be several days between runs (depending on how many other events are scheduled).

[2020-05-18 15:54] balachandar-git commented on #554
Thank you a lot for quick response @rrennick.

My understanding is - let say example if WP Cron runs 6 am then the Action Scheduler will get triggered and the Action Scheduler will consider past 6 hours scheduled orders and run in a single batch.
And next 12 pm when next time WP Cron runs then the Action Scheduler will get triggered and it will consider past 6 hours scheduled orders(from 6 am to 1

[2020-05-18 16:06] rrennick commented on #554
Both WordPress and WooCommerce have a number of tasks scheduled with WP Cron so AS will only be triggered if it is the task with the oldest scheduled time.

AS does start with the oldest schedule tasks. Within the context of WP cron it runs pending tasks (scheduled in the past) up to the time limit (default 30 seconds).

Is there a reason you're not running it every minute?

[2020-05-18 16:12] balachandar-git commented on #554
Yes, if we run WP Cron every minute then our Admin Dashboard is keep getting 504 error.

[2020-05-19 02:26] DevKishan opened #555 "Fatal error: Uncaught TypeError: Argument 1 passed to ActionScheduler_Abstract_Schedule::__construct() must be an instance of DateTime, null given"
While visiting Action Schedulers' page, following error gets triggered
-- Fatal error: Uncaught TypeError: Argument 1 passed to ActionScheduler_Abstract_Schedule::__construct() must be an instance of DateTime, null given , Called in
 /wp-content/plugins/sample-plugin-using-action-schedulers/libraries/action-scheduler/classes/ActionScheduler_ActionFactory.php on line 26
 and defined in
 /wp-content

[2020-05-19 11:56] rrennick commented on #555
Do you still have WPForms installed and active?

[2020-05-19 11:58] rrennick commented on #554
@balachandar-git In that case, it would probably be better to ask your hosting support for a recommended schedule.

[2020-05-19 12:01] rrennick commented on #547
Closing this for lack of feedback. If there is followup we can re-open if needed.

[2020-05-19 12:01] #547 closed

[2020-05-21 00:19] helgatheviking opened #556 "[Docs] Example for splitting up a large DB update"
Could y'all add an example in the docs of how to break a MYSQL task down into small chunks that the AS then processes in batches. Lets assume you have an enormous database and you want to limit the updates to I don't know... 20 at a time or something. How do you keep the task rescheduling itself so as to prevent moving on to the next task until it is finished?